.marketItem {
  padding: 0 5px;
  font-size: 12px;
  ul, li {
    padding: 0;
    margin: 0;
  }
  .hd {
    height: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 0;
    li {
      width: 34%;
      color: #818b95;
      font-size: 12px;
      cursor: pointer;
      display: inline-block;
      float: left;
      text-align: right;
      &.up {
        .caret {
          opacity: 1;
          border-color: transparent transparent #728eaa transparent;
          border-bottom: 4px solid #4382f7;
        }
      }
      &.down {
        .caret {
          opacity: 1;
          color: #4382f7;
        }
      }
      .caret {
        opacity: 0;
        margin-left: -1px;
        vertical-align: 3px;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
      &:first-child {
        width: 36%;
        text-align: left;
        text-indent: 15px;
      }
      &:last-child {
        width: 30%;
        text-align: right;
      }
    }
  }
  .bd {
    width: 100%;
    li {
      width: 100%;
      color: #87a3bf;
      float: none;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      div {
        display: inline-block;
        float: left;
      }
      .my_fav {
        width: 8%;
        text-align: center;
        &.favorite {
          color: #e9454d;
        }
        i {
          cursor: pointer;
        }
      }
      .list-coin {
        width: 28%;
        text-align: left;
        a {
          color: #87a3bf;
          &:hover {
            color: #4682b4;
          }
        }
      }
      .list-price {
        width: 34%;
        text-align: right;
        &.done {
          color: #40b246;
        }
        &.up {
          color: #fbfbfb;
        }
      }
      .list-btn {
        width: 30%;
        text-align: right;
        &.text-up {
          color: #fbfbfb;
        }
        &.text-down {
          color: #40b246;
        }
      }
    }

  }
}
