.w-per-80 {
  width: 80%;
  margin: 0 auto;
}

.w-per-60 {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
}
.container-block {
   padding: 20px 30px;
}

.coin-list {
  width: 100%;
  a {
    display: inline-block;
    float: left;
    width: 111px;
    border-radius: 0;
    height: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    &.is-chioce {
      border-color: #4382f7;
    }
    &.is-enabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }
    span {
      vertical-align: middle;
    }
  }
}

.deposit-currency {
  padding: 40px;
  .remind {
    color: #999999;
    strong {
      margin-left: -17px;
    }
    li {
      list-style: disc;
    }
  }
}

.deposit-qrcode {
  width: 36%;
  float: left;
  .qrcode {
    width: 100%;
    margin-top: -25px;
    margin-left: -20px;
    img {
      width: 100%;
    }
  }
}

.deposit-address {
  width: 64%;
  float: right;
  #copy {
    padding: 10px;
    height: 96px;
    word-wrap: break-word;
    overflow: auto;
    font-weight: bold;
  }
  .address-warn {
    font-size: 14px;
    color: #ff7f18; // word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .deposit-currency{
    border: none;
    padding: 40px 0 0;
    .w-per-60 {
      width: 100%;
      text-align: center;
      &>div {
        width: 100%;
      }
    }
    .deposit-qrcode {
      width: 100%;
      text-align: center;
      float: none;
      margin-bottom: 20px;
      .qrcode {
        margin-left: 0;
      }
    }
    ul {
      padding-left: 5%;
    }
  }
}
