#orders {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: #181f28;
  ul, li {
    margin: 0;
    padding: 0;
  }
  a:hover, a:active {
    text-decoration: none;
  }
  .loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
    z-index: 10
  }
  .tip_box {
    position: relative;
    height: calc(100vh - 102px);
    .loginBox {
      position: absolute;
      top: 50%;
      width: 80%;
      left: 10%;
      height: 110px;
      margin-top: -52px;
      a {
        display: block;
        width: 100%;
        height: 42px;
        text-align: center;
        line-height: 42px;
        margin-bottom: 10px;
        color: #fff;
        margin-bottom: 30px;
        &.signin {
          background: #4382f7;
          margin-bottom: 20px;
        }
        &.signup {
          background: #38475a;
        }
      }
    }
  }
  .dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
    .dia_content {
      position: absolute;
      z-index: 11;
      background: #38475a;
      width: 280px;
      left: 50%;
      top: 50%;
      padding: 10px 16px;
      margin-left: -140px;
      margin-top: -90px;
      color: #fff;
      box-shadow: 0 0 2px #000;
      p {
        font-size: 16px;
        color: #4382f7;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 25px;
      }
      .confirm_box {
        width: 220px;
        height: 32px;
        margin: 10px auto 5px;
        span {
          display: inline-block;
          float: left;
          width: 100px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          color: #fff;
        }
        .confirm {
          background: #4382f7;
          margin-right: 20px;
        }
        .cancel {
          background: #728eaa;
        }
      }

    }
  }
  .order_hd {
    padding-left: 0;
    margin: 0;
    height: 42px;
    background: #273442;
    li {
      display: inline-block;
      float: left;
      width: 32%;
      height: 42px;
      line-height: 44px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      list-style: none;
      text-transform: Capitalize;
      padding: 0;
      margin: 0;
      &:last-child {
        width: 34%;
      }
      &.check {
        color: #4382f7;
        border-bottom: 2px solid #4382f7;
      }
    }
  }
  .operate {
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    .cancel_all {
      float: right;
      padding: 0 8px;
      height: 20px;
      line-height: 19px;
      border: 1px solid #4382f7;
      color: #4382f7;
      font-size: 12px;
      margin-top: 11px;
    }
    .choose {
      width: 80%;
      &>div {
        display: inline-block;
        float: left;
        margin-right: 20px;
        color: #42637d;
        font-size: 12px;
        i {
          margin-right: 3px;
          &.fa-check-circle-o {
            display: none;
          }
        }
        &.selected {
          .fa-check-circle-o {
            display: inline-block;
            color: #4382f7;
          }
          .fa-circle-thin {
            display: none;
          }
        }
      }
    }
  }
  .order_list {
    .list {
      height: 100px;
      border-top: 1px solid #1f2a36;
      padding: 6px 16px;
      color: #fff;
      .list_top {
        height: 40px;
        .cancel {
          float: right;
          padding: 0 8px;
          height: 20px;
          line-height: 19px;
          border: 1px solid #4382f7;
          color: #4382f7;
          font-size: 12px;
          margin-top: 6px;
        }
        .list_lt {
          width: 80%;
          &>div {
            display: inline-block;
            font-size: 14px;
            // line-height: 20px;
            height: 20px;
          }
          .list_type {
            text-transform:capitalize;
            span {
              display: inline-block;
              width: 24px;
              height: 18px;
              line-height: 19px;
              font-size: 12px;
              border-radius: 2px;
              text-align: center;
              text-transform:capitalize;
              vertical-align: -1px;
              transform: scale(0.84);
            }
            &.buy {
              span {
                background: #40b246;
              }
            }
            &.sell {
              span {
                background: #e9454d;
              }
            }
          }
          &>.market {
            line-height: 20px;
            vertical-align: -2px;
          }
          &>.time {
            display: block;
            font-size: 12px;
            color: #728eaa;
          }
        }
      }
      .list_bottom {
        margin-top: 8px;
        font-size: 13px;
        &>div {
          display: inline-block;
          float: left;
          width: 36%;
          height: 20px;
          &:last-child {
            width: 28%;
            text-align: right;
          }
        }
        .num {
          line-height: 22px;
        }
        .des {
          line-height: 16px;
          font-size: 12px;
          color: #728eaa;
        }
      }
    }
  }

}
