#markets {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: #181f28;
}
.marketsHd {
  height: 42px;
  background: #273442;
  padding: 0;
  margin-bottom: 0;
  li {
    display: inline-block;
    width: 33.3%;
    height: 42px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    &.check {
      color: #4382f7;
      border-bottom: 2px solid #4382f7;
    }
  }
}
.marketBd {
  padding-left: 0;
}
