.boot{
  background-color: #fff;
  min-height: 70vh;
  margin-top: 8px;
}

.boot-vaildata{
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 3px;
  @include sprite($bootvaildate)
}
