.btc-tableRemark{
  float: right;
  color: #999999;
  font-size: 12px;
}

td[class=btc-tablehover]{
  display: block;
  width: 380px!important;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.btc-table-container{
  background: #fff;
  margin-top: 10px;
  overflow: auto;
}

.btc-table{
  color: #666666;
  padding: 8px 15px;
}

.btc-table table{
  margin-bottom: 0;
  font-size: 12px;
}

.btc-table caption{
  color: #000;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 7px;
  padding-top: 4px;
}

.btc-table tbody tr td{
    text-align: center;
    border: none;
    white-space: nowrap;
}

.btc-tableTextright{
  text-align: left!important;
}

.btc-tableTextleft{
  text-align: right!important;
}

.btc-table-record > div{
  margin: 70px 0;
}

.btc-table-more{
  padding-top: 6px;
  margin-top: 6px;
  font-size: 12px;
}

@media(max-width: 1200px){
  td[class=btc-tablehover]{
    width: 240px!important;
  }
}

@media(max-width: 692px){
  td[class=btc-tablehover]{
    width: 160px!important;
  }
}
