/build/
/config/
/dist/
/*.js
/src/common/js/i18n
/src/axios.js
/src/common/js/validation
/src/components/Pages/WithdrawCurrency/WithdrawCurrency.vue
/src/components/Pages/validate/Identity/Identity.vue
/src/store/mutations.js
