#lastPrice {
  display: inline-block;
  vertical-align: middle;
  ul {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: inline-block;
      float: left;
      margin-left: 40px;
      font-size: 12px;
      text-align: left;
      .name {
        color: #87a3bf;
        font-size: 12px;
        display: block;
        margin-bottom: 4px;
      }
      .value {
        color: #fff;
      }
    }
  }
}
