.news-animation{
  color: #fc4a4a;
  // position: absolute;
}

.newsPrompt{
  transition: all 0.5s;
}
.prompt-enter, .prompt-leave-to {
  transform: translateX(30px);
  // position: absolute;
  opacity: 0;
}

// .newsPrompt{
//   height: 22px;
//   display: inline-block;
//   width: 100%;
// }
