#exchange {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 12px;
  background: #1f344e;
  min-width: 1200px;
  min-height: 768px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  .up {
    color: #40b246;
  }
  .down {
    color: #e9454d;
  }
  header {
    height: 60px;
    width: 100%;
    padding: 10px 0;
    background: #1f3651;
    vertical-align: -4px;
    .logo {
      display: inline-block;
      width: 88px;
      margin-left: 15px;
      line-height: 40px;
      img {
        width: 100%;
      }
    }
    .header_rt {
      float: right;
    }
  }
  .w240 {
    display: inline-block;
    width: 240px;
    background: #101622;
    height: 100%;
    float: left;
  }
  .content {
    display: inline-block;
    float: left;
    height: calc(100vh - 63px);
    width: calc(100% - 490px);
    min-height: 705px;
    min-width: 708px;
    margin: 3px 2px 0 2px;
    .top_content {
      width: 100%;
      height: calc(100% - 219px);
      margin-bottom: 2px;
      .chart {
        display: inline-block;
        float: right;
        width: calc(100% - 243px);
        height: 100%;
        background: #101622;
      }
    }
    .my_order {
      width: 100%;
      height: 216px;
      background: #232e3a;
    }
  }
  .list {
    display: inline-block;
    float: right;
    width: 483px;
    height: calc(100vh - 63px);
    margin-top: 3px;
    margin-right: 3px;
    &>div {
      background: none;
      height: 100%;
      min-height: 705px;
    }
    .list_lt {
      float: left;
    }
    .list_rt {
      float: right;
    }
    .list_box {
      height: calc(100% - 267px);
      min-height: 438px;
      overflow-y:hidden;
      background: #232e3a;
      margin-bottom: 2px;
    }
    .order {
      background: #101622;
      height: 264px;
    }
  }
  .vue-scrollbar__scrollbar-vertical:hover, .vue-scrollbar__scrollbar-horizontal {
    background: none;
    width: 5px;
  }
  .vue-scrollbar__scrollbar-vertical .scrollbar {
    width: 5px;
    background: #38475a;
    border-radius: 2px;
  }
  .vue-scrollbar__scrollbar-vertical {
    width: 5px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      background: #293f60;
    }
    50% {
      opacity: 0.8;
      background: #293f60;
    }
    100% {
      opacity: 1;
      background: none;
    }
  }
  @keyframes fadeOut{
    0% {
      opacity: 1;
      background: #293f60;
    }
    50% {
      opacity: 0.6;
      background: #293f60;
    }
    100% {
      opacity: 0;
      background: none;
    }
  }
  .slide-fade-enter-active {
    animation: fadeIn 1s ease;
  }
  .slide-fade-leave-active {
    // animation: fadeOut 1s ease;
  }
  .slide-fade-move {
    transition: transform 1s;
  }
  .fade-enter-active {
    transition: all .8s ease;
  }
  .fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
