.validateIdentity{
  padding: 12px 190px 15px;
  .validateIdentity-uploadimg .UploadExplain{
    margin-top: 10px
  }
}

.validateIdentity .UploadExplain{
  // width: 140px;
}

.validateIdentity .Upload-block{
  // margin-top: 15px;
}

.validateIdentity footer{
  overflow: hidden;
}

.validateIdentity footer button{
  margin-top: 15px;
}

.validateIdentity input[type='file']{
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
}

.validateIdentity{
  input[type='radio']{
    position: relative;
    top: 2px
  }
  .news-prompt{
    height: 26px;
    right: -75px;
  }
}

// .basicInput{
//   width: 360px;
// }

.UploadExplain:first-child{
  margin-top: 200px
}

.title{
  padding-bottom: 13px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 17px;
}

.basicselect{
  border: none;
  border: 1px solid #dfe0e1;
  border-right: none;
  height: 32px;
  width: 100%;
  padding-left: 7px;
}

.indentity-prompt{
  position: relative;
  padding-bottom: 25px;
  .newsPrompt{
    position: absolute;
    bottom: 0;
    right: 0;
    .news-animation{
      position: relative;
    }
  }
}

@media (max-width: 990px){
  .validateIdentity{
    padding: 12px 100px 15px;
  }
  .b-t{
    border-top:none;
  }
}
@media (max-width: 550px){
  .validateIdentity{
    padding: 12px 10px 15px;
  }
}
