.btc-MarketMaker{
  overflow: hidden;
  header {
    margin: 46px 0;
    padding: 0 24px;
    >a{
      font-size: 16px
    }
    >div{
      float: right;
      position: relative;
      top: -14px;
    }
  }
  table{
    width: 100%;
    max-width: 100%;
    min-width: 920px;
    th{
      font-weight: 100;
      padding-bottom: 12px;
      width: 14.28%;
      word-break: break-all;
      white-space: nowrap;
      padding-right: 16px;
    }
    tr{
      border-bottom: 1px solid #f2f2f2;
      >td{
        word-break: break-all;
        padding: 32px 0;
        white-space: nowrap;
      }
      >:nth-child(1){
        padding-left: 24px;
      }
      >:nth-child(7){
        padding-right: 24px;
      }
    }
    thead{
      >:nth-child(1){
        padding: 0;
      }
    }
    .color-red{
      color: #e9454d;
    }
    .color-green{
      color: #00c4a2;
    }
  }
  .btc-MarketMaker-norecord{
    text-align: center;
  }
}

.btc-lang-long{
  .btc-MarketMaker header > div{
    float: none;
    margin-top: 15px;
    top: 0;
  }
}

@media (max-width: 992px) {
  .btc-MarketMaker header > div{
    float: none;
    margin-top: 15px;
    top: 0;
  }
  .btc-lang-long{
    .btc-MarketMaker header > div{
      >:nth-child(2){
        margin-top: 13px;
        margin-left: 0;
      }
    }
  }
}
