.chart-page {
  background: none;
}
.tv-side-toolbar .button svg {
  fill:  #728eaa;
}
.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active, .tv-side-toolbar .tools-group
.button.active .side, .tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected{
  background: #38475a;
}

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
 .feature-no-touch .tv-side-toolbar .tools-group .button:hover,
 .feature-touch .tv-side-toolbar .tools-group .button:active,
 .properties-toolbar .tools-group .button, .tv-side-toolbar .tools-group .button.active,
 .tv-side-toolbar .tools-group .button.selected {
    background-color: #38475a;
    border-color: #38475a;
}
.tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before{
  background: none;
}
.chart-page .chart-container {
  border: 0;
  background: none;
}
.tv-side-toolbar {
  border: 0;
}
.drawing-favorites-toolbar .tools-group .button, .properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button {
  border: 0;
}

.tv-side-toolbar .tools-group .button .side {
  border-color: #38475a;
}
.tv-side-toolbar .tools-group .button .side svg {
  fill: #ffffff;
}
/* .tv-floating-toolbar {
  background: #232e3a;
} */
.favored-list-container span.submenu.interval-dialog-button {
  display: none;
}
.favored-list-container span {
  background: #38475a;
  border-color: #38475a;
  color: #fff;
}
.chart-top-toolbar .space-single, .header-chart-panel .space-single span {
  background: #38475a;
  border-color: #38475a;
  color: #fff;
}
.button.properties svg,.button.indicators svg {
  fill: #728eaa;
}
.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button, .hotlist-controls .button,
.symbol-edit-widget .button {
  background: #38475a;
  border-color: #38475a;
}
.header-chart-panel .button:hover:before {
  border-color: #728eaa
}
.loading-indicator {
  background: #38475a;
}
.favored-list-container.study-template-widget .submenu {
  display: none;
}
.feature-no-touch .favored-list-container span:hover,
.favored-list-container.active span.submenu,
.favored-list-container span.submenu.active,
.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover,
.favored-list-container.active span.submenu,
.favored-list-container span.submenu.active {
  background: #38475a !important;
  color: #fff;
  border: 1px solid #728eaa;
}
.tv-side-toolbar .tools-group .button .main.text-as-icon {
  color: #728eaa;
}
.button.fullscreen svg {
  fill: #728eaa;
}
.charts-popup-list .item span {
  display: none;
}
.feature-no-touch .button.properties:hover svg {
  fill: #728eaa!important;
}
.feature-no-touch ._tv-dialog .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before {
  border: 1px solid #728eaa;
}

.left .group a:hover {
  border: 1px solid #728eaa !important;
}
.bottom-widgetbar-content.backtesting .button.active, .ch-controls .button.active, .feature-no-touch .bottom-widgetbar-content.backtesting .button:active,
.feature-no-touch .ch-controls .button:active, .feature-no-touch .header-chart-panel .button.active:hover, .feature-no-touch .header-chart-panel .button:active,
.feature-no-touch .hotlist-controls .button:active, .feature-no-touch .save-load-buttons .active:hover, .feature-no-touch .save-load-buttons a:not(.link):active,
.feature-no-touch .symbol-edit-widget .button:active, .feature-touch .bottom-widgetbar-content.backtesting .button:active,
.feature-touch .ch-controls .button:active, .feature-touch .header-chart-panel .button:active, .feature-touch .hotlist-controls .button:active,
.feature-touch .save-load-buttons a:not(.link):active, .feature-touch .symbol-edit-widget .button:active, .header-chart-panel .button.active,
.hotlist-controls .button.active, .save-load-buttons .active, .symbol-edit-widget .button.active {
  background: #13202e  !important;
  border: 1px solid #13202e !important;
}

.button.fullscreen, .header-chart-panel .button.fullscreen:hover {
  border: 1px solid #728eaa;
}
