// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$account-email-name: 'account-email';
$account-email-x: 272px;
$account-email-y: 98px;
$account-email-offset-x: -272px;
$account-email-offset-y: -98px;
$account-email-width: 36px;
$account-email-height: 38px;
$account-email-total-width: 312px;
$account-email-total-height: 270px;
$account-email-image: '~@/common/img/sprite.png';
$account-email: (272px, 98px, -272px, -98px, 36px, 38px, 312px, 270px, '~@/common/img/sprite.png', 'account-email', );
$account-false-name: 'account-false';
$account-false-x: 44px;
$account-false-y: 226px;
$account-false-offset-x: -44px;
$account-false-offset-y: -226px;
$account-false-width: 18px;
$account-false-height: 18px;
$account-false-total-width: 312px;
$account-false-total-height: 270px;
$account-false-image: '~@/common/img/sprite.png';
$account-false: (44px, 226px, -44px, -226px, 18px, 18px, 312px, 270px, '~@/common/img/sprite.png', 'account-false', );
$account-identity-name: 'account-identity';
$account-identity-x: 272px;
$account-identity-y: 60px;
$account-identity-offset-x: -272px;
$account-identity-offset-y: -60px;
$account-identity-width: 36px;
$account-identity-height: 38px;
$account-identity-total-width: 312px;
$account-identity-total-height: 270px;
$account-identity-image: '~@/common/img/sprite.png';
$account-identity: (272px, 60px, -272px, -60px, 36px, 38px, 312px, 270px, '~@/common/img/sprite.png', 'account-identity', );
$account-phone-name: 'account-phone';
$account-phone-x: 272px;
$account-phone-y: 136px;
$account-phone-offset-x: -272px;
$account-phone-offset-y: -136px;
$account-phone-width: 28px;
$account-phone-height: 40px;
$account-phone-total-width: 312px;
$account-phone-total-height: 270px;
$account-phone-image: '~@/common/img/sprite.png';
$account-phone: (272px, 136px, -272px, -136px, 28px, 40px, 312px, 270px, '~@/common/img/sprite.png', 'account-phone', );
$account-right-name: 'account-right';
$account-right-x: 62px;
$account-right-y: 226px;
$account-right-offset-x: -62px;
$account-right-offset-y: -226px;
$account-right-width: 18px;
$account-right-height: 18px;
$account-right-total-width: 312px;
$account-right-total-height: 270px;
$account-right-image: '~@/common/img/sprite.png';
$account-right: (62px, 226px, -62px, -226px, 18px, 18px, 312px, 270px, '~@/common/img/sprite.png', 'account-right', );
$account-unverified-name: 'account-unverified';
$account-unverified-x: 192px;
$account-unverified-y: 160px;
$account-unverified-offset-x: -192px;
$account-unverified-offset-y: -160px;
$account-unverified-width: 12px;
$account-unverified-height: 12px;
$account-unverified-total-width: 312px;
$account-unverified-total-height: 270px;
$account-unverified-image: '~@/common/img/sprite.png';
$account-unverified: (192px, 160px, -192px, -160px, 12px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'account-unverified', );
$account-validate-true-name: 'account-validate-true';
$account-validate-true-x: 300px;
$account-validate-true-y: 152px;
$account-validate-true-offset-x: -300px;
$account-validate-true-offset-y: -152px;
$account-validate-true-width: 12px;
$account-validate-true-height: 12px;
$account-validate-true-total-width: 312px;
$account-validate-true-total-height: 270px;
$account-validate-true-image: '~@/common/img/sprite.png';
$account-validate-true: (300px, 152px, -300px, -152px, 12px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'account-validate-true', );
$account-verifying-name: 'account-verifying';
$account-verifying-x: 300px;
$account-verifying-y: 164px;
$account-verifying-offset-x: -300px;
$account-verifying-offset-y: -164px;
$account-verifying-width: 12px;
$account-verifying-height: 12px;
$account-verifying-total-width: 312px;
$account-verifying-total-height: 270px;
$account-verifying-image: '~@/common/img/sprite.png';
$account-verifying: (300px, 164px, -300px, -164px, 12px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'account-verifying', );
$assert-name: 'assert';
$assert-x: 241px;
$assert-y: 199px;
$assert-offset-x: -241px;
$assert-offset-y: -199px;
$assert-width: 14px;
$assert-height: 13px;
$assert-total-width: 312px;
$assert-total-height: 270px;
$assert-image: '~@/common/img/sprite.png';
$assert: (241px, 199px, -241px, -199px, 14px, 13px, 312px, 270px, '~@/common/img/sprite.png', 'assert', );
$asset-freeze-name: 'asset-freeze';
$asset-freeze-x: 300px;
$asset-freeze-y: 136px;
$asset-freeze-offset-x: -300px;
$asset-freeze-offset-y: -136px;
$asset-freeze-width: 12px;
$asset-freeze-height: 16px;
$asset-freeze-total-width: 312px;
$asset-freeze-total-height: 270px;
$asset-freeze-image: '~@/common/img/sprite.png';
$asset-freeze: (300px, 136px, -300px, -136px, 12px, 16px, 312px, 270px, '~@/common/img/sprite.png', 'asset-freeze', );
$asset-total-name: 'asset-total';
$asset-total-x: 197px;
$asset-total-y: 199px;
$asset-total-offset-x: -197px;
$asset-total-offset-y: -199px;
$asset-total-width: 16px;
$asset-total-height: 14px;
$asset-total-total-width: 312px;
$asset-total-total-height: 270px;
$asset-total-image: '~@/common/img/sprite.png';
$asset-total: (197px, 199px, -197px, -199px, 16px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'asset-total', );
$bootvaildate-name: 'bootvaildate';
$bootvaildate-x: 272px;
$bootvaildate-y: 0px;
$bootvaildate-offset-x: -272px;
$bootvaildate-offset-y: 0px;
$bootvaildate-width: 40px;
$bootvaildate-height: 60px;
$bootvaildate-total-width: 312px;
$bootvaildate-total-height: 270px;
$bootvaildate-image: '~@/common/img/sprite.png';
$bootvaildate: (272px, 0px, -272px, 0px, 40px, 60px, 312px, 270px, '~@/common/img/sprite.png', 'bootvaildate', );
$delete-name: 'delete';
$delete-x: 297px;
$delete-y: 176px;
$delete-offset-x: -297px;
$delete-offset-y: -176px;
$delete-width: 15px;
$delete-height: 15px;
$delete-total-width: 312px;
$delete-total-height: 270px;
$delete-image: '~@/common/img/sprite.png';
$delete: (297px, 176px, -297px, -176px, 15px, 15px, 312px, 270px, '~@/common/img/sprite.png', 'delete', );
$form-select-name: 'form-select';
$form-select-x: 80px;
$form-select-y: 226px;
$form-select-offset-x: -80px;
$form-select-offset-y: -226px;
$form-select-width: 18px;
$form-select-height: 18px;
$form-select-total-width: 312px;
$form-select-total-height: 270px;
$form-select-image: '~@/common/img/sprite.png';
$form-select: (80px, 226px, -80px, -226px, 18px, 18px, 312px, 270px, '~@/common/img/sprite.png', 'form-select', );
$header-avatarlog-name: 'header-avatarlog';
$header-avatarlog-x: 165px;
$header-avatarlog-y: 226px;
$header-avatarlog-offset-x: -165px;
$header-avatarlog-offset-y: -226px;
$header-avatarlog-width: 14px;
$header-avatarlog-height: 15px;
$header-avatarlog-total-width: 312px;
$header-avatarlog-total-height: 270px;
$header-avatarlog-image: '~@/common/img/sprite.png';
$header-avatarlog: (165px, 226px, -165px, -226px, 14px, 15px, 312px, 270px, '~@/common/img/sprite.png', 'header-avatarlog', );
$header-havatarlog-name: 'header-Havatarlog';
$header-havatarlog-x: 151px;
$header-havatarlog-y: 226px;
$header-havatarlog-offset-x: -151px;
$header-havatarlog-offset-y: -226px;
$header-havatarlog-width: 14px;
$header-havatarlog-height: 15px;
$header-havatarlog-total-width: 312px;
$header-havatarlog-total-height: 270px;
$header-havatarlog-image: '~@/common/img/sprite.png';
$header-havatarlog: (151px, 226px, -151px, -226px, 14px, 15px, 312px, 270px, '~@/common/img/sprite.png', 'header-Havatarlog', );
$header-hletterlog-name: 'header-Hletterlog';
$header-hletterlog-x: 179px;
$header-hletterlog-y: 160px;
$header-hletterlog-offset-x: -179px;
$header-hletterlog-offset-y: -160px;
$header-hletterlog-width: 13px;
$header-hletterlog-height: 12px;
$header-hletterlog-total-width: 312px;
$header-hletterlog-total-height: 270px;
$header-hletterlog-image: '~@/common/img/sprite.png';
$header-hletterlog: (179px, 160px, -179px, -160px, 13px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'header-Hletterlog', );
$header-hlog-name: 'header-Hlog';
$header-hlog-x: 51px;
$header-hlog-y: 176px;
$header-hlog-offset-x: -51px;
$header-hlog-offset-y: -176px;
$header-hlog-width: 88px;
$header-hlog-height: 23px;
$header-hlog-total-width: 312px;
$header-hlog-total-height: 270px;
$header-hlog-image: '~@/common/img/sprite.png';
$header-hlog: (51px, 176px, -51px, -176px, 88px, 23px, 312px, 270px, '~@/common/img/sprite.png', 'header-Hlog', );
$header-hticket-name: 'header-Hticket';
$header-hticket-x: 179px;
$header-hticket-y: 199px;
$header-hticket-offset-x: -179px;
$header-hticket-offset-y: -199px;
$header-hticket-width: 18px;
$header-hticket-height: 14px;
$header-hticket-total-width: 312px;
$header-hticket-total-height: 270px;
$header-hticket-image: '~@/common/img/sprite.png';
$header-hticket: (179px, 199px, -179px, -199px, 18px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'header-Hticket', );
$header-letterlog-name: 'header-letterlog';
$header-letterlog-x: 166px;
$header-letterlog-y: 160px;
$header-letterlog-offset-x: -166px;
$header-letterlog-offset-y: -160px;
$header-letterlog-width: 13px;
$header-letterlog-height: 12px;
$header-letterlog-total-width: 312px;
$header-letterlog-total-height: 270px;
$header-letterlog-image: '~@/common/img/sprite.png';
$header-letterlog: (166px, 160px, -166px, -160px, 13px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'header-letterlog', );
$header-more-name: 'header-more';
$header-more-x: 51px;
$header-more-y: 199px;
$header-more-offset-x: -51px;
$header-more-offset-y: -199px;
$header-more-width: 42px;
$header-more-height: 24px;
$header-more-total-width: 312px;
$header-more-total-height: 270px;
$header-more-image: '~@/common/img/sprite.png';
$header-more: (51px, 199px, -51px, -199px, 42px, 24px, 312px, 270px, '~@/common/img/sprite.png', 'header-more', );
$header-ticket-name: 'header-ticket';
$header-ticket-x: 161px;
$header-ticket-y: 199px;
$header-ticket-offset-x: -161px;
$header-ticket-offset-y: -199px;
$header-ticket-width: 18px;
$header-ticket-height: 14px;
$header-ticket-total-width: 312px;
$header-ticket-total-height: 270px;
$header-ticket-image: '~@/common/img/sprite.png';
$header-ticket: (161px, 199px, -161px, -199px, 18px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'header-ticket', );
$hint-error-name: 'hint-error';
$hint-error-x: 0px;
$hint-error-y: 226px;
$hint-error-offset-x: 0px;
$hint-error-offset-y: -226px;
$hint-error-width: 44px;
$hint-error-height: 44px;
$hint-error-total-width: 312px;
$hint-error-total-height: 270px;
$hint-error-image: '~@/common/img/sprite.png';
$hint-error: (0px, 226px, 0px, -226px, 44px, 44px, 312px, 270px, '~@/common/img/sprite.png', 'hint-error', );
$hint-success-name: 'hint-success';
$hint-success-x: 216px;
$hint-success-y: 112px;
$hint-success-offset-x: -216px;
$hint-success-offset-y: -112px;
$hint-success-width: 52px;
$hint-success-height: 52px;
$hint-success-total-width: 312px;
$hint-success-total-height: 270px;
$hint-success-image: '~@/common/img/sprite.png';
$hint-success: (216px, 112px, -216px, -112px, 52px, 52px, 312px, 270px, '~@/common/img/sprite.png', 'hint-success', );
$hint-warn-name: 'hint-warn';
$hint-warn-x: 166px;
$hint-warn-y: 116px;
$hint-warn-offset-x: -166px;
$hint-warn-offset-y: -116px;
$hint-warn-width: 44px;
$hint-warn-height: 44px;
$hint-warn-total-width: 312px;
$hint-warn-total-height: 270px;
$hint-warn-image: '~@/common/img/sprite.png';
$hint-warn: (166px, 116px, -166px, -116px, 44px, 44px, 312px, 270px, '~@/common/img/sprite.png', 'hint-warn', );
$home-aboutus-name: 'home-aboutus';
$home-aboutus-x: 139px;
$home-aboutus-y: 176px;
$home-aboutus-offset-x: -139px;
$home-aboutus-offset-y: -176px;
$home-aboutus-width: 22px;
$home-aboutus-height: 22px;
$home-aboutus-total-width: 312px;
$home-aboutus-total-height: 270px;
$home-aboutus-image: '~@/common/img/sprite.png';
$home-aboutus: (139px, 176px, -139px, -176px, 22px, 22px, 312px, 270px, '~@/common/img/sprite.png', 'home-aboutus', );
$home-api-name: 'home-api';
$home-api-x: 272px;
$home-api-y: 176px;
$home-api-offset-x: -272px;
$home-api-offset-y: -176px;
$home-api-width: 25px;
$home-api-height: 25px;
$home-api-total-width: 312px;
$home-api-total-height: 270px;
$home-api-image: '~@/common/img/sprite.png';
$home-api: (272px, 176px, -272px, -176px, 25px, 25px, 312px, 270px, '~@/common/img/sprite.png', 'home-api', );
$home-application-name: 'home-application';
$home-application-x: 138px;
$home-application-y: 80px;
$home-application-offset-x: -138px;
$home-application-offset-y: -80px;
$home-application-width: 16px;
$home-application-height: 20px;
$home-application-total-width: 312px;
$home-application-total-height: 270px;
$home-application-image: '~@/common/img/sprite.png';
$home-application: (138px, 80px, -138px, -80px, 16px, 20px, 312px, 270px, '~@/common/img/sprite.png', 'home-application', );
$home-apply-name: 'home-apply';
$home-apply-x: 161px;
$home-apply-y: 176px;
$home-apply-offset-x: -161px;
$home-apply-offset-y: -176px;
$home-apply-width: 22px;
$home-apply-height: 22px;
$home-apply-total-width: 312px;
$home-apply-total-height: 270px;
$home-apply-image: '~@/common/img/sprite.png';
$home-apply: (161px, 176px, -161px, -176px, 22px, 22px, 312px, 270px, '~@/common/img/sprite.png', 'home-apply', );
$home-contact-name: 'home-contact';
$home-contact-x: 272px;
$home-contact-y: 201px;
$home-contact-offset-x: -272px;
$home-contact-offset-y: -201px;
$home-contact-width: 20px;
$home-contact-height: 25px;
$home-contact-total-width: 312px;
$home-contact-total-height: 270px;
$home-contact-image: '~@/common/img/sprite.png';
$home-contact: (272px, 201px, -272px, -201px, 20px, 25px, 312px, 270px, '~@/common/img/sprite.png', 'home-contact', );
$home-hide-name: 'home-hide';
$home-hide-x: 230px;
$home-hide-y: 164px;
$home-hide-offset-x: -230px;
$home-hide-offset-y: -164px;
$home-hide-width: 21px;
$home-hide-height: 8px;
$home-hide-total-width: 312px;
$home-hide-total-height: 270px;
$home-hide-image: '~@/common/img/sprite.png';
$home-hide: (230px, 164px, -230px, -164px, 21px, 8px, 312px, 270px, '~@/common/img/sprite.png', 'home-hide', );
$home-log-name: 'home-log';
$home-log-x: 0px;
$home-log-y: 80px;
$home-log-offset-x: 0px;
$home-log-offset-y: -80px;
$home-log-width: 138px;
$home-log-height: 36px;
$home-log-total-width: 312px;
$home-log-total-height: 270px;
$home-log-image: '~@/common/img/sprite.png';
$home-log: (0px, 80px, 0px, -80px, 138px, 36px, 312px, 270px, '~@/common/img/sprite.png', 'home-log', );
$home-open-name: 'home-open';
$home-open-x: 141px;
$home-open-y: 199px;
$home-open-offset-x: -141px;
$home-open-offset-y: -199px;
$home-open-width: 20px;
$home-open-height: 14px;
$home-open-total-width: 312px;
$home-open-total-height: 270px;
$home-open-image: '~@/common/img/sprite.png';
$home-open: (141px, 199px, -141px, -199px, 20px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'home-open', );
$home-privacy-name: 'home-privacy';
$home-privacy-x: 183px;
$home-privacy-y: 176px;
$home-privacy-offset-x: -183px;
$home-privacy-offset-y: -176px;
$home-privacy-width: 21px;
$home-privacy-height: 20px;
$home-privacy-total-width: 312px;
$home-privacy-total-height: 270px;
$home-privacy-image: '~@/common/img/sprite.png';
$home-privacy: (183px, 176px, -183px, -176px, 21px, 20px, 312px, 270px, '~@/common/img/sprite.png', 'home-privacy', );
$home-search-name: 'home-search';
$home-search-x: 179px;
$home-search-y: 226px;
$home-search-offset-x: -179px;
$home-search-offset-y: -226px;
$home-search-width: 13px;
$home-search-height: 13px;
$home-search-total-width: 312px;
$home-search-total-height: 270px;
$home-search-image: '~@/common/img/sprite.png';
$home-search: (179px, 226px, -179px, -226px, 13px, 13px, 312px, 270px, '~@/common/img/sprite.png', 'home-search', );
$homemarket-both-name: 'homemarket-both';
$homemarket-both-x: 93px;
$homemarket-both-y: 213px;
$homemarket-both-offset-x: -93px;
$homemarket-both-offset-y: -213px;
$homemarket-both-width: 8px;
$homemarket-both-height: 10px;
$homemarket-both-total-width: 312px;
$homemarket-both-total-height: 270px;
$homemarket-both-image: '~@/common/img/sprite.png';
$homemarket-both: (93px, 213px, -93px, -213px, 8px, 10px, 312px, 270px, '~@/common/img/sprite.png', 'homemarket-both', );
$homemarket-down-name: 'homemarket-down';
$homemarket-down-x: 204px;
$homemarket-down-y: 160px;
$homemarket-down-offset-x: -204px;
$homemarket-down-offset-y: -160px;
$homemarket-down-width: 8px;
$homemarket-down-height: 10px;
$homemarket-down-total-width: 312px;
$homemarket-down-total-height: 270px;
$homemarket-down-image: '~@/common/img/sprite.png';
$homemarket-down: (204px, 160px, -204px, -160px, 8px, 10px, 312px, 270px, '~@/common/img/sprite.png', 'homemarket-down', );
$homemarket-up-name: 'homemarket-up';
$homemarket-up-x: 261px;
$homemarket-up-y: 176px;
$homemarket-up-offset-x: -261px;
$homemarket-up-offset-y: -176px;
$homemarket-up-width: 8px;
$homemarket-up-height: 10px;
$homemarket-up-total-width: 312px;
$homemarket-up-total-height: 270px;
$homemarket-up-image: '~@/common/img/sprite.png';
$homemarket-up: (261px, 176px, -261px, -176px, 8px, 10px, 312px, 270px, '~@/common/img/sprite.png', 'homemarket-up', );
$homepage-api-name: 'homepage-api';
$homepage-api-x: 216px;
$homepage-api-y: 56px;
$homepage-api-offset-x: -216px;
$homepage-api-offset-y: -56px;
$homepage-api-width: 56px;
$homepage-api-height: 56px;
$homepage-api-total-width: 312px;
$homepage-api-total-height: 270px;
$homepage-api-image: '~@/common/img/sprite.png';
$homepage-api: (216px, 56px, -216px, -56px, 56px, 56px, 312px, 270px, '~@/common/img/sprite.png', 'homepage-api', );
$homepage-apply-name: 'homepage-apply';
$homepage-apply-x: 154px;
$homepage-apply-y: 0px;
$homepage-apply-offset-x: -154px;
$homepage-apply-offset-y: 0px;
$homepage-apply-width: 62px;
$homepage-apply-height: 62px;
$homepage-apply-total-width: 312px;
$homepage-apply-total-height: 270px;
$homepage-apply-image: '~@/common/img/sprite.png';
$homepage-apply: (154px, 0px, -154px, 0px, 62px, 62px, 312px, 270px, '~@/common/img/sprite.png', 'homepage-apply', );
$homepage-clause-name: 'homepage-clause';
$homepage-clause-x: 54px;
$homepage-clause-y: 116px;
$homepage-clause-offset-x: -54px;
$homepage-clause-offset-y: -116px;
$homepage-clause-width: 56px;
$homepage-clause-height: 56px;
$homepage-clause-total-width: 312px;
$homepage-clause-total-height: 270px;
$homepage-clause-image: '~@/common/img/sprite.png';
$homepage-clause: (54px, 116px, -54px, -116px, 56px, 56px, 312px, 270px, '~@/common/img/sprite.png', 'homepage-clause', );
$homepage-rate-name: 'homepage-rate';
$homepage-rate-x: 216px;
$homepage-rate-y: 0px;
$homepage-rate-offset-x: -216px;
$homepage-rate-offset-y: 0px;
$homepage-rate-width: 56px;
$homepage-rate-height: 56px;
$homepage-rate-total-width: 312px;
$homepage-rate-total-height: 270px;
$homepage-rate-image: '~@/common/img/sprite.png';
$homepage-rate: (216px, 0px, -216px, 0px, 56px, 56px, 312px, 270px, '~@/common/img/sprite.png', 'homepage-rate', );
$homepage-us-name: 'homepage-us';
$homepage-us-x: 110px;
$homepage-us-y: 116px;
$homepage-us-offset-x: -110px;
$homepage-us-offset-y: -116px;
$homepage-us-width: 56px;
$homepage-us-height: 56px;
$homepage-us-total-width: 312px;
$homepage-us-total-height: 270px;
$homepage-us-image: '~@/common/img/sprite.png';
$homepage-us: (110px, 116px, -110px, -116px, 56px, 56px, 312px, 270px, '~@/common/img/sprite.png', 'homepage-us', );
$-market-maker-activity-name: 'MarketMaker-activity';
$-market-maker-activity-x: 0px;
$-market-maker-activity-y: 176px;
$-market-maker-activity-offset-x: 0px;
$-market-maker-activity-offset-y: -176px;
$-market-maker-activity-width: 51px;
$-market-maker-activity-height: 50px;
$-market-maker-activity-total-width: 312px;
$-market-maker-activity-total-height: 270px;
$-market-maker-activity-image: '~@/common/img/sprite.png';
$-market-maker-activity: (0px, 176px, 0px, -176px, 51px, 50px, 312px, 270px, '~@/common/img/sprite.png', 'MarketMaker-activity', );
$-market-maker-free-name: 'MarketMaker-free';
$-market-maker-free-x: 154px;
$-market-maker-free-y: 62px;
$-market-maker-free-offset-x: -154px;
$-market-maker-free-offset-y: -62px;
$-market-maker-free-width: 58px;
$-market-maker-free-height: 52px;
$-market-maker-free-total-width: 312px;
$-market-maker-free-total-height: 270px;
$-market-maker-free-image: '~@/common/img/sprite.png';
$-market-maker-free: (154px, 62px, -154px, -62px, 58px, 52px, 312px, 270px, '~@/common/img/sprite.png', 'MarketMaker-free', );
$-market-maker-right-name: 'MarketMaker-right';
$-market-maker-right-x: 213px;
$-market-maker-right-y: 199px;
$-market-maker-right-offset-x: -213px;
$-market-maker-right-offset-y: -199px;
$-market-maker-right-width: 14px;
$-market-maker-right-height: 14px;
$-market-maker-right-total-width: 312px;
$-market-maker-right-total-height: 270px;
$-market-maker-right-image: '~@/common/img/sprite.png';
$-market-maker-right: (213px, 199px, -213px, -199px, 14px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'MarketMaker-right', );
$-market-maker-service-name: 'MarketMaker-service';
$-market-maker-service-x: 0px;
$-market-maker-service-y: 116px;
$-market-maker-service-offset-x: 0px;
$-market-maker-service-offset-y: -116px;
$-market-maker-service-width: 54px;
$-market-maker-service-height: 60px;
$-market-maker-service-total-width: 312px;
$-market-maker-service-total-height: 270px;
$-market-maker-service-image: '~@/common/img/sprite.png';
$-market-maker-service: (0px, 116px, 0px, -116px, 54px, 60px, 312px, 270px, '~@/common/img/sprite.png', 'MarketMaker-service', );
$refresh-qrcode-name: 'refresh-qrcode';
$refresh-qrcode-x: 138px;
$refresh-qrcode-y: 100px;
$refresh-qrcode-offset-x: -138px;
$refresh-qrcode-offset-y: -100px;
$refresh-qrcode-width: 16px;
$refresh-qrcode-height: 16px;
$refresh-qrcode-total-width: 312px;
$refresh-qrcode-total-height: 270px;
$refresh-qrcode-image: '~@/common/img/sprite.png';
$refresh-qrcode: (138px, 100px, -138px, -100px, 16px, 16px, 312px, 270px, '~@/common/img/sprite.png', 'refresh-qrcode', );
$search-delete-name: 'search-delete';
$search-delete-x: 255px;
$search-delete-y: 199px;
$search-delete-offset-x: -255px;
$search-delete-offset-y: -199px;
$search-delete-width: 13px;
$search-delete-height: 13px;
$search-delete-total-width: 312px;
$search-delete-total-height: 270px;
$search-delete-image: '~@/common/img/sprite.png';
$search-delete: (255px, 199px, -255px, -199px, 13px, 13px, 312px, 270px, '~@/common/img/sprite.png', 'search-delete', );
$sideslip-assets-name: 'sideslip-assets';
$sideslip-assets-x: 98px;
$sideslip-assets-y: 226px;
$sideslip-assets-offset-x: -98px;
$sideslip-assets-offset-y: -226px;
$sideslip-assets-width: 19px;
$sideslip-assets-height: 17px;
$sideslip-assets-total-width: 312px;
$sideslip-assets-total-height: 270px;
$sideslip-assets-image: '~@/common/img/sprite.png';
$sideslip-assets: (98px, 226px, -98px, -226px, 19px, 17px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-assets', );
$sideslip-consulting-name: 'sideslip-consulting';
$sideslip-consulting-x: 223px;
$sideslip-consulting-y: 176px;
$sideslip-consulting-offset-x: -223px;
$sideslip-consulting-offset-y: -176px;
$sideslip-consulting-width: 19px;
$sideslip-consulting-height: 19px;
$sideslip-consulting-total-width: 312px;
$sideslip-consulting-total-height: 270px;
$sideslip-consulting-image: '~@/common/img/sprite.png';
$sideslip-consulting: (223px, 176px, -223px, -176px, 19px, 19px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-consulting', );
$sideslip-lang-name: 'sideslip-lang';
$sideslip-lang-x: 242px;
$sideslip-lang-y: 176px;
$sideslip-lang-offset-x: -242px;
$sideslip-lang-offset-y: -176px;
$sideslip-lang-width: 19px;
$sideslip-lang-height: 19px;
$sideslip-lang-total-width: 312px;
$sideslip-lang-total-height: 270px;
$sideslip-lang-image: '~@/common/img/sprite.png';
$sideslip-lang: (242px, 176px, -242px, -176px, 19px, 19px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-lang', );
$sideslip-market-name: 'sideslip-market';
$sideslip-market-x: 204px;
$sideslip-market-y: 176px;
$sideslip-market-offset-x: -204px;
$sideslip-market-offset-y: -176px;
$sideslip-market-width: 19px;
$sideslip-market-height: 19px;
$sideslip-market-total-width: 312px;
$sideslip-market-total-height: 270px;
$sideslip-market-image: '~@/common/img/sprite.png';
$sideslip-market: (204px, 176px, -204px, -176px, 19px, 19px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-market', );
$sideslip-myaccount-name: 'sideslip-myaccount';
$sideslip-myaccount-x: 117px;
$sideslip-myaccount-y: 226px;
$sideslip-myaccount-offset-x: -117px;
$sideslip-myaccount-offset-y: -226px;
$sideslip-myaccount-width: 19px;
$sideslip-myaccount-height: 16px;
$sideslip-myaccount-total-width: 312px;
$sideslip-myaccount-total-height: 270px;
$sideslip-myaccount-image: '~@/common/img/sprite.png';
$sideslip-myaccount: (117px, 226px, -117px, -226px, 19px, 16px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-myaccount', );
$sideslip-pc-name: 'sideslip-pc';
$sideslip-pc-x: 292px;
$sideslip-pc-y: 201px;
$sideslip-pc-offset-x: -292px;
$sideslip-pc-offset-y: -201px;
$sideslip-pc-width: 19px;
$sideslip-pc-height: 19px;
$sideslip-pc-total-width: 312px;
$sideslip-pc-total-height: 270px;
$sideslip-pc-image: '~@/common/img/sprite.png';
$sideslip-pc: (292px, 201px, -292px, -201px, 19px, 19px, 312px, 270px, '~@/common/img/sprite.png', 'sideslip-pc', );
$sms-triangle-name: 'sms-triangle';
$sms-triangle-x: 297px;
$sms-triangle-y: 191px;
$sms-triangle-offset-x: -297px;
$sms-triangle-offset-y: -191px;
$sms-triangle-width: 10px;
$sms-triangle-height: 8px;
$sms-triangle-total-width: 312px;
$sms-triangle-total-height: 270px;
$sms-triangle-image: '~@/common/img/sprite.png';
$sms-triangle: (297px, 191px, -297px, -191px, 10px, 8px, 312px, 270px, '~@/common/img/sprite.png', 'sms-triangle', );
$ticket-replay-name: 'ticket-replay';
$ticket-replay-x: 227px;
$ticket-replay-y: 199px;
$ticket-replay-offset-x: -227px;
$ticket-replay-offset-y: -199px;
$ticket-replay-width: 14px;
$ticket-replay-height: 14px;
$ticket-replay-total-width: 312px;
$ticket-replay-total-height: 270px;
$ticket-replay-image: '~@/common/img/sprite.png';
$ticket-replay: (227px, 199px, -227px, -199px, 14px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'ticket-replay', );
$ticket-upload-name: 'ticket-upload';
$ticket-upload-x: 216px;
$ticket-upload-y: 164px;
$ticket-upload-offset-x: -216px;
$ticket-upload-offset-y: -164px;
$ticket-upload-width: 14px;
$ticket-upload-height: 12px;
$ticket-upload-total-width: 312px;
$ticket-upload-total-height: 270px;
$ticket-upload-image: '~@/common/img/sprite.png';
$ticket-upload: (216px, 164px, -216px, -164px, 14px, 12px, 312px, 270px, '~@/common/img/sprite.png', 'ticket-upload', );
$triangle-down-name: 'triangle-down';
$triangle-down-x: 117px;
$triangle-down-y: 199px;
$triangle-down-offset-x: -117px;
$triangle-down-offset-y: -199px;
$triangle-down-width: 24px;
$triangle-down-height: 14px;
$triangle-down-total-width: 312px;
$triangle-down-total-height: 270px;
$triangle-down-image: '~@/common/img/sprite.png';
$triangle-down: (117px, 199px, -117px, -199px, 24px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'triangle-down', );
$triangle-up-name: 'triangle-up';
$triangle-up-x: 93px;
$triangle-up-y: 199px;
$triangle-up-offset-x: -93px;
$triangle-up-offset-y: -199px;
$triangle-up-width: 24px;
$triangle-up-height: 14px;
$triangle-up-total-width: 312px;
$triangle-up-total-height: 270px;
$triangle-up-image: '~@/common/img/sprite.png';
$triangle-up: (93px, 199px, -93px, -199px, 24px, 14px, 312px, 270px, '~@/common/img/sprite.png', 'triangle-up', );
$validate-gplay-name: 'validate-gplay';
$validate-gplay-x: 0px;
$validate-gplay-y: 0px;
$validate-gplay-offset-x: 0px;
$validate-gplay-offset-y: 0px;
$validate-gplay-width: 154px;
$validate-gplay-height: 40px;
$validate-gplay-total-width: 312px;
$validate-gplay-total-height: 270px;
$validate-gplay-image: '~@/common/img/sprite.png';
$validate-gplay: (0px, 0px, 0px, 0px, 154px, 40px, 312px, 270px, '~@/common/img/sprite.png', 'validate-gplay', );
$validate-iosapp-name: 'validate-iosapp';
$validate-iosapp-x: 0px;
$validate-iosapp-y: 40px;
$validate-iosapp-offset-x: 0px;
$validate-iosapp-offset-y: -40px;
$validate-iosapp-width: 154px;
$validate-iosapp-height: 40px;
$validate-iosapp-total-width: 312px;
$validate-iosapp-total-height: 270px;
$validate-iosapp-image: '~@/common/img/sprite.png';
$validate-iosapp: (0px, 40px, 0px, -40px, 154px, 40px, 312px, 270px, '~@/common/img/sprite.png', 'validate-iosapp', );
$withdraw-add-name: 'withdraw-add';
$withdraw-add-x: 136px;
$withdraw-add-y: 226px;
$withdraw-add-offset-x: -136px;
$withdraw-add-offset-y: -226px;
$withdraw-add-width: 15px;
$withdraw-add-height: 15px;
$withdraw-add-total-width: 312px;
$withdraw-add-total-height: 270px;
$withdraw-add-image: '~@/common/img/sprite.png';
$withdraw-add: (136px, 226px, -136px, -226px, 15px, 15px, 312px, 270px, '~@/common/img/sprite.png', 'withdraw-add', );
$spritesheet-width: 312px;
$spritesheet-height: 270px;
$spritesheet-image: '~@/common/img/sprite.png';
$spritesheet-sprites: ($account-email, $account-false, $account-identity, $account-phone, $account-right, $account-unverified, $account-validate-true, $account-verifying, $assert, $asset-freeze, $asset-total, $bootvaildate, $delete, $form-select, $header-avatarlog, $header-havatarlog, $header-hletterlog, $header-hlog, $header-hticket, $header-letterlog, $header-more, $header-ticket, $hint-error, $hint-success, $hint-warn, $home-aboutus, $home-api, $home-application, $home-apply, $home-contact, $home-hide, $home-log, $home-open, $home-privacy, $home-search, $homemarket-both, $homemarket-down, $homemarket-up, $homepage-api, $homepage-apply, $homepage-clause, $homepage-rate, $homepage-us, $-market-maker-activity, $-market-maker-free, $-market-maker-right, $-market-maker-service, $refresh-qrcode, $search-delete, $sideslip-assets, $sideslip-consulting, $sideslip-lang, $sideslip-market, $sideslip-myaccount, $sideslip-pc, $sms-triangle, $ticket-replay, $ticket-upload, $triangle-down, $triangle-up, $validate-gplay, $validate-iosapp, $withdraw-add, );
$spritesheet: (312px, 270px, '~@/common/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
