// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$asset-freeze-name: 'asset-freeze';
$asset-freeze-x: 302px;
$asset-freeze-y: 207px;
$asset-freeze-offset-x: -302px;
$asset-freeze-offset-y: -207px;
$asset-freeze-width: 12px;
$asset-freeze-height: 16px;
$asset-freeze-total-width: 320px;
$asset-freeze-total-height: 313px;
$asset-freeze-image: '../img/sprite.png';
$asset-freeze: (302px, 207px, -302px, -207px, 12px, 16px, 320px, 313px, '../img/sprite.png', 'asset-freeze', );
$asset-total-name: 'asset-total';
$asset-total-x: 302px;
$asset-total-y: 150px;
$asset-total-offset-x: -302px;
$asset-total-offset-y: -150px;
$asset-total-width: 16px;
$asset-total-height: 14px;
$asset-total-total-width: 320px;
$asset-total-total-height: 313px;
$asset-total-image: '../img/sprite.png';
$asset-total: (302px, 150px, -302px, -150px, 16px, 14px, 320px, 313px, '../img/sprite.png', 'asset-total', );
$assetlog-name: 'assetlog';
$assetlog-x: 302px;
$assetlog-y: 284px;
$assetlog-offset-x: -302px;
$assetlog-offset-y: -284px;
$assetlog-width: 13px;
$assetlog-height: 12px;
$assetlog-total-width: 320px;
$assetlog-total-height: 313px;
$assetlog-image: '../img/sprite.png';
$assetlog: (302px, 284px, -302px, -284px, 13px, 12px, 320px, 313px, '../img/sprite.png', 'assetlog', );
$authentication-name: 'authentication';
$authentication-x: 234px;
$authentication-y: 108px;
$authentication-offset-x: -234px;
$authentication-offset-y: -108px;
$authentication-width: 38px;
$authentication-height: 40px;
$authentication-total-width: 320px;
$authentication-total-height: 313px;
$authentication-image: '../img/sprite.png';
$authentication: (234px, 108px, -234px, -108px, 38px, 40px, 320px, 313px, '../img/sprite.png', 'authentication', );
$avatar-name: 'avatar';
$avatar-x: 0px;
$avatar-y: 0px;
$avatar-offset-x: 0px;
$avatar-offset-y: 0px;
$avatar-width: 80px;
$avatar-height: 80px;
$avatar-total-width: 320px;
$avatar-total-height: 313px;
$avatar-image: '../img/sprite.png';
$avatar: (0px, 0px, 0px, 0px, 80px, 80px, 320px, 313px, '../img/sprite.png', 'avatar', );
$avatarlog-name: 'avatarlog';
$avatarlog-x: 302px;
$avatarlog-y: 164px;
$avatarlog-offset-x: -302px;
$avatarlog-offset-y: -164px;
$avatarlog-width: 14px;
$avatarlog-height: 15px;
$avatarlog-total-width: 320px;
$avatarlog-total-height: 313px;
$avatarlog-image: '../img/sprite.png';
$avatarlog: (302px, 164px, -302px, -164px, 14px, 15px, 320px, 313px, '../img/sprite.png', 'avatarlog', );
$bootvaildate-name: 'bootvaildate';
$bootvaildate-x: 234px;
$bootvaildate-y: 0px;
$bootvaildate-offset-x: -234px;
$bootvaildate-offset-y: 0px;
$bootvaildate-width: 40px;
$bootvaildate-height: 60px;
$bootvaildate-total-width: 320px;
$bootvaildate-total-height: 313px;
$bootvaildate-image: '../img/sprite.png';
$bootvaildate: (234px, 0px, -234px, 0px, 40px, 60px, 320px, 313px, '../img/sprite.png', 'bootvaildate', );
$both-name: 'both';
$both-x: 294px;
$both-y: 102px;
$both-offset-x: -294px;
$both-offset-y: -102px;
$both-width: 8px;
$both-height: 10px;
$both-total-width: 320px;
$both-total-height: 313px;
$both-image: '../img/sprite.png';
$both: (294px, 102px, -294px, -102px, 8px, 10px, 320px, 313px, '../img/sprite.png', 'both', );
$btc-search-name: 'btc-search';
$btc-search-x: 302px;
$btc-search-y: 135px;
$btc-search-offset-x: -302px;
$btc-search-offset-y: -135px;
$btc-search-width: 15px;
$btc-search-height: 15px;
$btc-search-total-width: 320px;
$btc-search-total-height: 313px;
$btc-search-image: '../img/sprite.png';
$btc-search: (302px, 135px, -302px, -135px, 15px, 15px, 320px, 313px, '../img/sprite.png', 'btc-search', );
$buy-name: 'buy';
$buy-x: 31px;
$buy-y: 268px;
$buy-offset-x: -31px;
$buy-offset-y: -268px;
$buy-width: 32px;
$buy-height: 30px;
$buy-total-width: 320px;
$buy-total-height: 313px;
$buy-image: '../img/sprite.png';
$buy: (31px, 268px, -31px, -268px, 32px, 30px, 320px, 313px, '../img/sprite.png', 'buy', );
$candle-name: 'candle';
$candle-x: 142px;
$candle-y: 224px;
$candle-offset-x: -142px;
$candle-offset-y: -224px;
$candle-width: 32px;
$candle-height: 32px;
$candle-total-width: 320px;
$candle-total-height: 313px;
$candle-image: '../img/sprite.png';
$candle: (142px, 224px, -142px, -224px, 32px, 32px, 320px, 313px, '../img/sprite.png', 'candle', );
$center-new-name: 'center_new';
$center-new-x: 302px;
$center-new-y: 104px;
$center-new-offset-x: -302px;
$center-new-offset-y: -104px;
$center-new-width: 15px;
$center-new-height: 16px;
$center-new-total-width: 320px;
$center-new-total-height: 313px;
$center-new-image: '../img/sprite.png';
$center-new: (302px, 104px, -302px, -104px, 15px, 16px, 320px, 313px, '../img/sprite.png', 'center_new', );
$countrylog-name: 'countrylog';
$countrylog-x: 302px;
$countrylog-y: 223px;
$countrylog-offset-x: -302px;
$countrylog-offset-y: -223px;
$countrylog-width: 16px;
$countrylog-height: 12px;
$countrylog-total-width: 320px;
$countrylog-total-height: 313px;
$countrylog-image: '../img/sprite.png';
$countrylog: (302px, 223px, -302px, -223px, 16px, 12px, 320px, 313px, '../img/sprite.png', 'countrylog', );
$deposit-paste-name: 'deposit-paste';
$deposit-paste-x: 274px;
$deposit-paste-y: 80px;
$deposit-paste-offset-x: -274px;
$deposit-paste-offset-y: -80px;
$deposit-paste-width: 22px;
$deposit-paste-height: 22px;
$deposit-paste-total-width: 320px;
$deposit-paste-total-height: 313px;
$deposit-paste-image: '../img/sprite.png';
$deposit-paste: (274px, 80px, -274px, -80px, 22px, 22px, 320px, 313px, '../img/sprite.png', 'deposit-paste', );
$down-name: 'down';
$down-x: 293px;
$down-y: 122px;
$down-offset-x: -293px;
$down-offset-y: -122px;
$down-width: 8px;
$down-height: 10px;
$down-total-width: 320px;
$down-total-height: 313px;
$down-image: '../img/sprite.png';
$down: (293px, 122px, -293px, -122px, 8px, 10px, 320px, 313px, '../img/sprite.png', 'down', );
$en-name: 'en';
$en-x: 302px;
$en-y: 247px;
$en-offset-x: -302px;
$en-offset-y: -247px;
$en-width: 16px;
$en-height: 12px;
$en-total-width: 320px;
$en-total-height: 313px;
$en-image: '../img/sprite.png';
$en: (302px, 247px, -302px, -247px, 16px, 12px, 320px, 313px, '../img/sprite.png', 'en', );
$false-name: 'false';
$false-x: 274px;
$false-y: 205px;
$false-offset-x: -274px;
$false-offset-y: -205px;
$false-width: 18px;
$false-height: 18px;
$false-total-width: 320px;
$false-total-height: 313px;
$false-image: '../img/sprite.png';
$false: (274px, 205px, -274px, -205px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'false', );
$footer-switch-name: 'footer-switch';
$footer-switch-x: 168px;
$footer-switch-y: 186px;
$footer-switch-offset-x: -168px;
$footer-switch-offset-y: -186px;
$footer-switch-width: 12px;
$footer-switch-height: 12px;
$footer-switch-total-width: 320px;
$footer-switch-total-height: 313px;
$footer-switch-image: '../img/sprite.png';
$footer-switch: (168px, 186px, -168px, -186px, 12px, 12px, 320px, 313px, '../img/sprite.png', 'footer-switch', );
$form-select-name: 'form-select';
$form-select-x: 302px;
$form-select-y: 0px;
$form-select-offset-x: -302px;
$form-select-offset-y: 0px;
$form-select-width: 18px;
$form-select-height: 18px;
$form-select-total-width: 320px;
$form-select-total-height: 313px;
$form-select-image: '../img/sprite.png';
$form-select: (302px, 0px, -302px, 0px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'form-select', );
$form-unselect-name: 'form-unselect';
$form-unselect-x: 302px;
$form-unselect-y: 18px;
$form-unselect-offset-x: -302px;
$form-unselect-offset-y: -18px;
$form-unselect-width: 18px;
$form-unselect-height: 18px;
$form-unselect-total-width: 320px;
$form-unselect-total-height: 313px;
$form-unselect-image: '../img/sprite.png';
$form-unselect: (302px, 18px, -302px, -18px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'form-unselect', );
$header-more-name: 'header-more';
$header-more-x: 100px;
$header-more-y: 198px;
$header-more-offset-x: -100px;
$header-more-offset-y: -198px;
$header-more-width: 42px;
$header-more-height: 24px;
$header-more-total-width: 320px;
$header-more-total-height: 313px;
$header-more-image: '../img/sprite.png';
$header-more: (100px, 198px, -100px, -198px, 42px, 24px, 320px, 313px, '../img/sprite.png', 'header-more', );
$hide-name: 'hide';
$hide-x: 274px;
$hide-y: 259px;
$hide-offset-x: -274px;
$hide-offset-y: -259px;
$hide-width: 21px;
$hide-height: 8px;
$hide-total-width: 320px;
$hide-total-height: 313px;
$hide-image: '../img/sprite.png';
$hide: (274px, 259px, -274px, -259px, 21px, 8px, 320px, 313px, '../img/sprite.png', 'hide', );
$-hint-error-name: 'Hint-error';
$-hint-error-x: 0px;
$-hint-error-y: 224px;
$-hint-error-offset-x: 0px;
$-hint-error-offset-y: -224px;
$-hint-error-width: 44px;
$-hint-error-height: 44px;
$-hint-error-total-width: 320px;
$-hint-error-total-height: 313px;
$-hint-error-image: '../img/sprite.png';
$-hint-error: (0px, 224px, 0px, -224px, 44px, 44px, 320px, 313px, '../img/sprite.png', 'Hint-error', );
$-hint-success-name: 'Hint-success';
$-hint-success-x: 182px;
$-hint-success-y: 80px;
$-hint-success-offset-x: -182px;
$-hint-success-offset-y: -80px;
$-hint-success-width: 52px;
$-hint-success-height: 52px;
$-hint-success-total-width: 320px;
$-hint-success-total-height: 313px;
$-hint-success-image: '../img/sprite.png';
$-hint-success: (182px, 80px, -182px, -80px, 52px, 52px, 320px, 313px, '../img/sprite.png', 'Hint-success', );
$-hint-warn-name: 'Hint-warn';
$-hint-warn-x: 168px;
$-hint-warn-y: 142px;
$-hint-warn-offset-x: -168px;
$-hint-warn-offset-y: -142px;
$-hint-warn-width: 44px;
$-hint-warn-height: 44px;
$-hint-warn-total-width: 320px;
$-hint-warn-total-height: 313px;
$-hint-warn-image: '../img/sprite.png';
$-hint-warn: (168px, 142px, -168px, -142px, 44px, 44px, 320px, 313px, '../img/sprite.png', 'Hint-warn', );
$homepage-api-name: 'homepage-api';
$homepage-api-x: 56px;
$homepage-api-y: 142px;
$homepage-api-offset-x: -56px;
$homepage-api-offset-y: -142px;
$homepage-api-width: 56px;
$homepage-api-height: 56px;
$homepage-api-total-width: 320px;
$homepage-api-total-height: 313px;
$homepage-api-image: '../img/sprite.png';
$homepage-api: (56px, 142px, -56px, -142px, 56px, 56px, 320px, 313px, '../img/sprite.png', 'homepage-api', );
$homepage-apply-name: 'homepage-apply';
$homepage-apply-x: 64px;
$homepage-apply-y: 80px;
$homepage-apply-offset-x: -64px;
$homepage-apply-offset-y: -80px;
$homepage-apply-width: 62px;
$homepage-apply-height: 62px;
$homepage-apply-total-width: 320px;
$homepage-apply-total-height: 313px;
$homepage-apply-image: '../img/sprite.png';
$homepage-apply: (64px, 80px, -64px, -80px, 62px, 62px, 320px, 313px, '../img/sprite.png', 'homepage-apply', );
$homepage-clause-name: 'homepage-clause';
$homepage-clause-x: 0px;
$homepage-clause-y: 142px;
$homepage-clause-offset-x: 0px;
$homepage-clause-offset-y: -142px;
$homepage-clause-width: 56px;
$homepage-clause-height: 56px;
$homepage-clause-total-width: 320px;
$homepage-clause-total-height: 313px;
$homepage-clause-image: '../img/sprite.png';
$homepage-clause: (0px, 142px, 0px, -142px, 56px, 56px, 320px, 313px, '../img/sprite.png', 'homepage-clause', );
$homepage-rate-name: 'homepage-rate';
$homepage-rate-x: 126px;
$homepage-rate-y: 80px;
$homepage-rate-offset-x: -126px;
$homepage-rate-offset-y: -80px;
$homepage-rate-width: 56px;
$homepage-rate-height: 56px;
$homepage-rate-total-width: 320px;
$homepage-rate-total-height: 313px;
$homepage-rate-image: '../img/sprite.png';
$homepage-rate: (126px, 80px, -126px, -80px, 56px, 56px, 320px, 313px, '../img/sprite.png', 'homepage-rate', );
$homepage-us-name: 'homepage-us';
$homepage-us-x: 112px;
$homepage-us-y: 142px;
$homepage-us-offset-x: -112px;
$homepage-us-offset-y: -142px;
$homepage-us-width: 56px;
$homepage-us-height: 56px;
$homepage-us-total-width: 320px;
$homepage-us-total-height: 313px;
$homepage-us-image: '../img/sprite.png';
$homepage-us: (112px, 142px, -112px, -142px, 56px, 56px, 320px, 313px, '../img/sprite.png', 'homepage-us', );
$korea-name: 'korea';
$korea-x: 302px;
$korea-y: 235px;
$korea-offset-x: -302px;
$korea-offset-y: -235px;
$korea-width: 16px;
$korea-height: 12px;
$korea-total-width: 320px;
$korea-total-height: 313px;
$korea-image: '../img/sprite.png';
$korea: (302px, 235px, -302px, -235px, 16px, 12px, 320px, 313px, '../img/sprite.png', 'korea', );
$letter-name: 'letter';
$letter-x: 206px;
$letter-y: 224px;
$letter-offset-x: -206px;
$letter-offset-y: -224px;
$letter-width: 36px;
$letter-height: 28px;
$letter-total-width: 320px;
$letter-total-height: 313px;
$letter-image: '../img/sprite.png';
$letter: (206px, 224px, -206px, -224px, 36px, 28px, 320px, 313px, '../img/sprite.png', 'letter', );
$letterlog-name: 'letterlog';
$letterlog-x: 216px;
$letterlog-y: 186px;
$letterlog-offset-x: -216px;
$letterlog-offset-y: -186px;
$letterlog-width: 13px;
$letterlog-height: 11px;
$letterlog-total-width: 320px;
$letterlog-total-height: 313px;
$letterlog-image: '../img/sprite.png';
$letterlog: (216px, 186px, -216px, -186px, 13px, 11px, 320px, 313px, '../img/sprite.png', 'letterlog', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 198px;
$logo-offset-x: 0px;
$logo-offset-y: -198px;
$logo-width: 100px;
$logo-height: 26px;
$logo-total-width: 320px;
$logo-total-height: 313px;
$logo-image: '../img/sprite.png';
$logo: (0px, 198px, 0px, -198px, 100px, 26px, 320px, 313px, '../img/sprite.png', 'logo', );
$market-bcc-name: 'market-bcc';
$market-bcc-x: 192px;
$market-bcc-y: 268px;
$market-bcc-offset-x: -192px;
$market-bcc-offset-y: -268px;
$market-bcc-width: 18px;
$market-bcc-height: 18px;
$market-bcc-total-width: 320px;
$market-bcc-total-height: 313px;
$market-bcc-image: '../img/sprite.png';
$market-bcc: (192px, 268px, -192px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-bcc', );
$market-bch-name: 'market-bch';
$market-bch-x: 274px;
$market-bch-y: 102px;
$market-bch-offset-x: -274px;
$market-bch-offset-y: -102px;
$market-bch-width: 20px;
$market-bch-height: 20px;
$market-bch-total-width: 320px;
$market-bch-total-height: 313px;
$market-bch-image: '../img/sprite.png';
$market-bch: (274px, 102px, -274px, -102px, 20px, 20px, 320px, 313px, '../img/sprite.png', 'market-bch', );
$market-bits-name: 'market-bits';
$market-bits-x: 228px;
$market-bits-y: 268px;
$market-bits-offset-x: -228px;
$market-bits-offset-y: -268px;
$market-bits-width: 18px;
$market-bits-height: 18px;
$market-bits-total-width: 320px;
$market-bits-total-height: 313px;
$market-bits-image: '../img/sprite.png';
$market-bits: (228px, 268px, -228px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-bits', );
$market-bot-name: 'market-bot';
$market-bot-x: 246px;
$market-bot-y: 268px;
$market-bot-offset-x: -246px;
$market-bot-offset-y: -268px;
$market-bot-width: 18px;
$market-bot-height: 18px;
$market-bot-total-width: 320px;
$market-bot-total-height: 313px;
$market-bot-image: '../img/sprite.png';
$market-bot: (246px, 268px, -246px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-bot', );
$market-btc-name: 'market-btc';
$market-btc-x: 264px;
$market-btc-y: 268px;
$market-btc-offset-x: -264px;
$market-btc-offset-y: -268px;
$market-btc-width: 18px;
$market-btc-height: 18px;
$market-btc-total-width: 320px;
$market-btc-total-height: 313px;
$market-btc-image: '../img/sprite.png';
$market-btc: (264px, 268px, -264px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-btc', );
$market-btm-name: 'market-btm';
$market-btm-x: 282px;
$market-btm-y: 268px;
$market-btm-offset-x: -282px;
$market-btm-offset-y: -268px;
$market-btm-width: 18px;
$market-btm-height: 18px;
$market-btm-total-width: 320px;
$market-btm-total-height: 313px;
$market-btm-image: '../img/sprite.png';
$market-btm: (282px, 268px, -282px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-btm', );
$market-can-name: 'market-can';
$market-can-x: 274px;
$market-can-y: 169px;
$market-can-offset-x: -274px;
$market-can-offset-y: -169px;
$market-can-width: 18px;
$market-can-height: 18px;
$market-can-total-width: 320px;
$market-can-total-height: 313px;
$market-can-image: '../img/sprite.png';
$market-can: (274px, 169px, -274px, -169px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-can', );
$market-cfun-name: 'market-cfun';
$market-cfun-x: 274px;
$market-cfun-y: 122px;
$market-cfun-offset-x: -274px;
$market-cfun-offset-y: -122px;
$market-cfun-width: 19px;
$market-cfun-height: 19px;
$market-cfun-total-width: 320px;
$market-cfun-total-height: 313px;
$market-cfun-image: '../img/sprite.png';
$market-cfun: (274px, 122px, -274px, -122px, 19px, 19px, 320px, 313px, '../img/sprite.png', 'market-cfun', );
$market-chat-name: 'market-chat';
$market-chat-x: 302px;
$market-chat-y: 54px;
$market-chat-offset-x: -302px;
$market-chat-offset-y: -54px;
$market-chat-width: 18px;
$market-chat-height: 18px;
$market-chat-total-width: 320px;
$market-chat-total-height: 313px;
$market-chat-image: '../img/sprite.png';
$market-chat: (302px, 54px, -302px, -54px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-chat', );
$market-eos-name: 'market-eos';
$market-eos-x: 274px;
$market-eos-y: 187px;
$market-eos-offset-x: -274px;
$market-eos-offset-y: -187px;
$market-eos-width: 18px;
$market-eos-height: 18px;
$market-eos-total-width: 320px;
$market-eos-total-height: 313px;
$market-eos-image: '../img/sprite.png';
$market-eos: (274px, 187px, -274px, -187px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-eos', );
$market-etc-name: 'market-etc';
$market-etc-x: 210px;
$market-etc-y: 268px;
$market-etc-offset-x: -210px;
$market-etc-offset-y: -268px;
$market-etc-width: 18px;
$market-etc-height: 18px;
$market-etc-total-width: 320px;
$market-etc-total-height: 313px;
$market-etc-image: '../img/sprite.png';
$market-etc: (210px, 268px, -210px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-etc', );
$market-eth-name: 'market-eth';
$market-eth-x: 274px;
$market-eth-y: 223px;
$market-eth-offset-x: -274px;
$market-eth-offset-y: -223px;
$market-eth-width: 18px;
$market-eth-height: 18px;
$market-eth-total-width: 320px;
$market-eth-total-height: 313px;
$market-eth-image: '../img/sprite.png';
$market-eth: (274px, 223px, -274px, -223px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-eth', );
$market-hsr-name: 'market-hsr';
$market-hsr-x: 274px;
$market-hsr-y: 241px;
$market-hsr-offset-x: -274px;
$market-hsr-offset-y: -241px;
$market-hsr-width: 18px;
$market-hsr-height: 18px;
$market-hsr-total-width: 320px;
$market-hsr-total-height: 313px;
$market-hsr-image: '../img/sprite.png';
$market-hsr: (274px, 241px, -274px, -241px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-hsr', );
$market-ink-name: 'market-ink';
$market-ink-x: 212px;
$market-ink-y: 142px;
$market-ink-offset-x: -212px;
$market-ink-offset-y: -142px;
$market-ink-width: 18px;
$market-ink-height: 18px;
$market-ink-total-width: 320px;
$market-ink-total-height: 313px;
$market-ink-image: '../img/sprite.png';
$market-ink: (212px, 142px, -212px, -142px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-ink', );
$market-ltc-name: 'market-ltc';
$market-ltc-x: 212px;
$market-ltc-y: 160px;
$market-ltc-offset-x: -212px;
$market-ltc-offset-y: -160px;
$market-ltc-width: 18px;
$market-ltc-height: 18px;
$market-ltc-total-width: 320px;
$market-ltc-total-height: 313px;
$market-ltc-image: '../img/sprite.png';
$market-ltc: (212px, 160px, -212px, -160px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-ltc', );
$market-mco-name: 'market-mco';
$market-mco-x: 142px;
$market-mco-y: 198px;
$market-mco-offset-x: -142px;
$market-mco-offset-y: -198px;
$market-mco-width: 18px;
$market-mco-height: 18px;
$market-mco-total-width: 320px;
$market-mco-total-height: 313px;
$market-mco-image: '../img/sprite.png';
$market-mco: (142px, 198px, -142px, -198px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-mco', );
$market-mona-name: 'market-mona';
$market-mona-x: 160px;
$market-mona-y: 198px;
$market-mona-offset-x: -160px;
$market-mona-offset-y: -198px;
$market-mona-width: 18px;
$market-mona-height: 18px;
$market-mona-total-width: 320px;
$market-mona-total-height: 313px;
$market-mona-image: '../img/sprite.png';
$market-mona: (160px, 198px, -160px, -198px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-mona', );
$market-qash-name: 'market-qash';
$market-qash-x: 178px;
$market-qash-y: 198px;
$market-qash-offset-x: -178px;
$market-qash-offset-y: -198px;
$market-qash-width: 18px;
$market-qash-height: 18px;
$market-qash-total-width: 320px;
$market-qash-total-height: 313px;
$market-qash-image: '../img/sprite.png';
$market-qash: (178px, 198px, -178px, -198px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-qash', );
$market-qtum-name: 'market-qtum';
$market-qtum-x: 196px;
$market-qtum-y: 198px;
$market-qtum-offset-x: -196px;
$market-qtum-offset-y: -198px;
$market-qtum-width: 18px;
$market-qtum-height: 18px;
$market-qtum-total-width: 320px;
$market-qtum-total-height: 313px;
$market-qtum-image: '../img/sprite.png';
$market-qtum: (196px, 198px, -196px, -198px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-qtum', );
$market-tv-name: 'market-tv';
$market-tv-x: 214px;
$market-tv-y: 198px;
$market-tv-offset-x: -214px;
$market-tv-offset-y: -198px;
$market-tv-width: 18px;
$market-tv-height: 18px;
$market-tv-total-width: 320px;
$market-tv-total-height: 313px;
$market-tv-image: '../img/sprite.png';
$market-tv: (214px, 198px, -214px, -198px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-tv', );
$market-usdt-name: 'market-usdt';
$market-usdt-x: 156px;
$market-usdt-y: 268px;
$market-usdt-offset-x: -156px;
$market-usdt-offset-y: -268px;
$market-usdt-width: 18px;
$market-usdt-height: 18px;
$market-usdt-total-width: 320px;
$market-usdt-total-height: 313px;
$market-usdt-image: '../img/sprite.png';
$market-usdt: (156px, 268px, -156px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-usdt', );
$market-xrp-name: 'market-xrp';
$market-xrp-x: 174px;
$market-xrp-y: 268px;
$market-xrp-offset-x: -174px;
$market-xrp-offset-y: -268px;
$market-xrp-width: 18px;
$market-xrp-height: 18px;
$market-xrp-total-width: 320px;
$market-xrp-total-height: 313px;
$market-xrp-image: '../img/sprite.png';
$market-xrp: (174px, 268px, -174px, -268px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'market-xrp', );
$member-email-name: 'member-email';
$member-email-x: 234px;
$member-email-y: 186px;
$member-email-offset-x: -234px;
$member-email-offset-y: -186px;
$member-email-width: 36px;
$member-email-height: 38px;
$member-email-total-width: 320px;
$member-email-total-height: 313px;
$member-email-image: '../img/sprite.png';
$member-email: (234px, 186px, -234px, -186px, 36px, 38px, 320px, 313px, '../img/sprite.png', 'member-email', );
$member-google-name: 'member-google';
$member-google-x: 274px;
$member-google-y: 40px;
$member-google-offset-x: -274px;
$member-google-offset-y: -40px;
$member-google-width: 28px;
$member-google-height: 40px;
$member-google-total-width: 320px;
$member-google-total-height: 313px;
$member-google-image: '../img/sprite.png';
$member-google: (274px, 40px, -274px, -40px, 28px, 40px, 320px, 313px, '../img/sprite.png', 'member-google', );
$member-identity-name: 'member-identity';
$member-identity-x: 234px;
$member-identity-y: 148px;
$member-identity-offset-x: -234px;
$member-identity-offset-y: -148px;
$member-identity-width: 36px;
$member-identity-height: 38px;
$member-identity-total-width: 320px;
$member-identity-total-height: 313px;
$member-identity-image: '../img/sprite.png';
$member-identity: (234px, 148px, -234px, -148px, 36px, 38px, 320px, 313px, '../img/sprite.png', 'member-identity', );
$norecord-name: 'norecord';
$norecord-x: 234px;
$norecord-y: 60px;
$norecord-offset-x: -234px;
$norecord-offset-y: -60px;
$norecord-width: 40px;
$norecord-height: 48px;
$norecord-total-width: 320px;
$norecord-total-height: 313px;
$norecord-image: '../img/sprite.png';
$norecord: (234px, 60px, -234px, -60px, 40px, 48px, 320px, 313px, '../img/sprite.png', 'norecord', );
$open-name: 'open';
$open-x: 0px;
$open-y: 299px;
$open-offset-x: 0px;
$open-offset-y: -299px;
$open-width: 20px;
$open-height: 14px;
$open-total-width: 320px;
$open-total-height: 313px;
$open-image: '../img/sprite.png';
$open: (0px, 299px, 0px, -299px, 20px, 14px, 320px, 313px, '../img/sprite.png', 'open', );
$phone-name: 'phone';
$phone-x: 274px;
$phone-y: 0px;
$phone-offset-x: -274px;
$phone-offset-y: 0px;
$phone-width: 28px;
$phone-height: 40px;
$phone-total-width: 320px;
$phone-total-height: 313px;
$phone-image: '../img/sprite.png';
$phone: (274px, 0px, -274px, 0px, 28px, 40px, 320px, 313px, '../img/sprite.png', 'phone', );
$refresh-qrcode-name: 'refresh-qrcode';
$refresh-qrcode-x: 302px;
$refresh-qrcode-y: 88px;
$refresh-qrcode-offset-x: -302px;
$refresh-qrcode-offset-y: -88px;
$refresh-qrcode-width: 16px;
$refresh-qrcode-height: 16px;
$refresh-qrcode-total-width: 320px;
$refresh-qrcode-total-height: 313px;
$refresh-qrcode-image: '../img/sprite.png';
$refresh-qrcode: (302px, 88px, -302px, -88px, 16px, 16px, 320px, 313px, '../img/sprite.png', 'refresh-qrcode', );
$-refresh-qrcode-name: 'RefreshQrcode';
$-refresh-qrcode-x: 302px;
$-refresh-qrcode-y: 72px;
$-refresh-qrcode-offset-x: -302px;
$-refresh-qrcode-offset-y: -72px;
$-refresh-qrcode-width: 16px;
$-refresh-qrcode-height: 16px;
$-refresh-qrcode-total-width: 320px;
$-refresh-qrcode-total-height: 313px;
$-refresh-qrcode-image: '../img/sprite.png';
$-refresh-qrcode: (302px, 72px, -302px, -72px, 16px, 16px, 320px, 313px, '../img/sprite.png', 'RefreshQrcode', );
$right-name: 'right';
$right-x: 302px;
$right-y: 36px;
$right-offset-x: -302px;
$right-offset-y: -36px;
$right-width: 18px;
$right-height: 18px;
$right-total-width: 320px;
$right-total-height: 313px;
$right-image: '../img/sprite.png';
$right: (302px, 36px, -302px, -36px, 18px, 18px, 320px, 313px, '../img/sprite.png', 'right', );
$search-delete-name: 'search-delete';
$search-delete-x: 302px;
$search-delete-y: 179px;
$search-delete-offset-x: -302px;
$search-delete-offset-y: -179px;
$search-delete-width: 14px;
$search-delete-height: 14px;
$search-delete-total-width: 320px;
$search-delete-total-height: 313px;
$search-delete-image: '../img/sprite.png';
$search-delete: (302px, 179px, -302px, -179px, 14px, 14px, 320px, 313px, '../img/sprite.png', 'search-delete', );
$search-name: 'search';
$search-x: 302px;
$search-y: 271px;
$search-offset-x: -302px;
$search-offset-y: -271px;
$search-width: 13px;
$search-height: 13px;
$search-total-width: 320px;
$search-total-height: 313px;
$search-image: '../img/sprite.png';
$search: (302px, 271px, -302px, -271px, 13px, 13px, 320px, 313px, '../img/sprite.png', 'search', );
$selectoption-name: 'selectoption';
$selectoption-x: 78px;
$selectoption-y: 224px;
$selectoption-offset-x: -78px;
$selectoption-offset-y: -224px;
$selectoption-width: 32px;
$selectoption-height: 32px;
$selectoption-total-width: 320px;
$selectoption-total-height: 313px;
$selectoption-image: '../img/sprite.png';
$selectoption: (78px, 224px, -78px, -224px, 32px, 32px, 320px, 313px, '../img/sprite.png', 'selectoption', );
$sell-name: 'sell';
$sell-x: 63px;
$sell-y: 268px;
$sell-offset-x: -63px;
$sell-offset-y: -268px;
$sell-width: 32px;
$sell-height: 30px;
$sell-total-width: 320px;
$sell-total-height: 313px;
$sell-image: '../img/sprite.png';
$sell: (63px, 268px, -63px, -268px, 32px, 30px, 320px, 313px, '../img/sprite.png', 'sell', );
$sideslip-assets-name: 'sideslip-assets';
$sideslip-assets-x: 125px;
$sideslip-assets-y: 268px;
$sideslip-assets-offset-x: -125px;
$sideslip-assets-offset-y: -268px;
$sideslip-assets-width: 31px;
$sideslip-assets-height: 28px;
$sideslip-assets-total-width: 320px;
$sideslip-assets-total-height: 313px;
$sideslip-assets-image: '../img/sprite.png';
$sideslip-assets: (125px, 268px, -125px, -268px, 31px, 28px, 320px, 313px, '../img/sprite.png', 'sideslip-assets', );
$sideslip-consulting-name: 'sideslip-consulting';
$sideslip-consulting-x: 174px;
$sideslip-consulting-y: 224px;
$sideslip-consulting-offset-x: -174px;
$sideslip-consulting-offset-y: -224px;
$sideslip-consulting-width: 32px;
$sideslip-consulting-height: 32px;
$sideslip-consulting-total-width: 320px;
$sideslip-consulting-total-height: 313px;
$sideslip-consulting-image: '../img/sprite.png';
$sideslip-consulting: (174px, 224px, -174px, -224px, 32px, 32px, 320px, 313px, '../img/sprite.png', 'sideslip-consulting', );
$sideslip-lang-name: 'sideslip-lang';
$sideslip-lang-x: 0px;
$sideslip-lang-y: 268px;
$sideslip-lang-offset-x: 0px;
$sideslip-lang-offset-y: -268px;
$sideslip-lang-width: 31px;
$sideslip-lang-height: 31px;
$sideslip-lang-total-width: 320px;
$sideslip-lang-total-height: 313px;
$sideslip-lang-image: '../img/sprite.png';
$sideslip-lang: (0px, 268px, 0px, -268px, 31px, 31px, 320px, 313px, '../img/sprite.png', 'sideslip-lang', );
$sideslip-market-name: 'sideslip-market';
$sideslip-market-x: 110px;
$sideslip-market-y: 224px;
$sideslip-market-offset-x: -110px;
$sideslip-market-offset-y: -224px;
$sideslip-market-width: 32px;
$sideslip-market-height: 32px;
$sideslip-market-total-width: 320px;
$sideslip-market-total-height: 313px;
$sideslip-market-image: '../img/sprite.png';
$sideslip-market: (110px, 224px, -110px, -224px, 32px, 32px, 320px, 313px, '../img/sprite.png', 'sideslip-market', );
$sideslip-myaccount-name: 'sideslip-myaccount';
$sideslip-myaccount-x: 242px;
$sideslip-myaccount-y: 224px;
$sideslip-myaccount-offset-x: -242px;
$sideslip-myaccount-offset-y: -224px;
$sideslip-myaccount-width: 32px;
$sideslip-myaccount-height: 28px;
$sideslip-myaccount-total-width: 320px;
$sideslip-myaccount-total-height: 313px;
$sideslip-myaccount-image: '../img/sprite.png';
$sideslip-myaccount: (242px, 224px, -242px, -224px, 32px, 28px, 320px, 313px, '../img/sprite.png', 'sideslip-myaccount', );
$sideslip-pc-name: 'sideslip-pc';
$sideslip-pc-x: 95px;
$sideslip-pc-y: 268px;
$sideslip-pc-offset-x: -95px;
$sideslip-pc-offset-y: -268px;
$sideslip-pc-width: 30px;
$sideslip-pc-height: 30px;
$sideslip-pc-total-width: 320px;
$sideslip-pc-total-height: 313px;
$sideslip-pc-image: '../img/sprite.png';
$sideslip-pc: (95px, 268px, -95px, -268px, 30px, 30px, 320px, 313px, '../img/sprite.png', 'sideslip-pc', );
$tariff-description-name: 'tariff-description';
$tariff-description-x: 302px;
$tariff-description-y: 193px;
$tariff-description-offset-x: -302px;
$tariff-description-offset-y: -193px;
$tariff-description-width: 14px;
$tariff-description-height: 14px;
$tariff-description-total-width: 320px;
$tariff-description-total-height: 313px;
$tariff-description-image: '../img/sprite.png';
$tariff-description: (302px, 193px, -302px, -193px, 14px, 14px, 320px, 313px, '../img/sprite.png', 'tariff-description', );
$triangle-down-name: 'triangle-down';
$triangle-down-x: 274px;
$triangle-down-y: 155px;
$triangle-down-offset-x: -274px;
$triangle-down-offset-y: -155px;
$triangle-down-width: 24px;
$triangle-down-height: 14px;
$triangle-down-total-width: 320px;
$triangle-down-total-height: 313px;
$triangle-down-image: '../img/sprite.png';
$triangle-down: (274px, 155px, -274px, -155px, 24px, 14px, 320px, 313px, '../img/sprite.png', 'triangle-down', );
$triangle-up-name: 'triangle-up';
$triangle-up-x: 274px;
$triangle-up-y: 141px;
$triangle-up-offset-x: -274px;
$triangle-up-offset-y: -141px;
$triangle-up-width: 24px;
$triangle-up-height: 14px;
$triangle-up-total-width: 320px;
$triangle-up-total-height: 313px;
$triangle-up-image: '../img/sprite.png';
$triangle-up: (274px, 141px, -274px, -141px, 24px, 14px, 320px, 313px, '../img/sprite.png', 'triangle-up', );
$triangle-name: 'triangle';
$triangle-x: 292px;
$triangle-y: 169px;
$triangle-offset-x: -292px;
$triangle-offset-y: -169px;
$triangle-width: 10px;
$triangle-height: 8px;
$triangle-total-width: 320px;
$triangle-total-height: 313px;
$triangle-image: '../img/sprite.png';
$triangle: (292px, 169px, -292px, -169px, 10px, 8px, 320px, 313px, '../img/sprite.png', 'triangle', );
$unverified-name: 'unverified';
$unverified-x: 180px;
$unverified-y: 186px;
$unverified-offset-x: -180px;
$unverified-offset-y: -186px;
$unverified-width: 12px;
$unverified-height: 12px;
$unverified-total-width: 320px;
$unverified-total-height: 313px;
$unverified-image: '../img/sprite.png';
$unverified: (180px, 186px, -180px, -186px, 12px, 12px, 320px, 313px, '../img/sprite.png', 'unverified', );
$up-name: 'up';
$up-x: 294px;
$up-y: 112px;
$up-offset-x: -294px;
$up-offset-y: -112px;
$up-width: 8px;
$up-height: 10px;
$up-total-width: 320px;
$up-total-height: 313px;
$up-image: '../img/sprite.png';
$up: (294px, 112px, -294px, -112px, 8px, 10px, 320px, 313px, '../img/sprite.png', 'up', );
$validate-gplay-name: 'validate-gplay';
$validate-gplay-x: 80px;
$validate-gplay-y: 0px;
$validate-gplay-offset-x: -80px;
$validate-gplay-offset-y: 0px;
$validate-gplay-width: 154px;
$validate-gplay-height: 40px;
$validate-gplay-total-width: 320px;
$validate-gplay-total-height: 313px;
$validate-gplay-image: '../img/sprite.png';
$validate-gplay: (80px, 0px, -80px, 0px, 154px, 40px, 320px, 313px, '../img/sprite.png', 'validate-gplay', );
$validate-iosapp-name: 'validate-iosapp';
$validate-iosapp-x: 80px;
$validate-iosapp-y: 40px;
$validate-iosapp-offset-x: -80px;
$validate-iosapp-offset-y: -40px;
$validate-iosapp-width: 154px;
$validate-iosapp-height: 40px;
$validate-iosapp-total-width: 320px;
$validate-iosapp-total-height: 313px;
$validate-iosapp-image: '../img/sprite.png';
$validate-iosapp: (80px, 40px, -80px, -40px, 154px, 40px, 320px, 313px, '../img/sprite.png', 'validate-iosapp', );
$validate-letter-name: 'validate-letter';
$validate-letter-x: 0px;
$validate-letter-y: 80px;
$validate-letter-offset-x: 0px;
$validate-letter-offset-y: -80px;
$validate-letter-width: 64px;
$validate-letter-height: 62px;
$validate-letter-total-width: 320px;
$validate-letter-total-height: 313px;
$validate-letter-image: '../img/sprite.png';
$validate-letter: (0px, 80px, 0px, -80px, 64px, 62px, 320px, 313px, '../img/sprite.png', 'validate-letter', );
$validate-true-name: 'validate-true';
$validate-true-x: 192px;
$validate-true-y: 186px;
$validate-true-offset-x: -192px;
$validate-true-offset-y: -186px;
$validate-true-width: 12px;
$validate-true-height: 12px;
$validate-true-total-width: 320px;
$validate-true-total-height: 313px;
$validate-true-image: '../img/sprite.png';
$validate-true: (192px, 186px, -192px, -186px, 12px, 12px, 320px, 313px, '../img/sprite.png', 'validate-true', );
$verifying-name: 'verifying';
$verifying-x: 204px;
$verifying-y: 186px;
$verifying-offset-x: -204px;
$verifying-offset-y: -186px;
$verifying-width: 12px;
$verifying-height: 12px;
$verifying-total-width: 320px;
$verifying-total-height: 313px;
$verifying-image: '../img/sprite.png';
$verifying: (204px, 186px, -204px, -186px, 12px, 12px, 320px, 313px, '../img/sprite.png', 'verifying', );
$wechat-name: 'wechat';
$wechat-x: 44px;
$wechat-y: 224px;
$wechat-offset-x: -44px;
$wechat-offset-y: -224px;
$wechat-width: 34px;
$wechat-height: 36px;
$wechat-total-width: 320px;
$wechat-total-height: 313px;
$wechat-image: '../img/sprite.png';
$wechat: (44px, 224px, -44px, -224px, 34px, 36px, 320px, 313px, '../img/sprite.png', 'wechat', );
$withdraw-add-name: 'withdraw-add';
$withdraw-add-x: 302px;
$withdraw-add-y: 120px;
$withdraw-add-offset-x: -302px;
$withdraw-add-offset-y: -120px;
$withdraw-add-width: 15px;
$withdraw-add-height: 15px;
$withdraw-add-total-width: 320px;
$withdraw-add-total-height: 313px;
$withdraw-add-image: '../img/sprite.png';
$withdraw-add: (302px, 120px, -302px, -120px, 15px, 15px, 320px, 313px, '../img/sprite.png', 'withdraw-add', );
$zh-c-n-name: 'zh-CN';
$zh-c-n-x: 302px;
$zh-c-n-y: 259px;
$zh-c-n-offset-x: -302px;
$zh-c-n-offset-y: -259px;
$zh-c-n-width: 16px;
$zh-c-n-height: 12px;
$zh-c-n-total-width: 320px;
$zh-c-n-total-height: 313px;
$zh-c-n-image: '../img/sprite.png';
$zh-c-n: (302px, 259px, -302px, -259px, 16px, 12px, 320px, 313px, '../img/sprite.png', 'zh-CN', );
$spritesheet-width: 320px;
$spritesheet-height: 313px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($asset-freeze, $asset-total, $assetlog, $authentication, $avatar, $avatarlog, $bootvaildate, $both, $btc-search, $buy, $candle, $center-new, $countrylog, $deposit-paste, $down, $en, $false, $footer-switch, $form-select, $form-unselect, $header-more, $hide, $-hint-error, $-hint-success, $-hint-warn, $homepage-api, $homepage-apply, $homepage-clause, $homepage-rate, $homepage-us, $korea, $letter, $letterlog, $logo, $market-bcc, $market-bch, $market-bits, $market-bot, $market-btc, $market-btm, $market-can, $market-cfun, $market-chat, $market-eos, $market-etc, $market-eth, $market-hsr, $market-ink, $market-ltc, $market-mco, $market-mona, $market-qash, $market-qtum, $market-tv, $market-usdt, $market-xrp, $member-email, $member-google, $member-identity, $norecord, $open, $phone, $refresh-qrcode, $-refresh-qrcode, $right, $search-delete, $search, $selectoption, $sell, $sideslip-assets, $sideslip-consulting, $sideslip-lang, $sideslip-market, $sideslip-myaccount, $sideslip-pc, $tariff-description, $triangle-down, $triangle-up, $triangle, $unverified, $up, $validate-gplay, $validate-iosapp, $validate-letter, $validate-true, $verifying, $wechat, $withdraw-add, $zh-c-n, );
$spritesheet: (320px, 313px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
