// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$account-email-name: 'account-email';
$account-email-x: 36px;
$account-email-y: 195px;
$account-email-offset-x: -36px;
$account-email-offset-y: -195px;
$account-email-width: 36px;
$account-email-height: 38px;
$account-email-total-width: 300px;
$account-email-total-height: 264px;
$account-email-image: '~@/common/img/sprite.png';
$account-email: (36px, 195px, -36px, -195px, 36px, 38px, 300px, 264px, '~@/common/img/sprite.png', 'account-email', );
$account-false-name: 'account-false';
$account-false-x: 198px;
$account-false-y: 62px;
$account-false-offset-x: -198px;
$account-false-offset-y: -62px;
$account-false-width: 18px;
$account-false-height: 18px;
$account-false-total-width: 300px;
$account-false-total-height: 264px;
$account-false-image: '~@/common/img/sprite.png';
$account-false: (198px, 62px, -198px, -62px, 18px, 18px, 300px, 264px, '~@/common/img/sprite.png', 'account-false', );
$account-identity-name: 'account-identity';
$account-identity-x: 0px;
$account-identity-y: 195px;
$account-identity-offset-x: 0px;
$account-identity-offset-y: -195px;
$account-identity-width: 36px;
$account-identity-height: 38px;
$account-identity-total-width: 300px;
$account-identity-total-height: 264px;
$account-identity-image: '~@/common/img/sprite.png';
$account-identity: (0px, 195px, 0px, -195px, 36px, 38px, 300px, 264px, '~@/common/img/sprite.png', 'account-identity', );
$account-phone-name: 'account-phone';
$account-phone-x: 272px;
$account-phone-y: 0px;
$account-phone-offset-x: -272px;
$account-phone-offset-y: 0px;
$account-phone-width: 28px;
$account-phone-height: 40px;
$account-phone-total-width: 300px;
$account-phone-total-height: 264px;
$account-phone-image: '~@/common/img/sprite.png';
$account-phone: (272px, 0px, -272px, 0px, 28px, 40px, 300px, 264px, '~@/common/img/sprite.png', 'account-phone', );
$account-right-name: 'account-right';
$account-right-x: 198px;
$account-right-y: 80px;
$account-right-offset-x: -198px;
$account-right-offset-y: -80px;
$account-right-width: 18px;
$account-right-height: 18px;
$account-right-total-width: 300px;
$account-right-total-height: 264px;
$account-right-image: '~@/common/img/sprite.png';
$account-right: (198px, 80px, -198px, -80px, 18px, 18px, 300px, 264px, '~@/common/img/sprite.png', 'account-right', );
$account-unverified-name: 'account-unverified';
$account-unverified-x: 241px;
$account-unverified-y: 195px;
$account-unverified-offset-x: -241px;
$account-unverified-offset-y: -195px;
$account-unverified-width: 12px;
$account-unverified-height: 12px;
$account-unverified-total-width: 300px;
$account-unverified-total-height: 264px;
$account-unverified-image: '~@/common/img/sprite.png';
$account-unverified: (241px, 195px, -241px, -195px, 12px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'account-unverified', );
$account-validate-true-name: 'account-validate-true';
$account-validate-true-x: 253px;
$account-validate-true-y: 195px;
$account-validate-true-offset-x: -253px;
$account-validate-true-offset-y: -195px;
$account-validate-true-width: 12px;
$account-validate-true-height: 12px;
$account-validate-true-total-width: 300px;
$account-validate-true-total-height: 264px;
$account-validate-true-image: '~@/common/img/sprite.png';
$account-validate-true: (253px, 195px, -253px, -195px, 12px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'account-validate-true', );
$account-verifying-name: 'account-verifying';
$account-verifying-x: 229px;
$account-verifying-y: 195px;
$account-verifying-offset-x: -229px;
$account-verifying-offset-y: -195px;
$account-verifying-width: 12px;
$account-verifying-height: 12px;
$account-verifying-total-width: 300px;
$account-verifying-total-height: 264px;
$account-verifying-image: '~@/common/img/sprite.png';
$account-verifying: (229px, 195px, -229px, -195px, 12px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'account-verifying', );
$asset-freeze-name: 'asset-freeze';
$asset-freeze-x: 0px;
$asset-freeze-y: 248px;
$asset-freeze-offset-x: 0px;
$asset-freeze-offset-y: -248px;
$asset-freeze-width: 12px;
$asset-freeze-height: 16px;
$asset-freeze-total-width: 300px;
$asset-freeze-total-height: 264px;
$asset-freeze-image: '~@/common/img/sprite.png';
$asset-freeze: (0px, 248px, 0px, -248px, 12px, 16px, 300px, 264px, '~@/common/img/sprite.png', 'asset-freeze', );
$asset-total-name: 'asset-total';
$asset-total-x: 138px;
$asset-total-y: 95px;
$asset-total-offset-x: -138px;
$asset-total-offset-y: -95px;
$asset-total-width: 16px;
$asset-total-height: 14px;
$asset-total-total-width: 300px;
$asset-total-total-height: 264px;
$asset-total-image: '~@/common/img/sprite.png';
$asset-total: (138px, 95px, -138px, -95px, 16px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'asset-total', );
$bootvaildate-name: 'bootvaildate';
$bootvaildate-x: 216px;
$bootvaildate-y: 108px;
$bootvaildate-offset-x: -216px;
$bootvaildate-offset-y: -108px;
$bootvaildate-width: 40px;
$bootvaildate-height: 60px;
$bootvaildate-total-width: 300px;
$bootvaildate-total-height: 264px;
$bootvaildate-image: '~@/common/img/sprite.png';
$bootvaildate: (216px, 108px, -216px, -108px, 40px, 60px, 300px, 264px, '~@/common/img/sprite.png', 'bootvaildate', );
$delete-name: 'delete';
$delete-x: 256px;
$delete-y: 144px;
$delete-offset-x: -256px;
$delete-offset-y: -144px;
$delete-width: 15px;
$delete-height: 15px;
$delete-total-width: 300px;
$delete-total-height: 264px;
$delete-image: '~@/common/img/sprite.png';
$delete: (256px, 144px, -256px, -144px, 15px, 15px, 300px, 264px, '~@/common/img/sprite.png', 'delete', );
$form-select-name: 'form-select';
$form-select-x: 114px;
$form-select-y: 195px;
$form-select-offset-x: -114px;
$form-select-offset-y: -195px;
$form-select-width: 18px;
$form-select-height: 18px;
$form-select-total-width: 300px;
$form-select-total-height: 264px;
$form-select-image: '~@/common/img/sprite.png';
$form-select: (114px, 195px, -114px, -195px, 18px, 18px, 300px, 264px, '~@/common/img/sprite.png', 'form-select', );
$header-avatarlog-name: 'header-avatarlog';
$header-avatarlog-x: 14px;
$header-avatarlog-y: 233px;
$header-avatarlog-offset-x: -14px;
$header-avatarlog-offset-y: -233px;
$header-avatarlog-width: 14px;
$header-avatarlog-height: 15px;
$header-avatarlog-total-width: 300px;
$header-avatarlog-total-height: 264px;
$header-avatarlog-image: '~@/common/img/sprite.png';
$header-avatarlog: (14px, 233px, -14px, -233px, 14px, 15px, 300px, 264px, '~@/common/img/sprite.png', 'header-avatarlog', );
$header-havatarlog-name: 'header-Havatarlog';
$header-havatarlog-x: 0px;
$header-havatarlog-y: 233px;
$header-havatarlog-offset-x: 0px;
$header-havatarlog-offset-y: -233px;
$header-havatarlog-width: 14px;
$header-havatarlog-height: 15px;
$header-havatarlog-total-width: 300px;
$header-havatarlog-total-height: 264px;
$header-havatarlog-image: '~@/common/img/sprite.png';
$header-havatarlog: (0px, 233px, 0px, -233px, 14px, 15px, 300px, 264px, '~@/common/img/sprite.png', 'header-Havatarlog', );
$header-hletterlog-name: 'header-Hletterlog';
$header-hletterlog-x: 182px;
$header-hletterlog-y: 160px;
$header-hletterlog-offset-x: -182px;
$header-hletterlog-offset-y: -160px;
$header-hletterlog-width: 13px;
$header-hletterlog-height: 12px;
$header-hletterlog-total-width: 300px;
$header-hletterlog-total-height: 264px;
$header-hletterlog-image: '~@/common/img/sprite.png';
$header-hletterlog: (182px, 160px, -182px, -160px, 13px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'header-Hletterlog', );
$header-hlog-name: 'header-Hlog';
$header-hlog-x: 0px;
$header-hlog-y: 172px;
$header-hlog-offset-x: 0px;
$header-hlog-offset-y: -172px;
$header-hlog-width: 88px;
$header-hlog-height: 23px;
$header-hlog-total-width: 300px;
$header-hlog-total-height: 264px;
$header-hlog-image: '~@/common/img/sprite.png';
$header-hlog: (0px, 172px, 0px, -172px, 88px, 23px, 300px, 264px, '~@/common/img/sprite.png', 'header-Hlog', );
$header-hticket-name: 'header-Hticket';
$header-hticket-x: 170px;
$header-hticket-y: 195px;
$header-hticket-offset-x: -170px;
$header-hticket-offset-y: -195px;
$header-hticket-width: 18px;
$header-hticket-height: 14px;
$header-hticket-total-width: 300px;
$header-hticket-total-height: 264px;
$header-hticket-image: '~@/common/img/sprite.png';
$header-hticket: (170px, 195px, -170px, -195px, 18px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'header-Hticket', );
$header-letterlog-name: 'header-letterlog';
$header-letterlog-x: 195px;
$header-letterlog-y: 160px;
$header-letterlog-offset-x: -195px;
$header-letterlog-offset-y: -160px;
$header-letterlog-width: 13px;
$header-letterlog-height: 12px;
$header-letterlog-total-width: 300px;
$header-letterlog-total-height: 264px;
$header-letterlog-image: '~@/common/img/sprite.png';
$header-letterlog: (195px, 160px, -195px, -160px, 13px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'header-letterlog', );
$header-logo-name: 'header-logo';
$header-logo-x: 88px;
$header-logo-y: 172px;
$header-logo-offset-x: -88px;
$header-logo-offset-y: -172px;
$header-logo-width: 88px;
$header-logo-height: 23px;
$header-logo-total-width: 300px;
$header-logo-total-height: 264px;
$header-logo-image: '~@/common/img/sprite.png';
$header-logo: (88px, 172px, -88px, -172px, 88px, 23px, 300px, 264px, '~@/common/img/sprite.png', 'header-logo', );
$header-more-name: 'header-more';
$header-more-x: 72px;
$header-more-y: 195px;
$header-more-offset-x: -72px;
$header-more-offset-y: -195px;
$header-more-width: 42px;
$header-more-height: 24px;
$header-more-total-width: 300px;
$header-more-total-height: 264px;
$header-more-image: '~@/common/img/sprite.png';
$header-more: (72px, 195px, -72px, -195px, 42px, 24px, 300px, 264px, '~@/common/img/sprite.png', 'header-more', );
$header-ticket-name: 'header-ticket';
$header-ticket-x: 244px;
$header-ticket-y: 172px;
$header-ticket-offset-x: -244px;
$header-ticket-offset-y: -172px;
$header-ticket-width: 18px;
$header-ticket-height: 14px;
$header-ticket-total-width: 300px;
$header-ticket-total-height: 264px;
$header-ticket-image: '~@/common/img/sprite.png';
$header-ticket: (244px, 172px, -244px, -172px, 18px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'header-ticket', );
$hint-error-name: 'hint-error';
$hint-error-x: 168px;
$hint-error-y: 116px;
$hint-error-offset-x: -168px;
$hint-error-offset-y: -116px;
$hint-error-width: 44px;
$hint-error-height: 44px;
$hint-error-total-width: 300px;
$hint-error-total-height: 264px;
$hint-error-image: '~@/common/img/sprite.png';
$hint-error: (168px, 116px, -168px, -116px, 44px, 44px, 300px, 264px, '~@/common/img/sprite.png', 'hint-error', );
$hint-success-name: 'hint-success';
$hint-success-x: 216px;
$hint-success-y: 56px;
$hint-success-offset-x: -216px;
$hint-success-offset-y: -56px;
$hint-success-width: 52px;
$hint-success-height: 52px;
$hint-success-total-width: 300px;
$hint-success-total-height: 264px;
$hint-success-image: '~@/common/img/sprite.png';
$hint-success: (216px, 56px, -216px, -56px, 52px, 52px, 300px, 264px, '~@/common/img/sprite.png', 'hint-success', );
$hint-warn-name: 'hint-warn';
$hint-warn-x: 154px;
$hint-warn-y: 62px;
$hint-warn-offset-x: -154px;
$hint-warn-offset-y: -62px;
$hint-warn-width: 44px;
$hint-warn-height: 44px;
$hint-warn-total-width: 300px;
$hint-warn-total-height: 264px;
$hint-warn-image: '~@/common/img/sprite.png';
$hint-warn: (154px, 62px, -154px, -62px, 44px, 44px, 300px, 264px, '~@/common/img/sprite.png', 'hint-warn', );
$home-aboutus-name: 'home-aboutus';
$home-aboutus-x: 272px;
$home-aboutus-y: 90px;
$home-aboutus-offset-x: -272px;
$home-aboutus-offset-y: -90px;
$home-aboutus-width: 22px;
$home-aboutus-height: 22px;
$home-aboutus-total-width: 300px;
$home-aboutus-total-height: 264px;
$home-aboutus-image: '~@/common/img/sprite.png';
$home-aboutus: (272px, 90px, -272px, -90px, 22px, 22px, 300px, 264px, '~@/common/img/sprite.png', 'home-aboutus', );
$home-api-name: 'home-api';
$home-api-x: 272px;
$home-api-y: 40px;
$home-api-offset-x: -272px;
$home-api-offset-y: -40px;
$home-api-width: 25px;
$home-api-height: 25px;
$home-api-total-width: 300px;
$home-api-total-height: 264px;
$home-api-image: '~@/common/img/sprite.png';
$home-api: (272px, 40px, -272px, -40px, 25px, 25px, 300px, 264px, '~@/common/img/sprite.png', 'home-api', );
$home-application-name: 'home-application';
$home-application-x: 256px;
$home-application-y: 108px;
$home-application-offset-x: -256px;
$home-application-offset-y: -108px;
$home-application-width: 16px;
$home-application-height: 20px;
$home-application-total-width: 300px;
$home-application-total-height: 264px;
$home-application-image: '~@/common/img/sprite.png';
$home-application: (256px, 108px, -256px, -108px, 16px, 20px, 300px, 264px, '~@/common/img/sprite.png', 'home-application', );
$home-apply-name: 'home-apply';
$home-apply-x: 272px;
$home-apply-y: 112px;
$home-apply-offset-x: -272px;
$home-apply-offset-y: -112px;
$home-apply-width: 22px;
$home-apply-height: 22px;
$home-apply-total-width: 300px;
$home-apply-total-height: 264px;
$home-apply-image: '~@/common/img/sprite.png';
$home-apply: (272px, 112px, -272px, -112px, 22px, 22px, 300px, 264px, '~@/common/img/sprite.png', 'home-apply', );
$home-contact-name: 'home-contact';
$home-contact-x: 272px;
$home-contact-y: 65px;
$home-contact-offset-x: -272px;
$home-contact-offset-y: -65px;
$home-contact-width: 20px;
$home-contact-height: 25px;
$home-contact-total-width: 300px;
$home-contact-total-height: 264px;
$home-contact-image: '~@/common/img/sprite.png';
$home-contact: (272px, 65px, -272px, -65px, 20px, 25px, 300px, 264px, '~@/common/img/sprite.png', 'home-contact', );
$home-hide-name: 'home-hide';
$home-hide-x: 154px;
$home-hide-y: 106px;
$home-hide-offset-x: -154px;
$home-hide-offset-y: -106px;
$home-hide-width: 21px;
$home-hide-height: 8px;
$home-hide-total-width: 300px;
$home-hide-total-height: 264px;
$home-hide-image: '~@/common/img/sprite.png';
$home-hide: (154px, 106px, -154px, -106px, 21px, 8px, 300px, 264px, '~@/common/img/sprite.png', 'home-hide', );
$home-log-name: 'home-log';
$home-log-x: 0px;
$home-log-y: 80px;
$home-log-offset-x: 0px;
$home-log-offset-y: -80px;
$home-log-width: 138px;
$home-log-height: 36px;
$home-log-total-width: 300px;
$home-log-total-height: 264px;
$home-log-image: '~@/common/img/sprite.png';
$home-log: (0px, 80px, 0px, -80px, 138px, 36px, 300px, 264px, '~@/common/img/sprite.png', 'home-log', );
$home-open-name: 'home-open';
$home-open-x: 224px;
$home-open-y: 172px;
$home-open-offset-x: -224px;
$home-open-offset-y: -172px;
$home-open-width: 20px;
$home-open-height: 14px;
$home-open-total-width: 300px;
$home-open-total-height: 264px;
$home-open-image: '~@/common/img/sprite.png';
$home-open: (224px, 172px, -224px, -172px, 20px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'home-open', );
$home-privacy-name: 'home-privacy';
$home-privacy-x: 272px;
$home-privacy-y: 134px;
$home-privacy-offset-x: -272px;
$home-privacy-offset-y: -134px;
$home-privacy-width: 21px;
$home-privacy-height: 20px;
$home-privacy-total-width: 300px;
$home-privacy-total-height: 264px;
$home-privacy-image: '~@/common/img/sprite.png';
$home-privacy: (272px, 134px, -272px, -134px, 21px, 20px, 300px, 264px, '~@/common/img/sprite.png', 'home-privacy', );
$home-search-name: 'home-search';
$home-search-x: 216px;
$home-search-y: 195px;
$home-search-offset-x: -216px;
$home-search-offset-y: -195px;
$home-search-width: 13px;
$home-search-height: 13px;
$home-search-total-width: 300px;
$home-search-total-height: 264px;
$home-search-image: '~@/common/img/sprite.png';
$home-search: (216px, 195px, -216px, -195px, 13px, 13px, 300px, 264px, '~@/common/img/sprite.png', 'home-search', );
$homemarket-both-name: 'homemarket-both';
$homemarket-both-x: 292px;
$homemarket-both-y: 65px;
$homemarket-both-offset-x: -292px;
$homemarket-both-offset-y: -65px;
$homemarket-both-width: 8px;
$homemarket-both-height: 10px;
$homemarket-both-total-width: 300px;
$homemarket-both-total-height: 264px;
$homemarket-both-image: '~@/common/img/sprite.png';
$homemarket-both: (292px, 65px, -292px, -65px, 8px, 10px, 300px, 264px, '~@/common/img/sprite.png', 'homemarket-both', );
$homemarket-down-name: 'homemarket-down';
$homemarket-down-x: 292px;
$homemarket-down-y: 75px;
$homemarket-down-offset-x: -292px;
$homemarket-down-offset-y: -75px;
$homemarket-down-width: 8px;
$homemarket-down-height: 10px;
$homemarket-down-total-width: 300px;
$homemarket-down-total-height: 264px;
$homemarket-down-image: '~@/common/img/sprite.png';
$homemarket-down: (292px, 75px, -292px, -75px, 8px, 10px, 300px, 264px, '~@/common/img/sprite.png', 'homemarket-down', );
$homemarket-up-name: 'homemarket-up';
$homemarket-up-x: 291px;
$homemarket-up-y: 154px;
$homemarket-up-offset-x: -291px;
$homemarket-up-offset-y: -154px;
$homemarket-up-width: 8px;
$homemarket-up-height: 10px;
$homemarket-up-total-width: 300px;
$homemarket-up-total-height: 264px;
$homemarket-up-image: '~@/common/img/sprite.png';
$homemarket-up: (291px, 154px, -291px, -154px, 8px, 10px, 300px, 264px, '~@/common/img/sprite.png', 'homemarket-up', );
$homepage-api-name: 'homepage-api';
$homepage-api-x: 216px;
$homepage-api-y: 0px;
$homepage-api-offset-x: -216px;
$homepage-api-offset-y: 0px;
$homepage-api-width: 56px;
$homepage-api-height: 56px;
$homepage-api-total-width: 300px;
$homepage-api-total-height: 264px;
$homepage-api-image: '~@/common/img/sprite.png';
$homepage-api: (216px, 0px, -216px, 0px, 56px, 56px, 300px, 264px, '~@/common/img/sprite.png', 'homepage-api', );
$homepage-apply-name: 'homepage-apply';
$homepage-apply-x: 154px;
$homepage-apply-y: 0px;
$homepage-apply-offset-x: -154px;
$homepage-apply-offset-y: 0px;
$homepage-apply-width: 62px;
$homepage-apply-height: 62px;
$homepage-apply-total-width: 300px;
$homepage-apply-total-height: 264px;
$homepage-apply-image: '~@/common/img/sprite.png';
$homepage-apply: (154px, 0px, -154px, 0px, 62px, 62px, 300px, 264px, '~@/common/img/sprite.png', 'homepage-apply', );
$homepage-clause-name: 'homepage-clause';
$homepage-clause-x: 112px;
$homepage-clause-y: 116px;
$homepage-clause-offset-x: -112px;
$homepage-clause-offset-y: -116px;
$homepage-clause-width: 56px;
$homepage-clause-height: 56px;
$homepage-clause-total-width: 300px;
$homepage-clause-total-height: 264px;
$homepage-clause-image: '~@/common/img/sprite.png';
$homepage-clause: (112px, 116px, -112px, -116px, 56px, 56px, 300px, 264px, '~@/common/img/sprite.png', 'homepage-clause', );
$homepage-rate-name: 'homepage-rate';
$homepage-rate-x: 56px;
$homepage-rate-y: 116px;
$homepage-rate-offset-x: -56px;
$homepage-rate-offset-y: -116px;
$homepage-rate-width: 56px;
$homepage-rate-height: 56px;
$homepage-rate-total-width: 300px;
$homepage-rate-total-height: 264px;
$homepage-rate-image: '~@/common/img/sprite.png';
$homepage-rate: (56px, 116px, -56px, -116px, 56px, 56px, 300px, 264px, '~@/common/img/sprite.png', 'homepage-rate', );
$homepage-us-name: 'homepage-us';
$homepage-us-x: 0px;
$homepage-us-y: 116px;
$homepage-us-offset-x: 0px;
$homepage-us-offset-y: -116px;
$homepage-us-width: 56px;
$homepage-us-height: 56px;
$homepage-us-total-width: 300px;
$homepage-us-total-height: 264px;
$homepage-us-image: '~@/common/img/sprite.png';
$homepage-us: (0px, 116px, 0px, -116px, 56px, 56px, 300px, 264px, '~@/common/img/sprite.png', 'homepage-us', );
$refresh-qrcode-name: 'refresh-qrcode';
$refresh-qrcode-x: 256px;
$refresh-qrcode-y: 128px;
$refresh-qrcode-offset-x: -256px;
$refresh-qrcode-offset-y: -128px;
$refresh-qrcode-width: 16px;
$refresh-qrcode-height: 16px;
$refresh-qrcode-total-width: 300px;
$refresh-qrcode-total-height: 264px;
$refresh-qrcode-image: '~@/common/img/sprite.png';
$refresh-qrcode: (256px, 128px, -256px, -128px, 16px, 16px, 300px, 264px, '~@/common/img/sprite.png', 'refresh-qrcode', );
$search-delete-name: 'search-delete';
$search-delete-x: 188px;
$search-delete-y: 195px;
$search-delete-offset-x: -188px;
$search-delete-offset-y: -195px;
$search-delete-width: 14px;
$search-delete-height: 14px;
$search-delete-total-width: 300px;
$search-delete-total-height: 264px;
$search-delete-image: '~@/common/img/sprite.png';
$search-delete: (188px, 195px, -188px, -195px, 14px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'search-delete', );
$sideslip-assets-name: 'sideslip-assets';
$sideslip-assets-x: 132px;
$sideslip-assets-y: 195px;
$sideslip-assets-offset-x: -132px;
$sideslip-assets-offset-y: -195px;
$sideslip-assets-width: 19px;
$sideslip-assets-height: 17px;
$sideslip-assets-total-width: 300px;
$sideslip-assets-total-height: 264px;
$sideslip-assets-image: '~@/common/img/sprite.png';
$sideslip-assets: (132px, 195px, -132px, -195px, 19px, 17px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-assets', );
$sideslip-consulting-name: 'sideslip-consulting';
$sideslip-consulting-x: 272px;
$sideslip-consulting-y: 211px;
$sideslip-consulting-offset-x: -272px;
$sideslip-consulting-offset-y: -211px;
$sideslip-consulting-width: 19px;
$sideslip-consulting-height: 19px;
$sideslip-consulting-total-width: 300px;
$sideslip-consulting-total-height: 264px;
$sideslip-consulting-image: '~@/common/img/sprite.png';
$sideslip-consulting: (272px, 211px, -272px, -211px, 19px, 19px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-consulting', );
$sideslip-lang-name: 'sideslip-lang';
$sideslip-lang-x: 272px;
$sideslip-lang-y: 192px;
$sideslip-lang-offset-x: -272px;
$sideslip-lang-offset-y: -192px;
$sideslip-lang-width: 19px;
$sideslip-lang-height: 19px;
$sideslip-lang-total-width: 300px;
$sideslip-lang-total-height: 264px;
$sideslip-lang-image: '~@/common/img/sprite.png';
$sideslip-lang: (272px, 192px, -272px, -192px, 19px, 19px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-lang', );
$sideslip-market-name: 'sideslip-market';
$sideslip-market-x: 272px;
$sideslip-market-y: 173px;
$sideslip-market-offset-x: -272px;
$sideslip-market-offset-y: -173px;
$sideslip-market-width: 19px;
$sideslip-market-height: 19px;
$sideslip-market-total-width: 300px;
$sideslip-market-total-height: 264px;
$sideslip-market-image: '~@/common/img/sprite.png';
$sideslip-market: (272px, 173px, -272px, -173px, 19px, 19px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-market', );
$sideslip-myaccount-name: 'sideslip-myaccount';
$sideslip-myaccount-x: 151px;
$sideslip-myaccount-y: 195px;
$sideslip-myaccount-offset-x: -151px;
$sideslip-myaccount-offset-y: -195px;
$sideslip-myaccount-width: 19px;
$sideslip-myaccount-height: 16px;
$sideslip-myaccount-total-width: 300px;
$sideslip-myaccount-total-height: 264px;
$sideslip-myaccount-image: '~@/common/img/sprite.png';
$sideslip-myaccount: (151px, 195px, -151px, -195px, 19px, 16px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-myaccount', );
$sideslip-pc-name: 'sideslip-pc';
$sideslip-pc-x: 272px;
$sideslip-pc-y: 154px;
$sideslip-pc-offset-x: -272px;
$sideslip-pc-offset-y: -154px;
$sideslip-pc-width: 19px;
$sideslip-pc-height: 19px;
$sideslip-pc-total-width: 300px;
$sideslip-pc-total-height: 264px;
$sideslip-pc-image: '~@/common/img/sprite.png';
$sideslip-pc: (272px, 154px, -272px, -154px, 19px, 19px, 300px, 264px, '~@/common/img/sprite.png', 'sideslip-pc', );
$sms-triangle-name: 'sms-triangle';
$sms-triangle-x: 256px;
$sms-triangle-y: 159px;
$sms-triangle-offset-x: -256px;
$sms-triangle-offset-y: -159px;
$sms-triangle-width: 10px;
$sms-triangle-height: 8px;
$sms-triangle-total-width: 300px;
$sms-triangle-total-height: 264px;
$sms-triangle-image: '~@/common/img/sprite.png';
$sms-triangle: (256px, 159px, -256px, -159px, 10px, 8px, 300px, 264px, '~@/common/img/sprite.png', 'sms-triangle', );
$ticket-replay-name: 'ticket-replay';
$ticket-replay-x: 202px;
$ticket-replay-y: 195px;
$ticket-replay-offset-x: -202px;
$ticket-replay-offset-y: -195px;
$ticket-replay-width: 14px;
$ticket-replay-height: 14px;
$ticket-replay-total-width: 300px;
$ticket-replay-total-height: 264px;
$ticket-replay-image: '~@/common/img/sprite.png';
$ticket-replay: (202px, 195px, -202px, -195px, 14px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'ticket-replay', );
$ticket-upload-name: 'ticket-upload';
$ticket-upload-x: 168px;
$ticket-upload-y: 160px;
$ticket-upload-offset-x: -168px;
$ticket-upload-offset-y: -160px;
$ticket-upload-width: 14px;
$ticket-upload-height: 12px;
$ticket-upload-total-width: 300px;
$ticket-upload-total-height: 264px;
$ticket-upload-image: '~@/common/img/sprite.png';
$ticket-upload: (168px, 160px, -168px, -160px, 14px, 12px, 300px, 264px, '~@/common/img/sprite.png', 'ticket-upload', );
$triangle-down-name: 'triangle-down';
$triangle-down-x: 176px;
$triangle-down-y: 172px;
$triangle-down-offset-x: -176px;
$triangle-down-offset-y: -172px;
$triangle-down-width: 24px;
$triangle-down-height: 14px;
$triangle-down-total-width: 300px;
$triangle-down-total-height: 264px;
$triangle-down-image: '~@/common/img/sprite.png';
$triangle-down: (176px, 172px, -176px, -172px, 24px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'triangle-down', );
$triangle-up-name: 'triangle-up';
$triangle-up-x: 200px;
$triangle-up-y: 172px;
$triangle-up-offset-x: -200px;
$triangle-up-offset-y: -172px;
$triangle-up-width: 24px;
$triangle-up-height: 14px;
$triangle-up-total-width: 300px;
$triangle-up-total-height: 264px;
$triangle-up-image: '~@/common/img/sprite.png';
$triangle-up: (200px, 172px, -200px, -172px, 24px, 14px, 300px, 264px, '~@/common/img/sprite.png', 'triangle-up', );
$validate-gplay-name: 'validate-gplay';
$validate-gplay-x: 0px;
$validate-gplay-y: 40px;
$validate-gplay-offset-x: 0px;
$validate-gplay-offset-y: -40px;
$validate-gplay-width: 154px;
$validate-gplay-height: 40px;
$validate-gplay-total-width: 300px;
$validate-gplay-total-height: 264px;
$validate-gplay-image: '~@/common/img/sprite.png';
$validate-gplay: (0px, 40px, 0px, -40px, 154px, 40px, 300px, 264px, '~@/common/img/sprite.png', 'validate-gplay', );
$validate-iosapp-name: 'validate-iosapp';
$validate-iosapp-x: 0px;
$validate-iosapp-y: 0px;
$validate-iosapp-offset-x: 0px;
$validate-iosapp-offset-y: 0px;
$validate-iosapp-width: 154px;
$validate-iosapp-height: 40px;
$validate-iosapp-total-width: 300px;
$validate-iosapp-total-height: 264px;
$validate-iosapp-image: '~@/common/img/sprite.png';
$validate-iosapp: (0px, 0px, 0px, 0px, 154px, 40px, 300px, 264px, '~@/common/img/sprite.png', 'validate-iosapp', );
$withdraw-add-name: 'withdraw-add';
$withdraw-add-x: 138px;
$withdraw-add-y: 80px;
$withdraw-add-offset-x: -138px;
$withdraw-add-offset-y: -80px;
$withdraw-add-width: 15px;
$withdraw-add-height: 15px;
$withdraw-add-total-width: 300px;
$withdraw-add-total-height: 264px;
$withdraw-add-image: '~@/common/img/sprite.png';
$withdraw-add: (138px, 80px, -138px, -80px, 15px, 15px, 300px, 264px, '~@/common/img/sprite.png', 'withdraw-add', );
$spritesheet-width: 300px;
$spritesheet-height: 264px;
$spritesheet-image: '~@/common/img/sprite.png';
$spritesheet-sprites: ($account-email, $account-false, $account-identity, $account-phone, $account-right, $account-unverified, $account-validate-true, $account-verifying, $asset-freeze, $asset-total, $bootvaildate, $delete, $form-select, $header-avatarlog, $header-havatarlog, $header-hletterlog, $header-hlog, $header-hticket, $header-letterlog, $header-logo, $header-more, $header-ticket, $hint-error, $hint-success, $hint-warn, $home-aboutus, $home-api, $home-application, $home-apply, $home-contact, $home-hide, $home-log, $home-open, $home-privacy, $home-search, $homemarket-both, $homemarket-down, $homemarket-up, $homepage-api, $homepage-apply, $homepage-clause, $homepage-rate, $homepage-us, $refresh-qrcode, $search-delete, $sideslip-assets, $sideslip-consulting, $sideslip-lang, $sideslip-market, $sideslip-myaccount, $sideslip-pc, $sms-triangle, $ticket-replay, $ticket-upload, $triangle-down, $triangle-up, $validate-gplay, $validate-iosapp, $withdraw-add, );
$spritesheet: (300px, 264px, '~@/common/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
