.w1200 {
  width: 1200px;
  margin: 0 auto;
}
#app{
  height: 100%;
  position: relative;
}

.main{
  min-height: 100%;
  padding-bottom: 217px;
}
.exchange {
  padding-bottom: 0;
}

.input.is-danger, .textarea.is-danger {
    border-color: #ff3860;
    background: white;
}

.help {
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.help.is-danger {
    color: #ff3860;
}

[v-cloak] {
  display: none;
}

html, body {
  height: 100%;
}

a{
  color: black;
  &:hover,&:focus{
    color: black
  }
}

body{
  background: #f2f2f2;
  font-family: 'Roboto','Arial', sans-serif;
}

.white-btn{
  border: 1px solid #4382f7;
  color: #4382f7;
  background: white;
}

.box-container{
  background: #f2f2f2;
  padding-bottom: 13px;
  min-height: 70vh;
}

.container-block{
  background: white;
  margin-top: 10px;
  overflow: hidden;
}

.btn{
  border-radius: 0
}

.btn:active{
 box-shadow: none;
}

.btn:hover{
  color: white
}

.link {
  color: #4382f7!important;
  cursor: pointer;
}

.link:hover{
  text-decoration: none!important;
  color: #4382f7!important;
}

.links {
  color: #4382f7;
  cursor: pointer;
}

.links:hover{
  text-decoration: none;
  color: #4382f7;
}

.white-btn:hover,.white-btn:focus{
  color: #4382f7;
}

.basic-button:hover,.basic-button:focus{
  color: white;
}

#app .btn[disabled=true]{
  cursor: not-allowed
}

.pointer{
  cursor: pointer;
}

.b-def{
  border: 1px solid #dfe0e1;
}

.b{
  border: 1px solid #f2f2f2;
}

.b-r{
  border-right:1px solid #f2f2f2;
}

.b-l{
  border-left:1px solid #f2f2f2;
}

.b-t{
  border-top:1px solid #f2f2f2;
}

.b-b{
  border-bottom:1px solid #f2f2f2;
}

.fr{
  float: right;
}

.fl{
  float: left;
}

.fz12 {
  font-size: 12px;
}

.font12{
  font-size: 12px;
}

.color333{
  color: #333333;
}

.color666{
  color: #666666;
}

.color999{
  color: #999999;
}

ul,li {
  list-style: none;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.global-loading{
  .vue-simple-spinner{
    position: fixed;
    left: 50%;
    top: 43%;
    margin-left: -44px !important;
    margin-top: -44px !important;
  }
}

a{
 text-decoration: none;
 &:focus,&:hover{
   text-decoration: none;
 }
}

@media (max-width: 992px) {
  html, body {
    height: auto;
  }
}

@media (max-width: 768px) {
  .main{
    padding-bottom: 0;
  }
  .box-container {
    padding: 6px;
  }
  .noPadding {
    padding: 0;
  }
  .global-loading{
    min-height: calc(100vh - 52px);
    >div{
      margin-top: 55%;
    }
  }
}

.navbar{
  border: none;
}

@media (min-width: 992px){
  .home-contain{
    .container {
      width: auto;
    }
  }
  // .container {
  //   width: 100%;
  // }
}

@media (min-width: 768px){
  .home-contain{
    .container {
      width: auto;
    }
  }
}

@media (max-width: 1200px){
  .homepage-markets{
    padding: 0 11px;
  }
  .homepage-introduce{
    padding-left: 28px;
  }
  .home-contain{
    .navbar-Home .navbar-brand{
      margin-left: 21px;
    }
  }
}

.home-contain{
  // min-width: 1170px;
  .container{
    width: 1200px;
  }
  .box-container{
    padding: 0;
    width: 1200px;
  }
}

/* -----------------------------------animation-------------------------- */
.SideSlipMenu-enter, .SideSlipMenu-leave-to {
  transform: translateX(73.4%);
}

@font-face {
    font-family: "Roboto";
    src: url("~@/common/fonts/roboto/Roboto-Regular-webfont.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('~@/common/fonts/roboto/Roboto-Medium-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("~@/common/fonts/roboto/Roboto-Bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
