.btc-MarketApply{
  .btc-MarketApply-title{
    color: #333333;
    font-size: 20px;
    margin-top: 77px;
  }
  header>:nth-child(2){
    margin-top: 15px;
    margin-bottom: 65px
  }
  .btc-MarketApply-section{
    section{
      float: left;
      width: 23%;
      height: 346px;
      padding: 0 40px;
      margin-left: 92px;
      box-shadow: 0 7px 35px rgba(0, 0, 0, 0.08);
      padding-top: 93px;
      span{
        display: block;
        font-size: 14px;
        color: #333333;
        margin-top: 33px;
        margin-bottom: 23px;
      }
      div{
        color: #999999;
        font-size: 12px;
        text-align: left;
      }
    }
  }
  .btc-MarketApply-authentication{
    margin-top: 65px;
    margin-bottom: 35px;
    >:nth-child(1){
      display: inline-block;
      height: 14px;
      border: 1px solid #dfdfdf;
      width: 14px;
      position: relative;
      top: 3px;
      margin-right: 6px;
      cursor: pointer;
    }
    .btc-marketApply-right{
      border: none;
      &:after{
        content: '';
        @include sprite($-market-maker-right);
        display: block;
      }
    }
  }
  .btc-marketApply-apply{
    background: #4382f7;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 20px;
    margin-bottom: 50px;
  }
  .btc-choice{
    background: #d9d9d9;
    cursor: not-allowed;
  }
}

@media (max-width: 1200px) {
  .btc-MarketApply .btc-MarketApply-section section{
    margin-left: 46px;
    width: 27%;
  }
}

@media (max-width: 992px) {
  .btc-MarketApply .btc-MarketApply-section section{
    width: 46%;
    min-width: 264px;
    float: none;
    margin: auto;
    margin-top: 53px;
  }
}

// sprites
$sprite: (
  'activity': $-market-maker-activity,
  'free': $-market-maker-free,
  'service': $-market-maker-service
);

@each $key, $val in $sprite{
  .MarketMaker-#{$key} {
    @include sprite(map-get($sprite, $key));
    margin: auto;
  }
}

i{
  display: block;
}
