.btc-footer {
  box-sizing: border-box;
}

.btc-footer {
  color: #777777;
  box-sizing: border-box;
  background-color: #2e3136;
  width: 100%;
}

.btc-footer ul {
  padding: 0;
  list-style: none;
}

a{
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}

.btc-footer {
  .btc-footer-logo{
    margin-top: 24px;
    margin-left: 32px;
    color: #728eaa;
    >img{
      margin-bottom: 24px;
    }
  }
  .btc-info{
    margin-top: 30px;
    >li{
      margin-bottom: 12px;
      font-size: 12px;
      color: #728eaa;
      >a{
        color: #728eaa
      }
      &:first-child{
        font-size: 14px;
        margin-bottom: 30px;
        >a{

        }
      }
    }
  }
  .btc-footer-us{
    >li{
      font-size: 12px;
      >a{
        color: #728eaa
      }
    }
  }
}



@media (min-width: 750px) {
  .btc-footer {
    padding: 20px 0;
  }

  .btc-footer .col-sm-6 {
    padding-left: 60px;
  }
}
@media (max-width: 750px) {

  .btc-footer > .container {
    padding: 10px 0;
  }
}

.btc-footer a {
  color: #777777;
}

.btc-footer .btn-danger {
  color: white;
}
