.footer {
  box-sizing: border-box;
  font-family:  'Roboto'
}

.footer {
  color: #777777;
  background-color: #272727;
  width: 100%;
  margin-top: -217px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

a{
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}

.footer {
  .footer-logo{
    margin-top: 24px;
    margin-left: 32px;
    color: #797a7a;
    >img{
      margin-bottom: 28px;
      height: 25px;
    }
  }
  .info{
    margin-top: 30px;
    >li{
      margin-bottom: 12px;
      font-size: 12px;
      >a{
        color: #797a7a
      }
      &:first-child{
        font-size: 14px;
        margin-bottom: 15px;
      }
      strong{
        color: #b6b6b6
      }
    }
  }
}

.footer-from-home{
  .info{
    width: 8.33333333%;
    float: left;
  }
  .footer-logo {
    width: 41.66666667%;
    float: left;
  }
}

@media (max-width: 767px){
  .footer-from-home{
    display: block!important;
  }
}

@media (max-width: 768px) {
  .footer{
    margin-top: 0;
  }
}

@media (min-width: 750px) {
  .footer {
    padding: 27.5px 0;
  }

  .footer .col-sm-6 {
    padding-left: 60px;
  }
}
@media (max-width: 750px) {
  .footer > .container {
    padding: 10px 0;
  }
}

.footer a {
  color: #777777;
}

.footer .btn-danger {
  color: white;
}
