.market {
  .hd {
    height: 36px;
    line-height: 36px;
    background: #1f2a36;
    padding-left: 0;
    margin-bottom: 0;
    li {
      width: 35%;
      color: #42637d;
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      float: left;
      &.up {
        .caret {
          opacity: 1;
          border-color: transparent transparent #728eaa transparent;
          border-bottom: 4px solid #4382f7;
        }
      }
      &.down {
        .caret {
          opacity: 1;
          color: #4382f7
        }
      }
      .caret {
        opacity: 0;
        margin-left: 5px;
        vertical-align: 3px;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      &:last-child {
        width: 30%;
      }
    }
  }
  .bd {
    padding-left: 0;
    margin-bottom: 0;
  }
  .list {
    height: 66px;
    width: 100%;
    border-bottom: 1px solid #1f2a36;
    background: #181f28;
    &>a>div {
      display: inline-block;
      padding-top: 10px;
      float: left;
    }
  }
  .list-coin {
    width: 38%;
    text-indent: 10px;
    .coin {
      font-size: 16px;
      color: #fff;
      height: 26px;
      line-height: 26px;
      text-align: left;
      span {
        display: inline-block;
        text-align: left;
        color: #728eaa;
        text-indent: 0;
        font-size: 13px;
      }
    }
    .vol {
      font-size: 13px;
      color: #728eaa;
      height: 20px;
      line-height: 20px;
      text-align: left;
      span {
        margin-right: 4px;
      }
    }
  }
  .list-price {
    width: 35%;
    .price {
      font-size: 16px;
      color: #fff;
      height: 26px;
      line-height: 26px;
      text-align: left;
      &.done {
        color: #e9454d;
      }
      &.up {
        color: #40b246;
      }
    }
    .val {
      font-size: 14px;
      color: #728eaa;
      height: 20px;
      line-height: 20px;
      text-align: left;
    }
  }
  .list-btn {
    width: 27%;
    text-align: center;
    div {
      display: inline-block;
      width: 84%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      background: #999999;
      border-radius: 2px;
      &.text-up {
        background: #40b246;
      }
      &.text-down {
        background: #e9454d;
      }
    }
  }

}
