.btc-SideSlipMenu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  transition: all 0.5s;
  display: none;
 & > div {
    background: #12171e;
    color: white;
    position: fixed;
    height: 100%;
    width: 73.4%;
    overflow: auto;
    z-index: 100;
    font-size: 15px;
    padding-top: 2.7%;
    right: 0;
    padding-left: 41px;
  }
  ul {
    padding: 0
  }
  li {
    margin-bottom: 60px;
    cursor: pointer;
  }
  img {
    width: 19px;
    position: relative;
    top: -2px;
    margin-right: 7px;
  }
  a {
    color: white;
    &:hover{
      text-decoration: none
    }
  }
}

@media(max-width: 993px){
  .btc-SideSlipMenu {
    display: block
  }
}
@media(max-width: 768px){
  .marketlist {
    display: none;
  }
}
