.btc-SideSlipMenu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  transition: all 0.5s;
  display: none;
  .btc-fr{
    position: relative;
    top: 6px;
  }
 & > div {
    background: #12171e;
    color: white;
    position: fixed;
    height: 100%;
    width: 73.4%;
    overflow: auto;
    z-index: 100;
    font-size: 15px;
    padding-top: 2.7%;
    right: 0;
    padding-left: 7%;
  }
  ul {
    padding: 0;
    height: calc(100% - 80px);
  }
  li {
    margin-bottom: 60px;
    cursor: pointer;
  }
  img {
    width: 19px;
    position: relative;
    top: -2px;
    margin-right: 7px;
  }
  a {
    color: white;
    &:hover{
      text-decoration: none
    }
  }
  .text-center{
    // width: 74%;
    // margin-left: 2%;
    // position: relative;
    // bottom: 0px;
    // margin-bottom: 5%;
    // margin-top: 70%;
    margin-bottom: 38px;
    margin-right: 16%;
  }
  .btc-sideslip-marignB0{
    margin-bottom: 0;
  }
  i{
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 3px;
  }
  .sideslip-triangle{
    width: 14px;
    height: 24px;
  }
  .sideslip-triangle-up{
    transform: rotate(-90deg);
  }
  .sideslip-triangle-down{
    transform: rotate(90deg);
  }
}

@media(max-width: 992px){
  .btc-SideSlipMenu {
    display: block
  }
}
@media(max-width: 768px){
  .marketlist {
    display: none;
  }
}

// // sprites
// $sprite: (
//   'triangle-up': $triangle-up,
//   'triangle-down': $triangle-down
// );

// @each $key, $val in $sprite{
//   .sideslip-#{$key} {
//     @include sprite(map-get($sprite, $key));
//   }
// }
