'use strict'
const merge = require('webpack-merge')
const prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  HOST_URL: '"http://192.168.163.128:3000"',
  PUSHER_CONFIG: {
    encrypted: false,
    key: "'47e6f94a515e8dd9dee9bf061c7afaa613e86365'",
    wsHost: "'192.168.1.205'",
    wsPort: "'8180'",
    wssPort: "'8180'"
  }
})

