'use strict'
module.exports = {
  NODE_ENV: '"production"',
  HOST_URL: '"http://192.168.1.110:3000"',
  PUSHER_CONFIG: {
    cluster: "'ap1'",
    encrypted: true,
    key: "'11227a46061409170fd5'",
    wsHost: "'api-ap1.pusher.com'",
    wsPort: "'80'",
    wssPort: "'443'"
  }
}
