'use strict'
module.exports = {
  NODE_ENV: '"production"',
  HOST_URL: '"http://192.168.1.110:3000"',
  ROUTER_VERSION: '"/v2"',
  PUSHER_CONFIG: {
    encrypted: false,
    key: "'47e6f94a515e8dd9dee9bf061c7afaa613e86365'",
    wsHost: "'192.168.1.205'",
    wsPort: "'8180'",
    wssPort: "'8180'"
  }
}
