#trades {
  width: 100%;
  height: 100%;
  .tab_hd {
    background: #1b1e2e;
    height: 40px;
    li {

      padding: 0 20px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      font-weight: bold;
      .newPirce {
        height: 40px;
        line-height: 40px;
        font-size: 14px;  
        text-indent: 4px;
        color: #728eaa;
        float: right;

        span {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
  .bd {
    padding: 0 4px;
    height: calc(100% - 40px);
    background: #101622;
    .hd {
      div {
        display: inline-block;
        width: 32%;
        font-size: 14px;
        float: left;
        text-align: center;
        color: #61688a;
        height: 30px;
        line-height: 30px;
        &:first-child {
          text-align: left;
          text-indent: 5px;
        }
        &:last-child {
          text-align: right;
          width: 34%;
        }
      }
    }
    hr {
      border-top: 2px solid #1f2943;
      margin: 2px 0;
    }
    .lists {
      height: calc(50% - 18px);
      min-height: 174px;
      overflow: hidden;
      ul {
        width: 100%;
        li {
          height: 26px;
          line-height: 26px;
          cursor: pointer;
          &:hover {
            background: #262a42;
          }
        }
      }
      div {
        display: inline-block;
        width: 32%;
        float: left;
        text-align: center;
        color: #87a3bf;
        height: 18px;
        line-height: 18px;
        margin-top: 0;
        &:first-child {
          text-align: left;
          text-indent: 5px;
        }
        &:last-child {
          text-align: right;
          width: 34%;
        }
      }
      &.buy {
        div:first-child {
          color: #40b246
        }
      }
      &.sell {
        position: relative;
        div:first-child {
          color: #e9454d;
        }
        .listbox {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
