.btc-validate-sms{
  padding: 25px 40px;
  padding-bottom: 55px;
  min-height: 70vh;
  .btc-sms-container{
    padding: 130px 31% 195px 31%;
  }
  .btc-basic-option{
    width: 70px!important;
    height: 32px;
    text-indent: 6px;
    background: white!important;
  }
  .btc-sms-choice{
    height: 32px;
    border-right: none;
    // flex: 0.1!important;
    white-space: nowrap;
  }
  .btc-sms-phone{
    position: relative;
    display: flex;
    & > div{
      flex: 1
    }
    .btc-sms-choice{
      flex: none
    }
  }
  .btc-sms-code{
    display: flex;
    & > div{
      flex: 1
    }
  }
  .btc-white-btn{
    height: 32px;
    margin-left: 10px;
    line-height: 29px;
    padding: 0 8px;
    cursor: pointer;
  }
  .btc-sms-choice{
    padding-top: 5px;
    padding-left: 3px;
    position: relative;
    padding: 5px 10px 5px 4px;
    span{
      position: absolute;
      top: 4px;
    }
    .edit-div{
      min-width: 18px;
      display: inline-block;
      height: 24px;
      margin-left: 14px;
      margin-right: 12px;
      outline: none;
      border: none;
    }
    i{
      position: absolute;
      display: inline-block;
      right: 6px;
      top: 11px;
      cursor: pointer;
    }
  }
  .btc-code-list{
    background: #f2f2f2;
    height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 1;
    top: 32px;
    width: 100%;
    border-top: none;
    left: 0;
    cursor: pointer;
    .btc-code-number{
      float: left;
      margin-left: 18px;
    }
    li{
      padding: 2px 0;
      &:hover{
        background: white!important;
        .btc-code-name{
          color: #4382f7;
        }
      }
    }
    ul{
      padding: 0;
      list-style: none;
    }
  }
}

.sms-triangle{
  @include sprite($sms-triangle);
  display: inline-block;
}

@media (max-width: 992px){
  .btc-sms-container{
    padding: 130px 150px 195px 150px!important;
  }
}


@media (max-width: 768px){
  .btc-sms-container{
    padding: 63px 5px 195px 5px!important;
  }
}

