
.UploadImg{
  .UploadExplain{
    vertical-align: top;
  }
  & > div{
    display: inline-block
  }
  // .validate-uploadImg{
  //   img{
  //     width: 320px !important;
  //     height: 200px;
  //   }
  // }
  .uploading{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    padding-right: 0;
    >span{
      width: 100%;
      text-align: center;
      margin-left: -8px;
      position: absolute;
      bottom: 36px;
      font-size: 23px;
      color: #e2e2e2;
    }
    .alredy-img{
      max-height: 200px
    }
  }

  .UploadImg-model{
    width: 320px;
    height: 200px;
    margin-right: 120px;
    >img{
      position: relative;
      width: 100%;
      height: 100%;
    }
    >span{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 7px 14px;
      background: #bebebe;
      color: #fff;
    }
  }
}

.Upload-prompt{
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
}

.validateIdentity{
  padding: 12px 190px 15px;
  .validateIdentity-uploadimg .UploadExplain{
    margin-top: 10px
  }
}

.validateIdentity footer{
  overflow: hidden;
}

.validateIdentity footer button{
  margin-top: 15px;
}

.validateIdentity input[type='file']{
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.validateIdentity{
  input[type='radio']{
    position: relative;
    top: 2px
  }
  .news-prompt{
    height: 26px;
    right: -75px;
  }
}

// .basicInput{
//   width: 360px;
// }

.UploadExplain:first-child{
  margin-top: 200px
}

.indentity-prompt{
  position: relative;
  padding-bottom: 25px;
  .newsPrompt{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.newsPrompt /deep/ span.news-animation{
  right: 0;
}


@media (min-width: 1200px) {
  .marginR100{
    margin-right: 0;
  }
  .validate-uploadImg{
    .col-xs-6{
      padding: 0;
    }
    .UploadImg-model{

    }
    .uploading{
      width: 320px;
    }
  }
}

@media (max-width: 1200px) {
  .validate-uploadImg{
    .col-xs-6{
      width: 50% !important;
    }
    .UploadImg-model{
      width: 100%;
      height: 100%;
      margin-right: 0;
      padding-left: 0;
      >span{
        bottom: 0;
        right: 15px;
        padding: 3px 8px;
      }
      >img{

      }
    }
    .uploading{
      margin-right: 0;
      .alredy-img{
        max-height: 165px
      }
      >span{
        bottom: 28px;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 990px){
  .uploading{
    .alredy-img{
      max-height: 153px !important;
    }
    >span{
      bottom: 15px !important;
    }
  }
}

@media (max-width: 561px){
  .uploading{
    >span{
      font-size: 12px !important;
      bottom: 18px !important;
    }
  }
}

@media (max-width: 548px){
  .uploading{
    .alredy-img{
      max-height: 146px !important;
    }
  }
}
@media (max-width: 420px){
  .uploading{
    .alredy-img{
      max-height: 146px !important;
    }
    >span{
      font-size: 12px !important;
      bottom: 18px !important;
    }
  }
}

@media (max-width: 375px) {
  .validate-uploadImg{
    .col-xs-6{
      height: 89px;
    }
    .UploadImg-model{
      padding-left: 5px;
      >span{
        padding: 0 2px;
        font-size: 12px;
      }

    }
    .uploading{
      padding-left: 5px;
      // height: 89px !important;
      >img{
        height: 100%;
      }
    }
  }
}
