
.btc-UploadImg{
  .btc-UploadExplain{
    vertical-align: top;
  }
  & > div{
    display: inline-block
  }
  // .validate-uploadImg{
  //   img{
  //     width: 320px !important;
  //     height: 200px;
  //   }
  // }

}

.uploading{
  position: relative;
  display: inline-block;
}

@media (min-width: 1200px) {
  .btc-marginR100{
    margin-right: 0;
  }
  .validate-uploadImg{
    .col-xs-6{
      padding: 0;
    }
      >img{
        width: 320px;
        height: 200px;
        margin-right: 120px;
      }
      .uploading{
        width: 320px;
        height: 200px;
      }
    }
}

@media (max-width: 1200px) {
  .validate-uploadImg{
    >img{
      padding-left: 0;
    }
    .uploading{
      padding-right: 0;
    }
  }
}
