.btc-member-bt{
  color: #fff;
  float: right;
  cursor: pointer;
}
.btc-border-none{
  border: none!important;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.btc-container {
  >div{
    .container{
      padding: 0;
      width: 100%;
    }
  }
}
.btc-member-center {
  .btc-membercenter-header{
    padding: 12px 30px 98px 25px;
    background: url("~Img/large/membercenter.png") no-repeat center;
  }
  .btc-member-ver{
    // background-color: #fff;
    // max-width: 1080px;
    min-height: 96px;
    margin-top: -80px;
    // padding-left: 40px;
    .btc-member-stepsblock{
      width: 346px;
      float: left;
      background-color: #fff;
      padding: 25px 0;
      >img{
        float: left;
      }
      .btc-member-steps{
        float: left;
        color: #666666;
        >div{
          font-size: 14px;
        }
        .btc-member-validata{
          margin-bottom: 0;
        }
      }

    }
  }
  .btc-member-padding{
    padding-bottom: 23px!important;
  }
  .btc-member-ver{
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    .media{
      width: 33.3333%;
      display: inline-block;
      float: left;
      padding-right: 5px;
      padding-left: 5px;
      .media-body{
        >span{
          margin-top: 3px;
          margin-bottom: 13px;
        }
        .sendbutton{
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }
      >div{
        background-color: #fff;
        padding: 25px 10px 12px 15px;
      }
      &:first-child{
        margin-top: 15px;
      }
      &:nth-child(3){
        margin-right: 0;
      }
    }
  }
}

.btc-memeber-platformCoin{
  color: white;
  a{
    color: white
  }
  .active{
    background:#4382f7
  }
  span {
    cursor: pointer;
  }
  span[disabled=disabled]{
    cursor: not-allowed!important;
  }
  span a{
    color: white;
    background: #49627b;
    padding: 1px 9px;
    border-radius: 2px;
  }
  span{
    &>:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &>:last-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.btc-member-center > div:last-child .btc-tableTextleft{
  text-align: center!important;
}

.btc-member-avatar{
  $len: 64px;
  float: left;
  cursor: pointer;
  max-height: $len;
  max-width: $len;
}

.btc-member-handleRecord{
  padding: 12px;
  padding-bottom: 0;
  .btc-table-more{
    margin-top: 0px;
    padding: 8px 0;
    font-size: 12px;
  }
}

.btc-member-info{
  float: left;
  color:  #fff;
  .btc-member-infoEmail{
    font-size: 16px;
  }
  >a{
    background: #4382f7;
    color: white;
    padding: 1px 7px;
    border-radius: 2px;
  }
}

.btc-member-assetCount{
  margin-top: 7px;
  color: #bebebe;
}

.btc-member-infoEmail{
  font-weight: 600;
  margin-right: 5px;
}

.btc-member-blockHeader{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 8px;
  margin: 0 9px;
  font-size: 12px;
}

.btc-member-handleServer{
  margin-left: 32px;
}

.btc-member-handleNew{
  float: right;
}

.btc-member-handleNew img{
  margin-right: 5px;
  vertical-align: sub;
}

.btc-member-qContainer{
  color: #ccc;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 16px;
  padding-left: 22px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #f2f2f2;
  font-family: '微软雅黑';
  &:nth-last-child(3){
    border:none;
  }
}

.btc-member-question{
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
}

.btc-member-qTime{
  float: right;
  font-size: 12px;
  color: #ccc;
  font-weight: initial;
}

.btc-member-qTitle,.btc-member-question{
  color: #333333;
  margin-top: 7px;
  min-height: 22px;
}

.btc-member-qContext{
  padding: 14px 0 21px 0;
  line-height: 24px;
}

.btc-textCenter{
  text-align: center;
}

.btc-textCenter > div > div {
  padding: 10px 7px
}

.btc-img .btc-r-border img{
  position: absolute;
  left: 20px;
}

.btc-img{
  text-align: start
}

.is-dispose{
  color: #999999!important
}

.btc-member-vc .btc-r-border > :first-child{
  height: 53px;
}

.btc-member-padding{
  padding-top: 25px;
  padding-bottom: 13px;
}

.btc-r-border{
  margin-bottom: 40px;
  height: 125px;
}

.btc-member-L{
  position: relative;
  left: 65px;
}

.btc-member-process{
  margin-top: 13px;
}

.btc-member-process img{
  margin-top: 10px
}

.btc-member-validata{
  border: 1px solid #bebebe;
  color: #999999 !important;
  padding: 2px 14px;
  display: inline-block;
  position: relative;
  cursor: default;
}
.btc-active{
  border-color: #4382f7;
  color: #4382f7 !important;
}
.btc-active:hover{
  background: #4382f7;
  color: white !important;
  cursor: pointer;
}


.btc-verifying-prompt{
  position: relative;
  padding-bottom: 13px;
  margin-top: 8px;
  .verifying-prompt{
    position: absolute;
    left: 50%;
    margin-left: -20px;
    font-size: 12px;
    border: 1px solid #bebebe;
    bottom: -14px;
    background-color: #f2f2f2;
    padding: 0 2px;
    color: #333333;
    display: none;
  }
  .btc-verifying{
    color: #666666 !important;
    border-color: #666666;
    &:hover{
      .verifying-prompt{
        display: block;
      }
    }
  }
}


.btc-member-validata i{
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.btc-member-step{
  background: #bebebe;
  padding: 0px 5px;
  font-weight: 700;
  border-radius: 19px;
  color: white;
  display: inline-block;
  margin-top: 1px;
  font-size: 12px;
}

.btc-member-validata span{
  position: relative;
  z-index: 2;
}

.btc-member-p12{
  padding: 12px;
}

.btc-membercenter-identity{
  border: none;
}

.btc-referral{
  >div{
    border: none
  }
  .btc-qrcode{
    margin-left: 183px;
  }
  .btc-referral-data{
    margin-left: 50px;
    margin-top: 17px;
    margin-bottom: 40px;
    width: 61%;
  }
  span{
    width: 67%;
    white-space: nowrap;
    border-color: #dfe0e1;
    padding: 5px;
  }
  .btc-referrals-address{
    display: flex;
    margin-top: 12px;
    margin-bottom: 27px;
    button{
      white-space: nowrap;
    }
  }
  .btc-newsPrompt{
    line-height: 15px;
    margin-top: 5px;
  }
}

@media(max-width: 1200px){
  .btc-member-ver{
    padding-left: 0 !important;
    width: 100% !important;
    .btc-member-stepsblock{
      &:nth-child(2){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .btc-referral .btc-referral-data{
    width: 50%;
  }
}

@media (max-width: 991px) {
  .btc-memeber-platformCoin{
    margin-top: 0;
    margin-left: 0;
    >a{
      display: block;
      margin-bottom: 10px;
    }
    .btc-marginL15{
      margin-left: 0;
      margin-top: 5px;
    }
  }
  .btc-table-more.btc-b-l{
    border-left: none!important;
  }
  .btc-referral .btc-referral-data{
    width: 70%;
    margin-left: 132px;
  }
  .btc-referral .btc-qrcode{
    text-align: center;
    margin-left: 0;
  }
  .btc-referral-qrcode{
    float: none;
  }
  .btc-member-vc{
    padding: 0
  }
  .btc-img{
    text-align: center
  }
  .btc-textCenter > div > div{
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 0;
  }
  .btc-r-border:nth-child(2){
    height: initial;
  }
  .btc-img .btc-r-border img{
    position: initial;
  }
  .btc-member-L{
    position: initial;
    margin-top: 12px;
  }
  .btc-img > div{
    height: initial;
  }
}

@media(max-width: 766px){
  .btc-referral .btc-referral-data{
    margin-left: 4%;
    width: 93%;
  }
  .btc-referral .btc-qrcode{
    text-align: center;
    margin-left: 0;
  }
  .btc-referral-qrcode{
    float: none;
  }
  .btc-membercenter-header{
    padding-bottom: 75px !important;
    margin-top: -4px;
  }
  .media{
    width: 100% !important;
    margin-top: 8px;
  }
  .img-padding{
    padding-right: 8px;
  }
  .btc-referrals-address{
    display: block!important;
    text-align: center;
  }
  .btn-copy1{
    margin-top: 15px;
  }
  #copy1{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: left;
  }
  .btc-member-info{
    display: block;
    float: none;
  }
  .btc-member-bt{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
  }
  .btc-member-center .btc-membercenter-header{
    padding: 12px 5px 112px 5px;
  }
  .btc-tableRemark{
    display: block;
    float: none !important;
  }
}


@media (max-width: 492px) {
  .btc-member-handleNew{
    float: initial;
    display: block;
    margin-top: 10px;
  }
  .btc-r-border{
    margin-bottom: 56px;
  }
}

.btc-member-info .label{
  padding: 2px 5px;
  background-color: #bebebe;
  font-weight: inherit;
}

.btc-member-handleNew {
  font-size: 12px;
  img {
    width: 14px;
    height: 16px;
  }
}

i{
  display: inline-block;
  position: relative;
}

$sprite: (
  'false': $account-false,
  'right': $account-right,
  'email': $account-email,
  'phone': $account-phone,
  'identity': $account-identity,
  'verifying': $account-verifying,
  'unverified': $account-unverified,
  'validate-true': $account-validate-true,
);

@each $key, $val in $sprite{
  .account-#{$key} {
    @include sprite(map-get($sprite, $key));
  }
}
