.btc-member-bt{
  float: right;
  margin-top: 20px;
  float: right;
}

.btc-member-center {
  .text{
    padding: 12px 30px 112px 50px;
    margin-bottom: 24px;
    background: url("~Img/membercenter.png") no-repeat center;
  }
}

.btc-member-center > div:last-child .btc-tableTextleft{
  text-align: center!important;
}
.text{

}

.btc-member-avatar{
  $len: 64px;
  float: left;
  cursor: pointer;
  max-height: $len;
  max-width: $len;
}

.btc-member-handleRecord{
  padding: 12px;
  padding-bottom: 0;
  .btc-table-more{
    margin-top: 0px;
    padding: 8px 0;
  }
}

.btc-member-info{
  padding-left: 23px;
  float: left;
  padding-top: 14px;
  color:  #fff;
  .btc-member-infoEmail{
    font-size: 16px;
  }
  >a{
    font-size: 12px;
    color: #4f89f5;
  }
}

.btc-member-assetCount{
  margin-top: 7px;
  color: #bebebe;
}

.btc-member-infoEmail{
  font-weight: 600;
  margin-right: 5px;
}

.btc-member-blockHeader{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 8px;
  margin: 0 18px;
}

.btc-member-handleServer{
  margin-left: 32px;
}

.btc-member-handleNew{
  float: right;
}

.btc-member-handleNew img{
  margin-right: 5px;
  vertical-align: sub;
}

.btc-member-qContainer{
  color: #ccc;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 16px;
  padding-left: 22px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 1px solid #f2f2f2;
  font-family: '微软雅黑';
}

.btc-member-question{
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
}

.btc-member-qTime{
  float: right;
  font-size: 12px;
  color: #ccc;
  font-weight: initial;
}

.btc-member-qTitle,.btc-member-question{
  color: #333333;
  margin-top: 7px;
}

.btc-member-qContext{
  padding: 14px 0 21px 0;
  line-height: 24px;
}

.btc-textCenter{
  text-align: center;
}

.btc-textCenter > div > div {
  padding: 10px 7px
}

.btc-img .btc-r-border img{
  position: absolute;
  left: 20px;
}

.btc-img{
  text-align: start
}

.is-dispose{
  color: #999999!important
}

.btc-member-vc .btc-r-border > :first-child{
  height: 53px;
}

.btc-member-padding{
  padding-top: 25px;
  padding-bottom: 13px;
}

.btc-r-border{
  margin-bottom: 40px;
  height: 125px;
}

.btc-member-L{
  position: relative;
  left: 65px;
}

.btc-member-process{
  margin-top: 13px;
}

.btc-member-process img{
  margin-top: 10px
}

.btc-member-validata{
  border: 1px solid #4382f7;
  padding: 5px 18px;
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}

.btc-active:hover{
  background: #4382f7;
  color: white;
}

.btc-member-validata img{
  position: absolute;
  bottom: -1px;
  right: 0;
}

.btc-member-step{
  background: #bebebe;
  padding: 3px 8.7px;
  font-weight: 700;
  border-radius: 19px;
  color: white;
  display: inline-block;
  margin-top: 1px;
}

.btc-member-validata span{
  position: relative;
  z-index: 2;
}

.btc-member-p12{
  padding: 12px;
}

.btc-membercenter-identity{
  border: none;
}


@media (max-width: 992px) {
  .btc-member-vc{
    padding: 0
  }
  .btc-img{
    text-align: center
  }
  .btc-textCenter > div > div{
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 0;
  }
  .btc-r-border:nth-child(2){
    height: initial;
  }
  .btc-img .btc-r-border img{
    position: initial;
  }
  .btc-member-L{
    position: initial;
    margin-top: 12px;
  }
  .btc-img > div{
    height: initial;
  }
}

@media (max-width: 492px) {
  .btc-member-bt{
    float: left;
    margin-left: 20px;
  }
  .btc-member-handleNew{
    float: initial;
    display: block;
    margin-top: 10px;
  }
  .btc-r-border{
    margin-bottom: 56px;
  }
}

.btc-member-info .label{
  padding: 2px 5px;
  background-color: #bebebe;
  font-weight: inherit;
}

.btc-member-handleNew {
  font-size: 12px;
  img {
    width: 14px;
    height: 16px;
  }
}

