.member-bt{
  color: #fff;
  float: right;
  cursor: pointer;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.box-container {
  >div{
    .container{
      padding: 0;
      width: 100%;
    }
  }
}
.member-center {
  .membercenter-header{
    padding: 12px 30px 98px 25px;
    background: url("~Img/large/membercenter.png") no-repeat center;
    .member-padding{
      padding-bottom: 23px;
    }
  }
  // .member-ver{
  //   .member-stepsblock{
  //     width: 346px;
  //     float: left;
  //     background-color: #fff;
  //     padding: 25px 0;
  //     >img{
  //       float: left;
  //     }
  //     .member-steps{
  //       float: left;
  //       color: #666666;
  //       >div{
  //         font-size: 14px;
  //       }
  //       .member-validata{
  //         margin-bottom: 0;
  //       }
  //     }
  //   }
  // }
  .member-ver{
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    width: 1100px;
    min-height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    .media{
      width: 31%;
      display: inline-block;
      float: left;
      padding-right: 5px;
      padding-left: 5px;
      &:nth-child(2) {
        width: 38%;
      }
      .media-body{
        >span{
          margin-top: 3px;
          margin-bottom: 13px;
        }
        .sendbutton{
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }
      >div{
        background-color: #fff;
        padding: 25px 10px 12px 15px;
      }
      &:first-child{
        margin-top: 15px;
      }
      &:nth-child(3){
        margin-right: 0;
      }
    }
  }
}

.memeber-platformCoin{
  color: white;
  a{
    color: white
  }
  .active{
    background:#4382f7
  }
  span {
    cursor: pointer;
  }
  span[disabled=disabled]{
    cursor: not-allowed!important;
  }
  span a{
    color: white;
    background: #49627b;
    padding: 1px 9px;
    border-radius: 2px;
  }
  span{
    &>:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &>:last-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// .member-center > div:last-child .tableTextleft{
//   text-align: center!important;
// }

.member-avatar{
  $len: 64px;
  float: left;
  cursor: pointer;
  max-height: $len;
  max-width: $len;
}

.member-handleRecord{
  padding: 12px;
  padding-bottom: 0;
  .table-more{
    margin-top: 0px;
    padding: 8px 0;
    font-size: 12px;
  }
}

.member-info{
  float: left;
  color:  #fff;
  .member-infoEmail{
    font-size: 16px;
  }
  >a{
    background: #4382f7;
    color: white;
    padding: 1px 7px;
    border-radius: 2px;
  }
}

.member-assetCount{
  margin-top: 7px;
  color: #bebebe;
}

.member-infoEmail{
  font-weight: 600;
  margin-right: 5px;
}

.member-blockHeader{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 8px;
  margin: 0 9px;
  font-size: 12px;
}

.member-handleServer{
  margin-left: 32px;
}

.member-handleNew{
  float: right;
}

.member-handleNew img{
  margin-right: 5px;
  vertical-align: sub;
}

.member-qContainer{
  color: #ccc;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 16px;
  padding-left: 22px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #f2f2f2;
  // font-family: '微软雅黑';
  &.border-none {
    border: none;
  }
  &:nth-last-child(3){
    border:none;
  }
}

.member-question{
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
}

.member-qTime{
  float: right;
  font-size: 12px;
  color: #ccc;
  font-weight: initial;
}

.member-qTitle,.member-question{
  color: #333333;
  margin-top: 7px;
  min-height: 22px;
}

.member-qTitle {
  width: 80%;
  overflow:hidden; /*超出的部分隐藏起来。*/
  white-space:nowrap;/*不显示的地方用省略号...代替*/
  text-overflow:ellipsis;
}


.textCenter{
  text-align: center;
}

.textCenter > div > div {
  padding: 10px 7px
}

.img .r-border img{
  position: absolute;
  left: 20px;
}

.img{
  text-align: start
}

.member-vc .r-border > :first-child{
  height: 53px;
}

.member-padding{
  padding-top: 25px;
  padding-bottom: 13px;
}

.r-border{
  margin-bottom: 40px;
  height: 125px;
}

.member-L{
  position: relative;
  left: 65px;
}

.member-process{
  margin-top: 13px;
}

.member-process img{
  margin-top: 10px
}

.member-validata{
  border: 1px solid #bebebe;
  color: #999999;
  padding: 2px 14px;
  display: inline-block;
  position: relative;
  cursor: default;
}
.active{
  border-color: #4382f7;
  color: #4382f7;
}
.active:hover{
  background: #4382f7;
  color: white;
  cursor: pointer;
}


.verifying-prompt{
  position: relative;
  padding-bottom: 13px;
  margin-top: 8px;
  .verifying-prompt{
    position: absolute;
    left: 50%;
    margin-left: -20px;
    font-size: 12px;
    border: 1px solid #bebebe;
    bottom: -14px;
    background-color: #f2f2f2;
    padding: 0 2px;
    color: #333333;
    display: none;
  }
  .verifying{
    color: #666666;
    border-color: #666666;
    &:hover{
      .verifying-prompt{
        display: block;
      }
    }
  }
}


.member-validata i{
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.member-step{
  background: #bebebe;
  padding: 0px 5px;
  font-weight: 700;
  border-radius: 19px;
  color: white;
  display: inline-block;
  margin-top: 1px;
  font-size: 12px;
}

.member-validata span{
  position: relative;
  z-index: 2;
}

.member-p12{
  padding: 12px;
}

.membercenter-identity{
  border: none;
}

.referral{
  >div{
    border: none
  }
  .qrcode{
    margin-left: 183px;
  }
  .referral-data{
    margin-left: 50px;
    margin-top: 17px;
    margin-bottom: 40px;
    width: 61%;
  }
  span{
    width: 67%;
    white-space: nowrap;
    border-color: #dfe0e1;
    padding: 5px;
  }
  .referrals-address{
    display: flex;
    margin-top: 12px;
    margin-bottom: 27px;
    button{
      white-space: nowrap;
    }
  }
  .newsPrompt{
    line-height: 15px;
    margin-top: 5px;
  }
}

.member-qContext{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  display: inline-block;
}

@media(max-width: 1200px){
  .member-ver{
    padding-left: 0 !important;
    width: 100% !important;
    .member-stepsblock{
      &:nth-child(2){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .referral .referral-data{
    width: 50%;
  }
}

@media (max-width: 991px) {
  .memeber-platformCoin{
    margin-top: 0;
    margin-left: 0;
    >a{
      display: block;
      margin-bottom: 10px;
    }
    .marginL15{
      margin-left: 0;
      margin-top: 5px;
    }
  }
  .table-more.b-l{
    border-left: none!important;
  }
  .referral .referral-data{
    width: 70%;
    margin-left: 132px;
  }
  .referral .qrcode{
    text-align: center;
    margin-left: 0;
  }
  .referral-qrcode{
    float: none;
  }
  .member-vc{
    padding: 0
  }
  .img{
    text-align: center
  }
  .textCenter > div > div{
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 0;
  }
  .r-border:nth-child(2){
    height: initial;
  }
  .img .r-border img{
    position: initial;
  }
  .member-L{
    position: initial;
    margin-top: 12px;
  }
  .img > div{
    height: initial;
  }
}

@media(max-width: 766px){
  .referral .referral-data{
    margin-left: 4%;
    width: 93%;
  }
  .referral .qrcode{
    text-align: center;
    margin-left: 0;
  }
  .referral-qrcode{
    float: none;
  }
  .membercenter-header{
    padding-bottom: 75px !important;
    margin-top: -4px;
  }
  .media{
    width: 100% !important;
    margin-top: 8px;
  }
  .img-padding{
    padding-right: 8px;
  }
  .referrals-address{
    display: block!important;
    text-align: center;
  }
  .btn-copy1{
    margin-top: 15px;
  }
  #copy1{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: left;
  }
  .member-info{
    display: block;
    float: none;
  }
  .member-bt{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
  }
  .member-center .membercenter-header{
    padding: 12px 5px 112px 5px;
  }
  .table .tableRemark{
    display: block;
    float: none;
  }
  .member-qContainer{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 0;
    padding-left: 0;
    .is-dispose{
      color: #999999;
    }
  }
}


@media (max-width: 492px) {
  .member-qContext{
    width: 42%;
  }
  .member-handleNew{
    float: initial;
    display: block;
    margin-top: 10px;
  }
  .r-border{
    margin-bottom: 56px;
  }
}

.member-info .label{
  padding: 2px 5px;
  background-color: #bebebe;
  font-weight: inherit;
}

.member-handleNew {
  font-size: 12px;
  img {
    width: 14px;
    height: 16px;
  }
}

i{
  display: inline-block;
  position: relative;
}

$sprite: (
  'false': $account-false,
  'right': $account-right,
  'email': $account-email,
  'phone': $account-phone,
  'identity': $account-identity,
  'verifying': $account-verifying,
  'unverified': $account-unverified,
  'validate-true': $account-validate-true,
);

@each $key, $val in $sprite{
  .account-#{$key} {
    @include sprite(map-get($sprite, $key));
  }
}
