@media (min-width: 1200px) {
  .withdraw-coin a {
      padding: 0 38.9px !important;
  }
}

@media (max-width: 1200px) {
  .address-height{
    .fr{
      float: left;
    }
    .fl{
      display: block;
      float: none;
    }
  }
  .withdraw-loading{
    margin-left: 78px!important;
  }
  .tableHover{
    width:  250px!important;
  }
  .deposit-confirNum{
    margin-left: 104px!important;
  }
}

@media (min-width: 992px) {
  .withdraw-coin a {
      padding: 0 39.9px !important;
  }
}

@media (max-width: 991px) {
  .currency-withdraw{
    .currency-frommoblie /deep/ .menu-underline ul{
      justify-content: space-between;
      li{
        margin-left: 0px!important;
        margin-right: 0px!important;
      }
    }
  }
  .table-more.b-l{
    margin-top: 0
  }
  .marginL50 {
      margin-left: 0;
  }
  .withdraw-form {
      padding: 40px 100px!important
  }
  .currency-withdraw .fr {
      float: none;
      margin-top: 10px
  }
  .currency-withdraw .fl {
      float: none
  }
  .deposit-qrcode{
    text-align: center;
    margin-bottom: 20px;
  }
  .fr.link{
    display: block;
    float: none;
  }
  .member-center .deposit-currency ul{
    padding-left: 7%;
  }
  .qrcode{
    margin-left: -10px!important;
  }
  .deposit-currency{
    border: none;
    padding: 0!important;
    padding-top: 40px!important;
    .deposit-address{
      text-align: center;
      padding: 0;
    }
  }
  .withdraw-loading{
    margin-left: 0!important;
  }
  .deposit-confirNum{
    margin-left: 0!important;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .withdraw-form {
      padding: 40px 50px!important
  }
  .withdraw-formContainer{
    border: none;
    .withdraw-form{
      padding: 0!important;
      margin-top: 40px;
    }
  }
  .marginL15{
    display: inline-block;
    margin: 0
  }
  .currency-withdraw .fl  {
    & > span{
      display: block;
      margin-bottom: 8px;
    }
    i{
      margin-left: 0
    }
  }
  .withdraw-currency{
    padding: 30px 0 30px 21px!important;
  }
  .withdraw-currency ul{
    padding-left: 0
  }
.withdraw-coin a {
  width: 20%!important
  }
}

@media (max-width: 536px) {
  .withdraw-coin a {
    width: 25%!important
  }
}

@media (max-width: 425px) {
  .withdraw-coin a {
    width: 33%!important
  }
}

@media (min-width: 768px) {
.withdraw-coin a {
    padding: 0 39.9px !important;
  }
}
.currency-withdraw{
  & /deep/ .menu-underline ul{
    flex-wrap: wrap;
    li:nth-child(3) {
      margin-right: 23px!important;
    }
    li:nth-child(4) {
      margin-left: 0!important;
    }
  }
}

.member-center {
  .address-div{
    #copy{
      padding: 10px;
      height: 97px;
      word-wrap: break-word;
      overflow: auto;
      font-weight: 700;
    }
    .address-warn {
      font-size: 14px;
      color: #ff7f18;
      word-wrap: break-word;
    }
  }
    .container-block {
        padding: 20px 30px;
        a {
            color: #000000;
        }
        a:hover {
            text-decoration: none;
            color: #000000;
        }
        .currency-withdraw {
            img {
                vertical-align: top;
            }
            .fl {
                span {
                    img {
                        position: relative;
                        top: 2px;
                    }
                }
                a{
                  color: #999999
                }
            }
            .fr {
                span {
                    margin: 0 18px;
                }
            }
        }
        .withdraw-form {
            padding: 40px 230px;
            border-top: none;
            .newsPrompt{
              margin-left: 0;
              line-height: 13px;
            }
        }
        .withdraw-explain {
            line-height: 33px;
            font-size: 12px;
            .fr {
                img {
                    position: relative;
                    top: -1px;
                    left: -2px;
                }
            }
        }
        .withdraw-currency,.deposit-currency{
            padding: 30px;
            strong {
                margin-left: -17px
            }
            ul {
                color: #999999;
                font-size: 13px;
                li{
                  list-style: disc;
                }
            }
        }
        .withdraw-explain span,
        .withdraw-currency {
            color: #999999;
            font-size: 12px;
        }
        .withdraw-all button {
            outline: none;
            background: white;
            margin-top: 0;
            padding: 4px;
            border: 1px solid #dfe0e1;
            border-left: none;
        }
        .withdraw-coin {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a {
                width: 111px;
                border-radius: 0;
                padding: 0 30.4px;
                text-align: center;
                line-height: 38px;
                text-indent: -18px;
            }
            img {
              position: relative;
              top: -1px;
              width: 18px;
              height: 18px;
            }
            span {
                width: 25px;
                text-align: start;
                display: inline-block;
                text-indent: 2px;
            }
            .indent{
              position: relative;
            }
        }
    }
    .tableTextleft span{
      font-size: 12px
    }
    .deposit-currency{
      ul{
        display: inline-block;
        li{
          list-style: disc;
        }
      }
    }
    .withdraw-address {
        height: 32px;
        background-size: cover!important;
        color: #757575;
        padding: 5px;
        position: relative;
        cursor: pointer;
        background: #f2f2f2;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 41px;
    }
    .tableTextleft{
      span{
        padding: 0;
        &:hover{
          color: #4382f7
        }
      }
    }
    .address-contain {
        background: #f2f2f2;
        border-color: #dfe0e1;
        .address-height{
          min-height: 190px;
          max-height: 190px;
          overflow: auto;
          .fl{
            max-width: 72%;
            div:nth-child(2){
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          &>div{
            overflow: hidden;
          }
          .fr{
            color: #4382f7;
            line-height: 32px;
          }
        }
        & > div {
            position: relative;
            font-size: 12px;
            border-top: none;
            &>div {
                padding: 8px 10px;
            }
            &>div:hover {
                background: white
            }
        }
    }
    .withdraw-add {
      width: 100%;
      height: 32px;
      display: flex;
      .withdraw-all:nth-child(1) {
          margin-right: 10px;
          width: 113px;
      }
      .withdraw-all:nth-child(2) {
          flex: 1
      }
    }
    .addnew{
      padding: 7px;
      background: white;
      color: #4382f7;
    }
    .choice-validate{
      display: flex;
      select{
        height: 32px;
        width: 138px;
        background: none;
        border-right: none;
        appearance: menulist;
      }
      & > div {
        flex: 1
      }
      & > button{
        height: 32px;
        margin-left: 10px;
      }
      input{
        border-left: none;
      }
    }
    .qrcode{
      margin-top: -25px;
      margin-left: -20px;
    }
    .newsPrompt{
      line-height: 25px;
    }
    .withdraw-loading{
      margin-left: 170px;height: 205px;
    }
    .deposit-confirNum{
      margin-left: 186px;
      margin-top: 5px
    }
}

.select-option{
  padding: 4px;
  width: 100%;
  background: #f2f2f2;
  border-color: #dfe0e1;
  cursor: pointer;
  appearance:none;
  background: url("~Img/selectoption.png") no-repeat right #f2f2f2;
}

.is-chioce {
    border-color: #4382f7
}

.is-enabled {
  cursor: not-allowed!important;
  span, img{
    opacity: 0.3;
  }
}


a{
  text-decoration: none;
}

.withdraw-asset{
  margin-right: 0;
  top: 1px;
  @include sprite($asset-total)
}

.withdraw-freeze{
  margin-right: 0;
  top: 1px;
  @include sprite($asset-freeze)
}

.withdraw-add-icon{
  @include sprite($withdraw-add)
}

i{
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
