#setting {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  height: 48px;
  .setting_btn {
    font-size: 12px;
    line-height: 48px;
    color: #728eaa;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    span {
      display: inline-block;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
  .dropdown {
    position: absolute;
    right: 15px;
    left: auto;
    top: 48px;
    background: #1f3651;
    width: 100px;
    min-width: 80px;
    padding: 10px 10px 0;
    z-index: -1;
    &.show {
      z-index: 50;
    }
    li {
      height: 30px;
      line-height: 30px;
      color: #728eaa;
      font-size: 12px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      text-align: left;
      .switch {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        overflow: hidden;
        color: #fff;
        font-size: 12px;
        text-align: center;
        &.move-left {
          animation: move-left 0.8s ease forwards;
        }
        &.move-zero {
          animation: move-zero 0.8s ease forwards;
        }
        a {
          display: inline-block;
          float: left;
          width: 40px;
          height: 20px;
          line-height: 20px;
          background: #4382f7;
          vertical-align: top;
          color: #fff;
          text-decoration: none;
          &:last-child {
            border-radius: 0 2px 2px 0;
          }
          &:first-child {
            border-radius: 0 2px 2px 0;
          }
          &:hover {
            text-decoration: none;
          }
        }
        span {
          display: inline-block;
          float: left;
          width: 40px;
          height: 20px;
          line-height: 20px;
          background: #49627b;
          vertical-align: top;
        }
      }
    }
    li:nth-child(n+3) {
      height: 30px;
      line-height: 30px;
      a {
        color: #728eaa;
        &:hover {
          color: #4382f7;
          text-decoration: none;
        }
        &:active {
          color: #4382f7;
          text-decoration: none;
        }
      }
      span {
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
        width: 16px;
        text-align: center;
      }
    }
  }
}
@keyframes move-left {
  0% {
    left: 0
  }
  100% {
    left: -40px;
  }
}
@keyframes move-zero {
  0% {
    left: -42px
  }
  100% {
    left: 0;
  }
}
