table{
  >thead{
    >tr{
      color: #fff;
      background-color: #232731;
      >th{
        padding: 12px;
        padding-left: 16px;
        border: none;
        font-weight: normal;
        cursor: pointer;
      }
      .upordpwn{
        >div{
          display: inline-block;
          >img{
            display: block;
            &:nth-child(1){
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
  >tbody{
    >tr{
      >td{
        padding: 16px 16px;
        border: none;
        line-height: 40px;
        padding-top: 12px;
        padding-bottom: 0;
        border-bottom: 1px solid #f2f2f2;
        .btc-percent{
          color:#999999;
          .text-up{
            color:#fd4041
          }
          .text-down{
            color:#00c4a2
          }
        }
        >a{
          &:hover{
            text-decoration: none;
          }
        }
        svg{
          stroke-width: 3px;
        }
      }
      &:hover{
        background: #f2f2f2;
        .fa-star{
          display: inline-block;
        }
      }
    }
  }
}

.btc-percent span{
  width: 80px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-top: 8px;
}


th{
  img{
    position: absolute;
    margin-top: 5px;
    margin-left: 4px;
  }
}

.btc-homepage-currency{
  position: relative;
  >div{
    display: inline-block;
  }
  span{
    min-width: 58px;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
  }
}

.fa-star{
  color: #728eaa;
  font-size: 12px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 3px;
}

.is-star{
  color: red;
  display: inline-block;
}

i[disabled='disabled']{
  cursor: not-allowed
}

.btc-currency-none{
  margin-top: 150px
}
