.btc-basicInput{
  height: 32px;
  font-size: 15px;
  padding: 0 5px;
  background: #f2f2f2;
  border-color: #dfe0e1;
  width: 100%;
  &:focus{
    background: white;
    outline: none;
    border: 1px solid #4382f7;
  }
}

.btc-input-hiddenDanger{
  min-height: 66px;
}
