ul,li {
  list-style:  none;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}

.btc-main{
  min-height: 100%;
  padding-bottom: 217px;
  height: 100%;
}

.btc-container{
  background: #f2f2f2;
  padding-bottom: 13px;
  min-height: 70vh;
  padding-top: 3px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@media (max-width: 992px){
  #app {
    height: 100%;
  }
  .btc-main {
    padding-bottom: 0;
    height: 100%;
    width: 100%;
  }
  .btc-container {
    padding: 0;
    width: 100%;
  }
}
