#myOrder {
  color: #fff;
  .head {
    background: #1b242e;
    height: 32px;
    padding-top: 2px;
    font-size: 12px;
    .tab_hd {
      li {
        display: inline-block;
        width: 16%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #49627b;
        cursor: pointer;
        &.on {
          background: #232e3a;
          color: #4382f7;
          font-weight: bold;
        }
      }
    }
    .tab_filter {
      float: right;
      margin-top: 4px;
      li {
        float: left;
        display: inline-block;
        cursor: pointer;
        height: 20px;
        line-height: 20px;
        background: #344151;
        color: #85a7c8;
        padding: 0 7px;
        margin-right: 10px;
        border-radius: 2px;
        border: 0;
      }
    }
    .tab_order_filter {
      li:last-child {
        height: 20px;
        border: 1px solid #49627b;
        background: none;
      }
    }
  }
  .tab_bd {
    height: 180px;
    .noneData {
      height: 180px;
      line-height: 180px;
      text-align: center;
      color: #555;
    }
  }
  .dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
    .dia_content {
      position: absolute;
      z-index: 11;
      background: #38475a;
      width: 280px;
      left: 50%;
      top: 50%;
      padding: 10px 16px;
      margin-left: -140px;
      margin-top: -90px;
      color: #fff;
      box-shadow: 0 0 2px #000;
      p {
        font-size: 16px;
        color: #4382f7;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 25px;
      }
      .confirm_box {
        width: 220px;
        height: 32px;
        margin: 10px auto 5px;
        span {
          display: inline-block;
          float: left;
          width: 100px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          color: #fff;
          cursor: pointer;
        }
        .confirm {
          background: #4382f7;
          margin-right: 20px;
        }
        .cancel {
          background: #728eaa;
        }
      }

    }
  }
}
