.btc-member-center{
  .btc-container-block{
    padding:20px 30px;
    color: #333333;
    .col-md-6{
      .navbar-nav{

        text-align: center;
        >li{
          >img{
            margin-right: 8px;
          }
          &:nth-child(2){
            color: #999999;
          }
        }
      }
    }
    .pull-right{
      .navbar-nav{
        >li{
          >span{
            margin: 0 18px;
            color: #e7e7e7;
          }
          &:nth-child(3){
            color: #4382f7;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .btc-marginL50{
    margin-left:0;
  }

}


