#trade {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: #181f28;
  ul, li {
    margin: 0;
    padding: 0;
  }
  a:hover, a:active {
    text-decoration: none;
  }
  .text-up {
    color: #40b246;
  }
  .text-down {
    color: #e9454d;
  }
  .loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
    z-index: 10
  }
  .dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
    .dia_content {
      position: absolute;
      z-index: 11;
      background: #38475a;
      width: 280px;
      left: 50%;
      top: 50%;
      padding: 10px 16px;
      margin-left: -140px;
      margin-top: -90px;
      color: #fff;
      box-shadow: 0 0 2px #000;
      h4 {
        font-size: 16px;
        color: #4382f7;
        text-align: center;
        margin-top: 5px;
      }
      li {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
      }
      .value {
        display: inline-block;
        float: right;
        width: 70%;
        text-align: right;
        span {
          display: inline-block;
          width: 40px;
        }
        &.pair {
          span {
            width: 100px;
          }
        }
      }
      .confirm_box {
        width: 220px;
        height: 32px;
        margin: 10px auto 5px;
        span {
          display: inline-block;
          float: left;
          width: 100px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          color: #fff;
        }
        .confirm {
          background: #4382f7;
          margin-right: 20px;
        }
        .cancel {
          background: #728eaa;
        }
      }

    }
  }
  .trade_hd {
    padding-left: 0;
    margin: 0;
    height: 42px;
    background: #273442;
    li {
      display: inline-block;
      float: left;
      width: 32%;
      height: 42px;
      line-height: 44px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      list-style: none;
      text-transform: Capitalize;
      padding: 0;
      margin: 0;
      &:last-child {
        width: 34%;
      }
      &.check {
        color: #4382f7;
        border-bottom: 2px solid #4382f7;
      }
    }
  }

  .trades_main {
    padding: 0 8px;
    .trades_lt {
      display: inline-block;
      float: left;
      width: 53%;
      &>a {
        font-size: 18px;
        color: #ffffff;
        height: 50px;
        line-height: 50px;
        i {
          margin-left: 5px;
          vertical-align: 6px;
        }
      }
      .order_type {
        width: 100%;
        height: 32px;
        border: 1px solid #4382f7;
        a {
          color: #ffffff;
          background: #181f28;
          display: inline-block;
          width: 50%;
          height: 30px;
          float: left;
          text-align: center;
          line-height: 30px;
          &.active {
            height: 31px;
            background: #4382f7;
          }
          &::-ms-clear {
            display: none;
          }
        }
      }
      .extra {
        height: 64px;
        padding: 14px 0;
        p {
          font-size: 12px;
          color: #728eaa;
          margin-bottom: 0;
          line-height: 18px;
          &.num {
            color: #fff;
            span.base {
              margin-left: 5px;
            }
          }
        }
      }
      .inputs {
        height: 32px;
        width: 100%;
        background: #38475a;
        margin-bottom: 12px;
        color: #85a7c8;
        font-size: 12px;
        input {
          outline: none;
          width: 75%;
          border: 0;
          height: 32px;
          background: none;
          padding-left: 8px;
          color: #fff;
          &::-webkit-input-placeholder {
            color: #85a7c8;
          }
        }
        span {
          display: inline-block;
          float: right;
          line-height: 32px;
          margin-right: 8px;
        }
      }
      .private {
        height: 22px;
        color: #728eaa;
        font-size: 12px;
        line-height: 22px;
        .nums {
          color: #fff;
          margin: 0;
          float: right;
        }
      }
      .percent {
        width: 100%;
        height: 20px;
        margin: 10px 0;
        font-size: 12px;
        span {
          display: inline-block;
          float: left;
          width: 23.5%;
          margin-right: 2%;
          color: #728eaa;
          line-height: 20px;
          text-align: center;
          background: #344151;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .tips {
        height: 24px;
        line-height: 24px;
        text-align: left;
        font-size: 12px;
        .success {
          color: #40b246;
        }
        .fail {
          color: #e9454d;
        }
        i {
          display: inline-block;
          margin-right: 3px;
        }
      }
      button {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border: 0;
        margin-top: 6px;
        &:focus {
          outline: none;
        }
        &.buy {
          background: #40b246;
        }
        &.sell {
          background: #e9454d;
        }
      }
    }

    .trades_rt {
      float: right;
      width: 42%;
      .currency_price {
        height: 50px;
        padding: 9px 0;
        line-height: 32px;
        .back {
          display: inline-block;
          float: right;
          background: #273442;
          width: 34px;
          height: 32px;
          padding: 8px 9px;
          line-height: 16px;
          img {
            width: 16px;
            height: 16px;
            line-height: 16px;
            vertical-align: top;
          }
        }
        span {
          display: inline-block;
          color: #ffffff;
          font-size: 16px;
          vertical-align: -4px;
          // &.text-up {
          //   color: #fc4a4a;
          // }
          // &.text-down {
          //   color: #24d0b2;
          // }
        }
      }
      .trade_lt {
        display: inline-block;
        float: left;
        width: 54%;
      }
      .trade_rt {
        display: inline-block;
        float: left;
        width: 46%;
        text-align: right;
      }
      .head {
        margin-top: 4px;
        height: 24px;
        line-height: 24px;
        color: #ffffff;
        font-size: 12px;
      }
      .trade_list {
        color: #fff;
        font-size: 12px;
        height: 168px;
        position: relative;
        .trade_price:hover {
          background: #38475a;
        }
        &.trade_top {
          height: 183px;
        }
        &>.sell_list {
          margin-bottom: 15px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          .trade_lt {
            color: #e9454d;
          }
          li:before {
            background: #152b2f
          }
        }
        &>.buy_list {
          .trade_lt {
            color: #40b246
          }
          li:before {
            background: #312428
          }
        }
        li {
          height: 20px;
          line-height: 20px;
          margin-bottom: 1px;
          position: relative;
          // &::before {
          //   content: " ";
          //   display: block;
          //   position: absolute;
          //   height: 20px;
          //   width: 50%;
          //   right: 0;
          //   top: 0;
          //   background: #ff0;
          //   z-index: 0;
          // }
        }
      }
    }
  }
  .new_order {
    padding: 10px 15px;
    h2 {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      margin-top: 8px;
      color: #ffffff;
    }
  }
  .order_hd {
    height: 30px;
    line-height: 30px;
    li {
      display: inline-block;
      width: 28%;
      float: left;
      text-align: right;
      font-size: 14px;
      color: #42637d;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        width: 44%;
      }
    }
  }
  .order_list {
    color: #ffffff;
    li {
      height: 24px;
      line-height: 24px;
      &>div {
        display: inline-block;
        float: left;
        width: 28%;
        font-size: 12px;
        &.order_price {
          text-align: left;
        }
        &.order_amount {
          color: #ffffff;
          text-align: right;
        }
        &.order_time {
          color: #728eaa;
          text-align: right;
          width: 44%;
        }
      }
    }
  }
  .set_platform {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 15px;
    background: #273442;
    color: #728eaa;
    width: 100%;
    a {
      float: right;
      color: #4382f7;
      font-size: 14px;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    background: #293f60;
  }
  50% {
    opacity: 0.8;
    background: #293f60;
  }
  100% {
    opacity: 1;
    background: none;
  }
}
@keyframes fadeOut{
    0% {
      opacity: 1;
      background: #293f60;
    }
    50% {
      opacity: 0.4;
      background: #293f60;
    }
    100% {
      opacity: 0;
      background: none;
    }
  }
.slide-fade-enter-active {
  transition: fadeIn 1s ease;
}
.slide-fade-leave-active {
  transition: fadeOut 1s ease;
}

.slide-fade-move {
  transition: transform 1s;
}
