.language {
  height: 32px;
  display: inline-block;
  position: relative;
  .checkout {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: #728eaa;
    font-size: 12px;
    padding: 0 15px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    .caret {
      margin-left: 5px;
    }
  }
  .dropdown {
    position: absolute;
    top: 48px;
    height: 59px;
    right: 4px;
    background: #1f3651;
    border-radius: 1px;
    padding: 0;
    min-width: 50px;
    z-index: 20;
    li {
      height: 30px;
      text-align: left;
      background: none;
      cursor: pointer;
      a {
        display: block;
        background: none;
        line-height: 30px;
        color: #728eaa;
        font-size: 12px;
        padding: 0 15px;
        &:hover,&:focus {
          background: #181f28;
        }
      }
    }
  }
}
