#allOrder {
  height: 100%;
  padding-bottom: 4px;
  background: #101622;
  position: relative;
  .hd {
    width: 100%;
    height: 40px;
    line-height: 24px;
    padding: 8px;
    background: #1b1e2e;
    li {
      display: inline-block;
      width: 33.3%;
      float: left;
      text-align: right;
      color: #818b95;
      font-size: 14px;
      &:first-child {
        text-align: left;
      }
    }
  }
  .order_bd {
    padding: 0 5px;
    color: #ffffff;
    font-size: 12px;
    li {
      height: 18px;
      line-height: 18px;
      div {
        display: inline-block;
        float: left;
        width: 33.3%;
        height: 18px;
        &.time {
          width: 25%;
          text-align: left;
          color: #87a3bf;
        }
        &.my {
          width: 8.3%;
          text-align: center;
          img {
            width: 12px;
          }
        }
        &.price {
          text-align: right;
        }
        &.volume {
          text-align: right;
          color: #87a3bf;
        }
      }
    }
  }
  .myScroll {
    width: 100%;
    background: none;
    max-height: calc(100% - 40px);
    margin-right: 0;
    padding-right: 2px;
  }
  .maker {
    height: 110px;
    width: 100%;
    padding: 4px 2px 4px 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #101622;
    .mk1 {
      width: 40%;
      display: inline-block;
      float: left;
    }
    .mk2 {
      width: 60%;
      display: inline-block;
      float: left;
      text-align: right;
    }
    .mk_hd {
      height: 24px;
      line-height: 24px;
      color: #818b95;
      padding-right: 4px;
    }
    .myScroll1 {
      width: 100%;
      background: none;
      max-height: 84px;
      margin-right: 0;
      padding-right: 2px;
    }
    .mk_bd {
      padding-right: 2px;
      li {
        height: 20px;
        line-height: 20px;
        color: #87a3bf;
      }
    }
  }
}
