.account {
  display: inline-block;
  height: 32px;
  padding: 0 15px;
  position: relative;
  .account_btn {
    display: inline-block;
    line-height: 32px;
    font-size: 12px;
    color: #87a3bf;
    text-decoration: none;
    i.sideslipAssets {
      @include sprite($assert)
      display: inline-block;
      vertical-align: -1px;
      margin-right: 3px;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      display: inline-block;
    }
  }
  .dropdown {
    position: absolute;
    right: 0;
    top: 32px;
    background: #38475a;
    width: 320px;
    padding: 1px 15px;
    background: #38475a;
    color: #87a3bf;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    z-index: 20;
    table {
      width: 100%;
    }
    tr {
      &::last-child {
        border-bottom: 1px solid #3a4a5e;
      }
      th {
        height: 36px;
        line-height: 36px;
        color: #87a3bf;
        font-weight: normal;
        &:last-child {
          text-align: right;
        }
      }
      td {
        height: 36px;
        line-height: 18px;
        border-top: 1px solid #3a4a5e;
        text-align: left;
        &:last-child {
          text-align: right;
        }
        img {
          margin-right: 5px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .viewAll {
      display: block;
      text-decoration: none;
      text-align: center;
      height: 30px;
      line-height: 30px;
      color: #4382f7;
    }
  }
}
