#marketList {
  background: #101622;
  font-size: 12px;
  height: 100%;
  .marketsHd {
    height: 32px;
    background: #18283b;
    padding: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      float: left;
      width: 25%;
      height: 32px;
      line-height: 32px;
      color: #fff;
      font-size: 13px;
      text-align: center;
      list-style: none;
      color: #87a3bf;
      cursor: pointer;
      &.check {
        color: #4382f7;
        background: #101622;
        // border-bottom: 2px solid #4382f7;
        font-weight: bold;
      }
    }
  }
  .search_box {
    height: 38px;
    padding-top: 10px;
    line-height: 28px;
    &>span {
      display: inline-block;
      width: 70px;
      text-indent: 10px;
      color: #87a3bf;
    }
    .search {
      display: inline-block;
      width: 160px;
      height: 26px;
      border: 1px solid #87a3bf;
      border-radius: 3px;
      input {
        height: 24px;
        background: none;
        border: none;
        width: 135px;
        outline: none;
        padding-left: 5px;
        color: #ccc;
      }
      .search_del {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        width: 19px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        i {
          font-size: 14px;
          color: #87a3bf;
        }
      }
    }

  }
  .marketBd {
    min-height: 416px;
  }
}
