.navbar-Home{
  color: #49627b;
  background: #232e3a;
  height: 60px;
  padding: 5px 0;
}
.nav-margin{
  margin-top: 10px;
}

.nav-margin a{
  margin: 0 6px;
}

@media(max-width: 767px){
    .navbar-right{
      float: right
    }
    .nav-pills{
      float: left
    }
}

@media(max-width: 767px){
  .navbar-right{
    float: right
  }
  .nav-pills{
    float: left
  }
}

.login-active .dropdown-toggle{
  padding: 0
}

.navbar-Home{
  .navbar-default{
    background-color:#232e3a;
    border-color:#232e3a;
    z-index: 100;
    .container-fluid{
      .navbar-collapse{
        .navbar-nav{
          >.active{
            a{
              background-color: #ededee;
              border-radius: 5px;
              color: #49627b;
            }
          }
          >li{
            a{
              color: #337ab7;
              &:hover{
                color: #49627b;
                background-color: #ededee;
                border-radius: 5px;
              }

            }
          }

        }
        .navbar-right{
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
  .login-active {
    font-size: 12px;
    .btc-img-position{
      position: relative;
      top: 2px
    }
    :nth-child(1) img{
      position: relative;
      top: -1px
    }
    :nth-child(2) img{
      position: relative;
      top: -2px
    }
    :nth-child(3) img{
      position: relative;
      top: 1px
    }
  }
  .title {
    font-size: 16px;
  }
}

