.navbar-Home{
  color: #49627b;
  background: #181f28;
  height: 60px;
  padding: 5px 0;
  z-index: 99;
  position: relative;
}
.nav-margin{
  margin-top: 10px;
}

.nav-margin a{
  margin: 0 6px;
}

@media(max-width: 767px){
    .navbar-right{
      float: right
    }
    .nav-pills{
      float: left
    }
}

@media(max-width: 767px){
  .navbar-right{
    float: right
  }
  .nav-pills{
    float: left
  }
}

.login-active .dropdown-toggle{
  padding: 0
}

.navbar-Home{
  .navbar-brand{
    padding: 12px 0px;
    padding-right: 25px;
  }
  .btc-ifo{
    a{
      background: initial!important;
    }
    ul{
      margin-top: 3px;
    }
  }
  .btc-country{
    cursor: pointer;
    .dropdown-toggle{
      background-color: initial;
      padding-bottom: 18px;
      &:hover{
        background-color: initial;
      }
      &:focus{
        background-color: initial;
      }
    }
    .dropdown-menu{
      right: 10px;
      width: 99px;
      min-width: 0;
      a{
        padding: 3px 9px;
      }
    }
  }
  .btc-header-signin{
    a{
      margin: 6px
    }
  }
  .navbar-default{
    background-color:#181f28;
    border-color:#181f28;
    z-index: 2;
      .navbar-collapse{
        .navbar-nav{
          >.active{
            a{
              border-radius: 5px;
              color: #417dee;
            }
          }
          >li{
            a{
              color: #728eaa;
              &:hover{
                color: #417dee;
                border-radius: 5px;
              }

            }
          }

        }
        .navbar-right{
          height: 50px;
          line-height: 48px;
          margin-right: -33px;
          .btc-country{
            >a{
              padding-left: 0;
            }
          }
        }
      }
  }
  .login-active {
    font-size: 12px;
    :nth-child(1) img{
      position: relative;
      top: -1px
    }
    :nth-child(2) img{
      position: relative;
      top: -2px
    }
    :nth-child(3) img{
      position: relative;
      top: 1px
    }
  }
  .title {
    font-size: 16px;
  }
  .btc-img-position{
    position: relative;
    top: 2px;
    cursor: pointer;
  }
  .btc-header-avatar{
    position: relative;
    top: -2px;
  }
  .btc-header-asset{
    position: relative;
    top: -2px;
  }
  .btc-header-letter{
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 992px){
  .navbar-right{
    display: none
  }
}

@media (min-width: 1000px){
  .navbar-toggle{
    display: none !important;
  }
}
