.navbar-Home{
  color: #49627b;
  background: #232e3a;
  height: 60px;
  padding: 10px 0;
}
.nav-margin{
  margin-top: 10px;
}

@media(max-width: 767px){
    .navbar-right{
      float: right
    }
    .nav-pills{
      float: left
    }
}

@media(max-width: 767px){
  .navbar-right{
    float: right
  }
  .nav-pills{
    float: left
  }
}