// .btc-color666 > span{
//   margin-left: 30px;
// }

.btc-validateGoogle{
  padding: 25px 40px;
  padding-bottom: 55px;
  position: relative;
  min-height: 70vh;
  .btc-validate-gpt{
    padding-top: 135px;
  }

  .btc-validate-gmr{
    margin-right: -90px;
  }

  form{
    margin: 20px 0 17px 0;
    padding-top: 15px;
  }

  form span{
    padding-right: 29px;
    margin-top: 4px;
  }

  .btc-validate-gmr form input{
    width: 360px;
    height: 40px;
    font-size: 15px;
    padding: 0 5px;
  }

  .btc-validate-gmr form :nth-child(1) span{
    width: 70px;
    display: inline-block;
    text-align: right;
  }
  .btc-validate-googleApp{
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .btc-basicInput{
    font-size: 14px;
    padding: 0 17px;
  }

  .btc-validate-prompt{
    left: 75px;
    margin-bottom: 2px;
    text-align: start;
  }
  .useGoogle{
    text-align: initial;
    margin-left: 48px;
  }

  .refreshqrcode{
    color: #4382f7;
    padding: 0;
    border: none;
    &:active, &:focus{
      outline: none;
      outline-offset: 0;
      box-shadow: none;
    }
  }

  .btc-poniter{
    display: block;
    border: 1px solid #4382f7;
    text-align: center;
    line-height: 30px;
    min-width: 120px;
  }
  .img-margin{
    margin-left: -40px;
  }

  .btc-white-btn{
    height: 32px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    .btc-basicInput{
      width: 320px
    }
  }
  @media (max-width: 1200px) {
      .btc-validate-prompt{
        left: -78px;
      }
      .img-margin{
        margin-left: 0;
      }
      .useGoogle{
        text-align: initial;
        margin-left: 22px;
      }
  }
  @media (max-width: 992px) {
    form{
      padding: 20px 0 0 0;
    }
    .btc-b-r{
      border-right:none;
    }
    .btc-b-l{
      border-left:none;
    }
    .btc-validate-textCenter{
      text-align: center
    }
    .btc-validate-gpt{
      padding-top:25px;
      margin-bottom: 0 !important;
    }
    .minusStep{
      margin-top: 0;
      position: relative;
      >span{
        &:nth-child(1){
          margin-top: 0;
          position: absolute;
          left: 0;
          top: 56px;
        }
        &:nth-child(2){
          float: left;
          text-align: left;
          margin-top: 0;
        }
      }
      >button{
        margin-top: 10px;
      }
    }
    .useGoogle{
      text-align: center;
      margin-left: 0;
    }
    .alreadyApp{
      float: left;
    }
    .btc-validateGoogle .refreshqrcode{
      display: block;
    }
  }
}

@media (max-width: 409px) {
  .btc-marginT20 .btc-marginR5{
    margin-right:0;
    margin-bottom:5px;
  }
  .googleImg{
    width: 100%;
  }
  .btc-white-btn{
    font-size: 12px;
  }
}

i{
  display: inline-block;
  position: relative;
  top: 3px;
  cursor: pointer;
  margin-right: 3px;
}

.google-refresh{
  @include sprite($refresh-qrcode)
}

.google-ios{
  @include sprite($validate-iosapp)
}

.google-gplay{
  @include sprite($validate-gplay)
}
