.btc-color666 > span{
  color: black;
  margin-left: 30px;
}

.btc-validateGoogle{
  padding: 25px 40px;
  padding-bottom: 55px;
  position: relative;
  min-height: 70vh;
}

.btc-validateGoogle .btc-validate-googleApp{
  margin-right: 90px;
  text-align: end;
  padding-right: 115px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.btc-validate-gpt{
  padding-top: 135px
}

.btc-validate-gmr{
  margin-right: -90px;
}

.btc-validate-gmr form{
  margin-top: 75px
}

.btc-validate-gmr form input{
  width: 360px;
  height: 40px;
  font-size: 15px;
  padding: 0 5px;
}

.btc-validate-gmr form :nth-child(1) span{
  width: 70px;
  display: inline-block;
  text-align: right;
}

.btc-validateGoogle .btc-qrcode img{
  width: 140px;
  margin-left: -5px;
}

/* {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding-right: 55px;
} */

/* @media (max-width: 920px) {
  .btc-validateGoogle .btc-validate-googleApp{
    border: none
 }
 .btc-validate-gpt + div{
   text-align: center
 }
}

@media (max-width: 1202) {
  .btc-validateGoogle .btc-validate-googleApp{
    border: none
 }
 .btc-validate-gpt + div{
   text-align: right
 }
}


@media (max-width: 1320px) {
   .btc-validateGoogle .btc-validate-googleApp{
    margin-right:50px;
    text-align: center;
    padding: 0;
  }
  .btc-validate-googleApp + div{
    text-align: center
  }
} */


