.list {
    height: 66px;
    width: 100%;
    border-bottom: 1px solid #1f2a36;
    background: #181f28;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    &>div {
      display: inline-block;
      padding-top: 10px;
    }
  }
  .list-coin {
    width: 35%;
    text-indent: 10px;
    .coin {
      font-size: 16px;
      color: #fff;
      height: 26px;
      line-height: 26px;
      text-align: left;
      span {
        display: inline-block;
        text-align: left;
        color: #728eaa;
      }
    }
    .vol {
      font-size: 14px;
      color: #728eaa;
      height: 20px;
      line-height: 20px;
      text-align: left;
    }
  }
  .list-price {
    width: 35%;
    .price {
      font-size: 16px;
      color: #fff;
      height: 26px;
      line-height: 26px;
      text-align: left;
    }
    .val {
      font-size: 14px;
      color: #728eaa;
      height: 20px;
      line-height: 20px;
      text-align: left;
    }
  }
  .list-btn {
    width: 30%;
    text-align: center;
    div {
      display: inline-block;
      width: 80%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      background: #999999;
      border-radius: 2px;
      &.text-up {
        background: #fc4a4a;
      }
      .text-down {
        background: #29c1a6;
      }
    }
  }
